.vjs-big-play-button {
  font-size: 2em !important;
}
.vjs-poster {
  background-color: transparent !important;
  border-radius: 8px !important;
}
.video-js {
  background-color: transparent !important;
  border-radius: 8px !important;
}
.my-video{
  height: 200px !important;
}
.modal-video{
  height: 100% !important;
}

