<div class="race-compo" *ngIf="racingSchedule">
  <div class="d-flex justify-content-between align-items-center mt-4">
    <h5 class="fs-16 sm-fs-14 header ">{{ sportsType | translate }}</h5>
    <span *ngFor="let data of racingSchedule">
      <button class="btn btn-theme mb-2" (click)="changeIndex(data.date)" *ngIf="data.date">
        {{ data.date | daysFormatPipe | translate }}
      </button>
    </span>
  </div>

  <ul class="tabs p-2 d-flex mb-0 align-items-center">
    <li class="pointer" *ngFor="let data of racingSchedule[selectedIndex]?.childs; index as i"
      [class.active]="activeIndex === i">
      <span class="d-flex justify-content-center align-items-center  " (click)="isOpen(i,data)">
        <span class="flag_logo" [class]="data.countryCode"></span>
        <span>{{ data.countryCode }}</span>
      </span>
    </li>
  </ul>
  <!-- Content Section -->
  <ng-container *ngIf="selectedData.toggle">
    <div class="d-flex p-1 bb-1 raceCard" *ngFor="let childs of selectedData.childs">
      <div class="race-header">
        <span class="trackName   sm-fs-13">{{ childs.trackName }}</span>
      </div>
      <div class="d-flex flex-wrap align-items-center">
        <span class="startTime sm-fs-13 pointer" *ngFor="let item of childs.childs"
          [routerLink]="'/sports/' + item.url">
          {{ item.startTime | date:
          'HH:mm' }}
        </span>
      </div>
    </div>
  </ng-container>
</div>