.filters {
  display: flex;
  padding: 5px 10px 0 10px;
  gap: 7px;
  .search-box {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    .icon {
      position: absolute;
      top: 7px;
      right: 14px;
      svg {
        height: 21px;
        width: 16px;
      }
    }
  }
  .btn-default {
    border-radius: 4.156px;
    background: var(--cardBg);
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 20px;
    }
  }
}
.popular-tab {
  overflow: auto;
  display: flex;
  grid-gap: 12px;
  gap: 12px;
  align-items: center;
  padding: 0 10px 6px 10px;
  margin-right: 10px;
}
.popular-tab li {
  padding: 6px 26px 5px 15px;
  border-radius: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  grid-gap: 7px;
  gap: 7px;
  border-radius: 32.983px;
  border: 1.031px solid var(--casinoFilterItemBorderClr);
  background: var(--casinoFilterItemBg);
  color: var(--casinoFilterItemClr);
}
.popular-tab li.active {
  background: var(--casinoFilterItemActiveBg);
  border: 1.031px solid var(--casinoFilterItemActiveBg);
  color: var(--casinoFilterItemActiveClr);
  img {
    filter: var(--flterImgTheme) !important;
  }
  a {
    color: var(--darkBgText) !important;
  }
}
html {
  scroll-behavior: smooth;
}
.popular-tab li a {
  white-space: nowrap !important; 
  font-weight: 400;
  font-size: 11px;
  max-width: 120px;
}
.popular-tab li img {
  height: 12px;
  width: 12px;
}
::-webkit-scrollbar {
  height: 0px !important;
  width: 0px !important;
  background: var(--casino-twenty-four-webkit-scrollbar-clr);
  -webkit-appearance: none;
}
::-webkit-scrollbar-thumb {
  background: var(--casino-twenty-four-webkit-scrollbar-track-thumb);
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}
::-webkit-scrollbar-track {
  background: var(--casino-twenty-four-webkit-scrollbar-track-bg);
  border-radius: unset !important;
  -webkit-appearance: none;
}
