.modal-dialog {
  position: relative;
}
#iframe-casino {
  border: none !important;
}
.btn-close {
  opacity: 1;
  color: #000;
  position: absolute;
  right: 25px !important;
  top: 40px !important;
  font-size: 24px;
  background: var(--main-bg) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border-radius: 6px;
  z-index: 10000;
  cursor: pointer;
}
iframe {
  height: 100vh !important;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 43%;
  width: 100%;
}

.modal-content .modal-body {
  padding: 0 !important;
}
