<div class="modal-dialog pb-5" style="height: 100vh;">
  <div class="modal-header bg-transparent  border-0">
    <button type="button" class="btn-close pointer" (click)="closeModal()">
      <i class="bi bi-x"></i>
    </button>
  </div>
  <div class="modal-content">
    <div class="modal-body" style="height: 100vh;">
      <iframe id="iframe-casino"
        [ngClass]="winOrMob === 'Win32' ? 'androidHeight' : PlatformOS == 'Android' ? 'mobAndroid' : 'iOSheight'"
        [src]=" iframeurl ? (iframeurl | safe) : null" width="100%" (load)="iframeurl ? loadIframe() : null"></iframe>
      <!-- <iframe id="iframe-casino" [src]=" iframeurl ? (iframeurl | safe) : null" width="100%"
          (load)="iframeurl ? loadIframe() : null"></iframe> -->

      <div class="loader" *ngIf="!iframeLoad || showMsg">
        <div class="d-flex flex-column" *ngIf="showMsg">
          <span class="err-msg mb-2 f-5 sm-fs-12" *ngIf="isGameError">Error: {{showMsg}}</span>
          <span class="err-msg mb-2 fs-20 sm-fs-12" *ngIf="!isGameError">{{showMsg}}</span>
          <span class="err-msg mb-2 fs-20 sm-fs-12">Please contact support</span>
        </div>
        <div class="loader-icon" *ngIf="!iframeLoad">
          <!-- <app-preloader></app-preloader> -->
        </div>
      </div>
    </div>
  </div>
</div>