<div class="content-wrapper" *ngIf="currentRoute=='terms'" style="max-width: 1000px !important;margin-bottom: 100px;">
  <div class="modal-header">
    <h4 class="modal-title fw-bold fs-16 mb-4" id="modal-basic-title" [translate]="'termsandconditionsagreement'">
      {{'termsandconditionsagreement'|translate}}
    </h4>
  </div>
  <div class="modal-content sm-fs-13">
    <p>
      {{'usersadvisory'|translate}}
      {{'termsandconditions'|translate}}, {{'anyuserwhowillplacebet'|translate}}:
    </p>
    <ul id="ulTermCond" class=" terms-list">
      <li class="list-group-item">
        {{'anysortof'|translate}}{{'cheating'|translate}}{{'betanysortof'|translate}}
        {{'matchingpassingoffunds'|translate}}, {{'courtsiding'|translate}}
        {{'ghaobaazioncommentary'|translate}}
        {{'isnotallowedinexchange'|translate}}
      </li>
      <li class="list-group-item">
        {{'flukehuntingseeking'|translate}} {{'flukebetsreserved'|translate}}
      </li>

      <li class="list-group-item">
        {{'exchangewillnotbearloss'|translate}}
      </li>
      <li class="list-group-item">
        {{'betfairrights'|translate}}
      </li>
      <li class="list-group-item">
        {{'exchangedecisionauthority'|translate}}
      </li>
      <li class="list-group-item">
        <span class="new-terms">{{'new'|translate}}</span>
        {{'warningfortwoids'|translate}}
      </li>
    </ul>

  </div>

</div>
<div class="content-wrapper" style="max-width: 1000px !important;margin-bottom: 100px;"
  *ngIf="currentRoute=='gambling'">
  <div class="modal-header">
    <p class="modal-title fw-bold fs-16 mb-4">{{'responsiblegambling'|translate}}</p>
  </div>
  <div class="modal-content sm-fs-13">
    <div id="responsiblegambling">
      <!-- <h1>Understanding Gambling</h1> -->
      <p>{{'ensuremaintaincontrol'|translate}}
      </p>
      <p><a>{{'Maintaining_Control'|translate}}</a></p>
      <ul>
        <li>{{'control1'|translate}}</li>
        <li>{{'Avoid_chasing_losses'|translate}}</li>
        <li>{{'gamblewithmoney'|translate}}</li>
        <li>{{'keeptrack'|translate}}</li>
        <li>{{'balancegamble'|translate}}</li>
        <li>{{'trytounderstand'|translate}}
        </li>
      </ul>
      <p><a>{{'Self_Assessment'|translate}}</a></p>
      <p>{{'sfp'|translate}}</p>
      <ol>
        <li>{{'Haveothersevercriticisedyourgambling?'|translate}}</li>
        <li>{{'boringorunhappy'|translate}}</li>
        <li>{{'arguments'|translate}}</li>
        <li>{{'longperiods'|translate}}</li>
        <li>{{'collorschool'|translate}}</li>
        <li>{{'moneyortime'|translate}}</li>
        <li>{{'bettinghabits'|translate}}</li>
        <li>{{'gamblingmoney'|translate}}</li>
        <li>{{'lostfamily'|translate}}</li>
        <li>{{'winback'|translate}}</li>
        <li>{{'runoutmoney'|translate}}</li>
        <li>{{'busfare'|translate}}</li>
        <li>{{'suicidal'|translate}}</li>
      </ol>
      <p>{{'advice&support'|translate}}</p>
    </div>
  </div>
</div>
<div class="main-wrapper" *ngIf="currentRoute=='cookies'" style="max-width: 1000px !important;margin-bottom: 100px;">
  <div class="modal-header">
    <h4 class="modal-title fw-bold fs-16 mb-4 cookiepolicy-header">{{'cookiepolicy'|translate}}</h4>
  </div>
  <div class="modal-content sm-fs-13">
    <div id="cookiepolicy">
      <!-- <h1>Cookie Policy</h1> -->
      <p>{{'cookie1'|translate}}</p>
      <p><a><strong>
            {{'whatiscookie'|translate}}
          </strong></a></p>
      <p>
        {{'cookiep1'|translate}}
      </p>
      <p>
        {{'cookiep2'|translate}}
      </p>
      <p>
        {{'cookiep3'|translate}} <b>{{'cookieb'|translate}}</b>.
      </p>
      <hr>
    </div>
  </div>
</div>