.badge_custom_styling {
  padding: inherit;
  height: 38px;
  width: 111px;
  display: block;
  border-radius: 4px;
  color: #fff;
  background: var(--allLiabilityClr);
}
.table {
  th {
    background: var(--deposit-history-th-bg) !important;
    color: var(--deposit-history-th-clr);
  }
  td {
    color: var(--deposit-history-td-clr);
  }
}
