<div >
  <!-- <div class="header_top_txt col s12 m3">
    <div class="header_top_txt_inn" *ngIf="paymentDetails ">
      <span class="wallet-name">{{'liability'|translate}}: <a (click)="loadBalance()" class="refresh-icon-style">
          <img src="assets/images/refresh.png" [ngClass]="sendingrequest==true ? 'refresh refresh-icon' : 'refresh' " />
        </a></span>
      <span class="red-text wallet-value accent-3">{{paymentDetails.liability | number : '1.2-2'}}</span>
    </div>
  </div>
  <div class="header_top_txt col s12 m3">
    <div class="header_top_txt_inn" *ngIf="paymentDetails && paymentDetails.balance">
      <span class="wallet-name">{{'balance'|translate}}:</span>
      <span class="wallet-value white-color">{{paymentDetails.balance | number : '1.2-2' }}</span>
    </div>
  </div> -->
</div>
