.leftsection {
  position: relative;
  min-width: 180px;
  padding-left: 0 !important;
  flex-basis: 25%;
}

.date-input {
  font-size: 12px;
  margin-top: 9px;
}

.date-label {
  line-height: normal;
  white-space: nowrap;
  font-size: 14px;
}

.input-box label {
  text-transform: capitalize;
  padding: 1px 5px;
  font-style: normal;
  font-size: 14px;
  line-height: normal;
  font-weight: 500;
}

.input-box .input-group {
  background: var(--white_background_color);
  box-sizing: border-box;
  border-radius: 5px;
}

select:focus-visible {
  outline: -webkit-focus-ring-color auto 0px !important;
}

.custom-select {
  margin-top: 9px;
  appearance: auto !important;
}

.custom-select > label {
  text-transform: uppercase !important;
}

.input-box .input-group input {
  background: var(--white_background_color);
  box-sizing: border-box;
  border-radius: 8px;
  border: 0 !important;
  outline: none !important;
}

.input-box .input-group input:active {
  border: 0 !important;
  outline-style: none !important;
  outline: none !important;
}

.input-box .input-group input:focus,
.date-input:focus {
  outline-style: none !important;
  outline: 0 !important;
  box-shadow: none;
}

.btn-box label {
  text-transform: capitalize;
  margin: 0;
  padding: 1px 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  color: transparent;
}

.calender-icons-clr {
  color: var(--reports-input-calender-icons-clr);
}

.submit-button {
  color: var(--reports-submit-btn-clr);
  background: var(--reports-submit-btn-bg);
  border-radius: 8px;
  display: block;
  width: 100%;
  text-transform: capitalize;
  border: none;
  padding: 10px 0px !important;
  transition: 0.3s ease-in-out;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  height: 40px;
  flex-basis: 25%;
}

.submit-button:focus {
  outline: none;
  border: none;
}

.form {
  background: var(--report-input-container-bg);
  padding: 10px 7px 10px 7px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  color: var(--report-inputs-clr);
  border-radius: 5px;
  .input-box label {
    color: var(--report-inputs-clr);
    font-style: normal;
    line-height: normal;
  }
}

.date-wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.date-date-wrapper {
  margin-right: 5px;
  position: relative;
  width: 100%;
}

.date-time-wrapper {
  position: relative;
  width: 100%;
}

.submit-button {
  border-radius: 5px !important;
  margin-left: 5px;
  align-self: flex-end;
  //margin-bottom: 3px;
  max-width: 400px;
  min-width: 160px;
}

@media (max-width: 1090px) {
  .form {
    flex-direction: column;
  }

  .leftsection {
    width: 100%;
  }

  .date-wrapper {
    width: 100%;
  }

  .submit-button {
    align-self: center;
    margin-top: 5px;
  }
}

@media (max-width: 600px) {
  .submit-button {
    font-size: 14px;
  }

  .date-wrapper {
    gap: 5px;
  }

  .date-date-wrapper {
    margin-right: 0px;
  }

  .date-input {
    min-width: 100%;
  }

  .submit-button {
    margin-left: 0px;
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .custom-select {
    margin-top: 2px;
    font-size: 12px;
  }
  .form {
    padding: 10px 14px 10px 14px !important;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .submit-button {
    font-size: 14px !important;
  }
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  //background: url('/assets/calender.svg') no-repeat;
  display: none;
}

/* For Firefox */
@supports (-moz-appearance: none) {
  input[type="date"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
  }
}

.calender-icon {
  position: absolute;
  left: calc(100% - 29px);
  top: 40px;
}
.time-icon {
  position: absolute;
  left: calc(100% - 30px);
  top: 37px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  //background: url('/assets/time.svg') no-repeat;
  display: none;
}

.input-group {
  position: relative;
}

.custom-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
@media (max-width: 600px) {
  .date-label {
    font-size: 12px !important;
  }

  .form {
    padding: 3px !important;
  }
}

@media (max-width: 320px) {
  .date-label {
    font-size: 12px;
  }

  .date-input {
    font-size: 12px !important;
    // padding: 0px!important;
    // commneted padding because not they looking good
  }

  // reducing form padding for galaxy z fold to give it some more space for content
  .form {
    padding: 5px !important;
  }

  .calender-icon {
    left: calc(100% - 26px);
    top: 38px;
  }
}

@media (max-width: 300px) {
  .date-wrapper {
    width: 96%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    .end-time,
    .start-time {
      .calender-icon {
        top: 13px !important;
        left: calc(100% - 31px);
      }
      label {
        display: none !important;
      }
    }
  }
  .submit-button {
    max-width: 50%;
    width: 50%;
    font-size: 13px;
    margin-top: 0px;
  }
}
