<ng-container *ngIf="lineData && lineData.length>0">
  <ng-container *ngFor="let item of lineData | groupAndSortLineMarkets;">
    <ng-container *ngIf="item.data && item.data.length>0">
      <div class="landing-page pt-0 mb-0 cricket-component">
        <div class="tab-container cricket-pages-tabs p-0  mb-1">
          <div class="tabs bg-tansparent  d-flex mb-0">
            <div class="d-flex ">
              <div class="d-flex sm-flex-column">
                <div class="menu border-0 fs-lap-13 sport-name pl-0 me-3">
                  {{ item.name }}
                </div>
                <div class="d-flex   align-items-center sm-fs-11 fs-lap-12 me-3 min-max  mt-1"
                  *ngFor="let lineMarket of item.data;let i = index">
                  <ng-container *ngIf="i==0">
                    Min:
                    {{ lineMarket.minSettings | shortennum }} | Max:
                    {{ lineMarket.maxSettings * localMarketRate | shortennum }}
                    <div class="d-flex lib-text align-items-center  fs-lap-12 sm-fs-13 liability ms-3"
                      *ngIf="lineMarket?.marketLiability">
                      {{ "Lib" | translate }} :

                      <span class="liabilityClr ms-1"> {{ lineMarket?.marketLiability | roundoff }}</span>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
            <!-- <div class="d-flex match-card lay-back-heading ">
              <div class="odds-container">
                <app-oddsbutton [cssClass]="'transparnt-odd desktop-odds text-back'" [price]="'YES'"></app-oddsbutton>
                <app-oddsbutton [cssClass]="'transparnt-odd desktop-odds text-lay'" [price]="'No'"></app-oddsbutton>
              </div>
            </div> -->
            <div class="collapse-icon expendable-panel-clr pointer me-2" style="font-size: 26px;" (click)="collapseMarket(item)">
              {{item?.collapse
              ?
              "+" : "-"}} </div>
          </div>
        </div>
        <div class="position-relative" *ngIf="!item?.collapse">
          <div *ngIf="oneClickBetObj[item.name]"
            class="market-overlay position-absolute bg-theme  d-flex justify-content-center align-items-center sm-fs-14">
            <img [src]="siteLoader" height="100px" alt="Loading..." />
          </div>
          <ng-container *ngFor="let lineMarket of item.data">
            <div
              class="match-card align-items-center flex-row market-bg px-2 pt-2 pb-2 border-0 mb-1 position-relative">
              <div class="match-info w-100  d-flex align-items-center">
                <div class="match-teams w-100 d-flex ms-2  ">
                  <div class="d-flex justify-content-between fs-lap-13 w-100">
                    <span class="fs-lap-13"> {{lineMarket.runnerName}}</span>
                    <div class="me-2">
                      <span *ngIf="lineMarket.position"
                        [ngClass]="lineMarket.position >= 0 ? 'text-success' : 'liabilityClr'">
                        {{ lineMarket.position | roundoff }}</span>
                      <span class="ms-1" *ngIf="lineMarket.whatIf !== null && lineMarket.whatIf !== undefined"
                        [ngClass]="lineMarket.whatIf !== null && lineMarket.whatIf >= 0 ? 'text-success' : 'liabilityClr'">
                        => {{lineMarket.whatIf | roundoff}}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="odds-container position-relative">
                <div class="market-overlay position-absolute d-flex justify-content-center align-items-center sm-fs-12 "
                  *ngIf="lineMarket.status !== 'OPEN'">
                  {{ lineMarket.status | translate }}
                </div>

                <div class="d-flex transparnt-odd desktop-odds odds-item align-items-center justify-content-end "
                  *ngIf="item.name == 'Line Markets'">
                  <div
                    class="position  d-lg-none d-flex  justify-content-center text-center sm-fs-13 sm-fs-11 flex-column me-1">
                    <span *ngIf="lineMarket?.marketLiability"
                      [ngClass]="lineMarket?.marketLiability >= 0 ? 'text-success' : 'liabilityClr'">
                      {{ lineMarket?.marketLiability | roundoff}}</span>

                  </div>

                  <img class="me-1" (click)="
              openLinePosition(lineMarket.marketId, lineMarket.marketName)
            " src="https://iriscdn.b-cdn.net/kheloyar/clientweb/images/ladder.svg" height="20px" alt="">
                </div>
                <div class="d-none d-md-flex lap-d-none">
                  <app-oddsbutton [cssClass]="'lay-light desktop-odds'"
                    (click)="placebetLine(item.name,lineMarket, 'back',lineMarket.back?.[2]?.price)"
                    [price]="lineMarket.back?.[2]?.price == 0 ? ' ' : lineMarket.back?.[2]?.price"
                    [size]="lineMarket.back?.[2]?.size==''?' ':lineMarket.back?.[2]?.size"></app-oddsbutton>
                </div>
                <div class="d-none d-md-flex ">
                  <app-oddsbutton [cssClass]="'lay-light desktop-odds'" (click)="
                  placebetLine(item.name,lineMarket, 'back',lineMarket.back?.[1]?.price)
                " [price]="lineMarket.back?.[1]?.price == 0 ? ' ' : lineMarket.back?.[1]?.price"
                    [size]="lineMarket.back?.[1]?.size==''?' ':lineMarket.back?.[1]?.size"></app-oddsbutton>
                </div>
                <app-oddsbutton [cssClass]="'back desktop-odds'" (click)="
              placebetLine(item.name,lineMarket, 'back',lineMarket.back?.[0]?.price)
            " [price]="lineMarket.back?.[0]?.price == 0 ? ' ' : lineMarket.back?.[0]?.price"
                  [size]="lineMarket.back?.[0]?.size==''?' ':lineMarket.back?.[0]?.size"></app-oddsbutton>

                <app-oddsbutton [cssClass]="'lay desktop-odds'" (click)="
              placebetLine(item.name,lineMarket, 'lay',lineMarket.lay?.[0]?.price)
            " [price]="lineMarket.lay?.[0]?.price == 0 ? ' ' : lineMarket.lay?.[0]?.price"
                  [size]="lineMarket.lay?.[0]?.size==''?' ':lineMarket.lay?.[0]?.size"></app-oddsbutton>
                <div class="d-none d-md-flex ">
                  <app-oddsbutton [cssClass]="'back-light desktop-odds'" (click)="
                  placebetLine(item.name,lineMarket, 'lay',lineMarket.lay?.[1]?.price)
                " [price]="lineMarket.lay?.[1]?.price == 0 ? ' ' : lineMarket.lay?.[1]?.price"
                    [size]="lineMarket.lay?.[1]?.size==''?' ':lineMarket.lay?.[1]?.size"></app-oddsbutton>
                </div>
                <div class="d-none d-md-flex lap-d-none">
                  <app-oddsbutton [cssClass]="'back-light desktop-odds'" (click)="
                    placebetLine(item.name,lineMarket, 'lay',lineMarket.lay?.[2]?.price)
                  " [price]="lineMarket.lay?.[2]?.price == 0 ? ' ' : lineMarket.lay?.[2]?.price"
                    [size]="lineMarket.lay?.[2]?.size ==''?' ':lineMarket.lay?.[2]?.size"></app-oddsbutton>
                </div>
              </div>

            </div>
            <div *ngIf="lineMarket.betslip">
              <app-partial-betslip [r]="lineMarket.betslip" (valueChange)="lineBetPlacedStatus($event)"
                (whatIfFigure)="calculateWhatIf($event)"></app-partial-betslip>
            </div>
          </ng-container>
        </div>

      </div>
    </ng-container>

  </ng-container>
</ng-container>
