<div id="changepin-modal">
  <div class="header-top">
    <div type="button" class="modal-close" (click)="closeModal()">
      <i class="bi bi-x-lg fs-16"></i>
    </div>
    <span>Change your withdraw PIN</span>
  </div>
  <div *ngIf="loading" class="overlay">
    <div class="spinner-border text-light" role="status">
    </div>
  </div>
  <div class="pin-modal-body">

    <form class="p-4" [formGroup]="changePinForm" (ngSubmit)="submit()">
      <div class="row" style="justify-content: space-around;">
        <div class="col-md-12 input-box">
          <div class="form-group d-flex mb-2 pl-0">

            <div class=" w-100 position-relative">
              <a style="top: 11px;">
                <i class="bi bi-lock"></i>
              </a>
              <input id="phone" class="form-control" [readOnly]="isDisabled" type="text" formControlName="phone"
                value="{{clientPhone}}" [maxlength]="10">
            </div>

            <div class="otp-wrap ms-1">
              <div class="otp-btn" (click)="getOtp()">
                <span *ngIf="!loadingOtp" id="otp-text">Get OTP</span>

                <div *ngIf="loadingOtp" class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 input-box">
          <div class="form-group mb-2 pl-0">
            <label for="otp">
              {{'Please Enter 4 Digits OTP Here:' | translate}}
            </label>
            <div class="otp-container gap-1 d-flex">
              <input #otpInput1 inputmode="numeric" autocomplete="off" class="form-control otp-input"
                (input)="onInput($event, 1)" (keydown)="onKeyDown($event, 1)" (keypress)="onKeyPress($event)"
                type="text" maxlength="1" pattern="\d" inputmode="numeric" />
              <input #otpInput2 inputmode="numeric" autocomplete="off" class="form-control otp-input"
                (input)="onInput($event, 2)" (keydown)="onKeyDown($event, 2)" (keypress)="onKeyPress($event)"
                type="text" maxlength="1" pattern="\d" inputmode="numeric" />
              <input #otpInput3 inputmode="numeric" autocomplete="off" class="form-control otp-input"
                (input)="onInput($event, 3)" (keydown)="onKeyDown($event, 3)" (keypress)="onKeyPress($event)"
                type="text" maxlength="1" pattern="\d" inputmode="numeric" />
              <input #otpInput4 inputmode="numeric" autocomplete="off" class="form-control otp-input"
                (input)="onInput($event, 4)" (keydown)="onKeyDown($event, 4)" (keypress)="onKeyPress($event)"
                type="text" maxlength="1" pattern="\d" inputmode="numeric" />
            </div>
          </div>

        </div>
        <div class="row p-0" style="justify-content: space-around;">
          <div class="col-md-12 input-box">
            <div class="form-group mb-2 pl-0">
              <label for="pin">
                {{'Pin' | translate}}
              </label><sup style="color: #FF1D1D;">*</sup>
              <span class="d-flex align-items-center ">
                <input id="pin" [type]="isPin ? 'password' : 'text'" name="pin" spaceRemover [maxlength]="20"
                  class="form-control " placeholder="{{'Enter your new PIN'|translate}}" formControlName="pin">
                <a class="pointer me-1 " (click)="isPin = !isPin">
                  <i [class.bi-eye-slash]="!isPin" [class.bi-eye]="isPin"></i>
                </a>
              </span>
              <div class="err-msg" *ngIf="pin?.invalid && (pin?.dirty || pin?.touched)">
                <div *ngIf="pin?.errors?.required">{{'pinrequired'|translate}}</div>
                <div *ngIf="pin?.errors?.error">{{pin?.errors?.error}}</div>
                <div *ngIf="pin?.errors?.invalid">{{pin?.errors?.invalid}}</div>
                <div *ngIf="pin?.errors?.identicalNumbers">{{'identical'|translate}}</div>
                <div *ngIf="pin?.errors?.sequentialNumbers">{{'sequence'|translate}}</div>
                <div *ngIf="pin?.errors?.maxlength">{{'pinMax' | translate}}</div>
              </div>
            </div>

          </div>
          <div class="col-md-12 input-box">
            <div class="form-group mb-2 pl-0">
              <label for="confirmPin">
                {{'Confirm PIN' | translate}}
              </label><sup style="color: #FF1D1D;">*</sup>
              <span class="d-flex align-items-center ">
                <input id="isConfirmPin" [type]="isConfirmPin ? 'password' : 'text'" name="isConfirmPin" spaceRemover
                  [maxlength]="20" class="form-control" placeholder="{{'Confirm new PIN'|translate}}"
                  formControlName="confirmPin">
                <a class="pointer me-1 " (click)="isConfirmPin = !isConfirmPin">
                  <i [class.bi-eye-slash]="!isConfirmPin" [class.bi-eye]="isConfirmPin"></i>
                </a>
              </span>
              <div class="err-msg" *ngIf="confirmPin?.invalid && (confirmPin?.dirty || confirmPin?.touched)">
                <div *ngIf="confirmPin?.errors?.required">{{'confirmPinreq'|translate}}</div>
                <div *ngIf="confirmPin?.errors?.error">{{confirmPin?.errors?.error}}</div>
                <div *ngIf="confirmPin?.errors?.invalid">{{confirmPin?.errors?.invalid}}</div>
                <div *ngIf="confirmPin?.errors?.identicalNumbers">{{'identical'|translate}}</div>
                <div *ngIf="confirmPin?.errors?.sequentialNumbers">{{'sequence'|translate}}</div>
                <div *ngIf="confirmPin?.errors?.maxlength">{{'pinMax' | translate}}</div>
                <div *ngIf="changePinForm.hasError('pinMismatch') && confirmPin?.dirty">
                  {{'pinMismatch'|translate}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pin-modal-footer">
        <button type="button" class="close mdclosebtn " (click)="closeModal()">Close</button>
        <button class="save btn-theme" type="submit">Save</button>
      </div>
    </form>
  </div>