<div class="main-wrapper">
  <div class="modal-header">
    <p class="modal-title">{{ "payments" | translate }}</p>
  </div>
  <div class="modal-content payment">
    <div class="flex img-flex">
      <div class="flex_img">
        <img class="imgpayment" src="https://iriscdn.b-cdn.net/kheloyar/magicwin/Phonepe.png" />
      </div>

      <div class="flex_img">
        <img class="imgpayment" src="https://iriscdn.b-cdn.net/kheloyar/magicwin/Paytm.png" />
      </div>
    </div>
    <div class="flex img-flex">
      <div class="flex_img">
        <img class="imgpayment" src="https://iriscdn.b-cdn.net/kheloyar/magicwin/QRCode.png" />
      </div>
      <div class="flex_img">
        <img class="imgpayment" src="https://iriscdn.b-cdn.net/kheloyar/magicwin/Upi.png" />
      </div>
    </div>
    <div class="flex img-flex">
      <div class="flex_img">
        <img class="imgpayment" src="https://iriscdn.b-cdn.net/kheloyar/magicwin/Google Pay.png" />
      </div>

      <div class="flex_img">
        <img class="imgpayment" src="https://iriscdn.b-cdn.net/kheloyar/magicwin/Bank.png" />
      </div>
    </div>

    <!-- <div class="flex img-flex">
      <div class="flex_img">
        <img class="imgpayment" src="/assets/images/payment2.png" />
      </div>
      <div class="flex_img">
        <img class="imgpayment" src="/assets/images/payment5.png" />
      </div>
    </div>
    <div class="flex img-flex">
      <div class="flex_img">
        <img class="imgpayment" src="/assets/images/payment3.png" />
      </div>
      <div class="flex_img">
        <img class="imgpayment" src="/assets/images/payment6.png" />
      </div>
    </div> -->
    <!-- <div class="flex img-flex">
      <div class="flex_img">
        <img class="imgpayment" src="/assets/images/payment4.png" />
      </div>
    </div> -->
  </div>
</div>
