.modal-body {
  margin-top: 20px;
  height: 96vh;
  .close-button {
    cursor: pointer;
    color: var(--casino-filter-close-btn-clr);
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 20px;
  }
  .modal-overlays {
    width: 100%;
    padding: 0px 6px;
    margin-bottom: 20px;
    .filters-header {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 15px;
      margin-top: -15px;
      .border-light {
        border-radius: 9px;
        background: var(--casino-filter-header-clr-bg);
        height: 3px;
        width: 40%;
        gap: 15px;
      }
      .heading {
        display: flex;
        grid-gap: 10px;
        gap: 10px;
        align-items: center;
        svg {
          height: 22px;
          width: 22px;
        }
        span {
          color: var(--casino-filter-text-clr);

          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }

    .flex-container {
      margin-top: 30px;
      .heading {
        color: var(--filter-popup-heading-clr);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 13px;
      }
      .items {
        display: flex;
        gap: 7px;
        flex-wrap: wrap;
        overflow: hidden;
      }
      .item {
        padding: 7px 10px;
        border-radius: 5px;
        border: 1px solid var(--casinoFilterItemBorderClr);
        background: var(--casinoFilterItemBg);
        color: var(--casinoFilterItemClr);
        width: fit-content;
        text-align: center;
        height: fit-content;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      .active-item {
        border: 1px solid var(--casinoFilterItemActiveBg);
        background: var(--casinoFilterItemActiveBg);
        color: var(--casinoFilterItemActiveClr);
      }
      .game-types {
        display: flex;
        gap: 7px;
        flex-wrap: wrap;
      }
      .see-more {
        color: var(--casino-modal-see-more);
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-top: 15px;
        display: flex;
        justify-content: center;
        gap: 7px;
        align-items: center;
        img {
          height: 9px;
        }
      }
      .heightAuto {
        height: 500px !important;
        overflow: scroll;
      }
    }
  }
}

@keyframes slideUp {
  from {
    top: 100vh; /* Start position */
  }
  to {
    top: 0; /* End position */
  }
}

@media (max-width: 768px) {
  .modal-body {
    .modal-overlays {
      .flex-container {
        .items {
          justify-content: space-between;
          .item {
            width: max-content;
            flex-grow: 1;
          }
        }
      }
    }
  }
}
