.casino-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  .total-games {
    display: none;
  }
  ::-webkit-scrollbar {
    height: 0px !important;
    width: 0px !important;
    background: var(--casino-twenty-four-webkit-scrollbar-clr);
    -webkit-appearance: none;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--casino-twenty-four-webkit-scrollbar-track-thumb);
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }

  ::-webkit-scrollbar-track {
    background: var(--casino-twenty-four-webkit-scrollbar-track-bg);
    border-radius: unset !important;
    -webkit-appearance: none;
  }

  .footer-cont {
    .card-casino-footer-cont {
      margin-bottom: 3px;
    }
  }
  .no-data-found{
    min-height: 40vh;
    color: var(--casino-no-data-found-clr); 
  }
}
.bi-chevron-down {
  color: var(--casino-see-more-icon-clr);
}
.games-container {
  display: block; 
  padding: 10px 9px;
  .games-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--casino-twenty-four-games-header-bg);
    color: var(--casino-twenty-four-games-header-clr);
    padding: 8px 12px;
    border-radius: 5px;
    h2 {
      font-size: 20px;
      font-weight: 500;
      margin: 0;
    }

    .see-more {
      font-size: 16px;
      color: var(--casino-see-more-clr);
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        color: var(--casino-see-more-clr);
      }
    }
  }

  .games-list {
    display: flex;
    gap: 20px;
    overflow-y: hidden;
    padding-top: 20px;

    .game-card {
      border-radius: 8px;
      width: 225px;
      position: relative;
      .login-button-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        background: var(--game-card-overlayBg);
        justify-content: center;
        align-items: center;
        display: flex;

        .login-button {
          padding: 0.375rem 0.75rem;
          background: var(--casino-login-button-bg);
          cursor: pointer;
          color: var(--casino-login-button-clr);
          font-size: 16px;
          text-transform: uppercase;
          font-weight: 600;
          border: 2px solid var(--casino-login-button-border-clr);
          border-radius: 5px;
        }

        .login-button:hover {
          background: var(--casino-twenty-four-hover-bg);
          border: 1px solid var(--casino-twenty-four-hover-border);
          color: var(--casino-twenty-four-hover-border);
        }
      }

      .login-button-container:hover {
        opacity: 1;
      }

      img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        width: 100%;
        min-width: 225px;
        max-width: 225px;
        height: 175px;
        max-height: 180px !important;
      }

      .game-info {
        padding: 10px;
        background: var(--scasino-cardDesBg);
        border-radius: 0px 0px 8px 8px;

        .category {
          display: block;
          font-size: 12px;
          color: var(--casino-category-provider-clr);
          margin-bottom: 5px;
        }

        .title {
          font-size: 16px;
          font-weight: 500;
          margin: 5px 0;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          color: var(--casino-game-name-clr);
        }

        .provider {
          font-size: 12px;
          color: var(--casino-category-provider-clr);
        }
      }
    }
  }
}

.games-container-mobile {
  display: none; 
  padding: 15px 9px;
  .games-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--casino-twenty-four-games-header-bg);
    padding: 8px 5px;
    border-radius: 5px;
    color: var(--casino-twenty-four-games-header-clr);
    h2 {
      font-size: 20px;
      font-weight: 500;
      margin: 0;
    }

    .see-more {
      font-size: 16px;
      text-decoration: none;
      transition: color 0.3s ease;
      color: var(--casino-see-more-clr);
      &:hover {
        color: var(--casino-see-more-clr);
      }
    }
  }

  .games-list {
    display: flex;
    gap: 20px;
    overflow-y: hidden;
    padding-top: 20px;
    .game-card {
      border-radius: 8px;
      width: 250px;
      position: relative;
      .login-button-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        background: var(--game-card-overlayBg);
        justify-content: center;
        align-items: center;
        display: flex;

        .login-button {
          padding: 0.375rem 0.75rem;
          background: var(--casino-login-button-bg);
          cursor: pointer;
          color: var(--casino-login-button-clr);
          font-size: 16px;
          text-transform: uppercase;
          font-weight: 600;
          border: 2px solid var(--casino-login-button-border-clr);
          border-radius: 5px;
        }

        .login-button:hover {
          background: var(--casino-login-button-hover-bg);
          border: 2px solid var(--casino-login-button-hover-border-clr);
          color: var(--casino-login-button-hover-clr);
        }
      }

      .login-button-container:hover {
        opacity: 1;
      }

      img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        width: 100%;
        min-width: 250px;
        max-width: 250px;
        height: 175px;
        max-height: 180px !important;
      }

      .game-info {
        padding: 10px;
        background: var(--scasino-cardDesBg);
        border-radius: 0px 0px 8px 8px;

        .category {
          display: block;
          font-size: 12px;
          color: var(--casino-category-provider-clr);
          margin-bottom: 5px;
        }

        .title {
          font-size: 16px;
          font-weight: 500;
          margin: 5px 0;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .provider {
          font-size: 12px;
          color: var(--casino-category-provider-clr);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .games-container {
    display: none;
  }

  .games-container-mobile {
    display: block !important;
    padding: 0px 3px !important;
  }

  .total-games {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    color: var(--casino-name-list-clr);
    padding: 0px 5px 5px 5px;
    margin-bottom: 5px;
  }

  .login-button-container {
    display: none !important;
  }

  .casino-container {
    padding: 0px 0px 70px 0px;
  }

  .games-container {
    padding: 0px 5px;
  }

  .games-header {
    padding-left: 5px;
  }

  .games-list {
    grid-gap: 8px !important;
    gap: 8px !important;
    padding-top: 10px !important;
    margin-bottom: 0px !important;
  }

  .game-card {
    max-width: 175px !important;
    min-width: 152px !important;
    flex: 0 0 auto;

    img {
      object-fit: fill;
      border: 1.154px solid var(--casino-img-border);
      border-radius: 8px;
      max-width: 180px !important;
      min-width: 160px !important;
      height: 140px !important;
    }
  }

  .game-info {
    height: unset !important;
    display: none;
  }
}

@media (max-width: 500px) {
  .games-list {
    gap: 5px !important;
  }

  .game-card {
    max-width: 195px !important;
    min-width: 195px !important;

    img {
      max-width: 195px !important;
      min-width: 195px !important;
    }
  }
}

@media (max-width: 420px) {
  .games-list {
    gap: 5px !important;
  }

  .game-card {
    max-width: 190px !important;
    min-width: 190px !important;

    img {
      max-width: 190px !important;
      min-width: 190px !important;
    }
  }
}

@media (max-width: 400px) {
  .games-list {
    gap: 5px !important;
  }

  .game-card {
    max-width: 180px !important;
    min-width: 180px !important;

    img {
      max-width: 180px !important;
      min-width: 180px !important;
    }
  }
}

@media (max-width: 380px) {
  .games-list {
    gap: 5px !important;
  }

  .game-card {
    max-width: 170px !important;
    min-width: 170px !important;

    img {
      max-width: 170px !important;
      min-width: 170px !important;
      height: 140px !important;
    }
  }
}

@media (max-width: 365px) {
  .games-list {
    gap: 5px !important;
  }

  .game-card {
    max-width: 160px !important;
    min-width: 160px !important;

    img {
      max-width: 160px !important;
      min-width: 160px !important;
    }
  }
}

@media (max-width: 350px) {
  .games-list {
    gap: 5px !important;
  }

  .game-card {
    max-width: 140px !important;
    min-width: 140px !important;

    img {
      max-width: 140px !important;
      min-width: 140px !important;
    }
  }
}
