<div class="setCustomMinHeight">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 px-3 p-0" *ngIf="isLoading">
    <!-- <app-prealoader></app-prealoader> -->
  </div>
  <div class="text-center " *ngIf="markets.length<1">
    <h6>Premium races are not available</h6>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-1 row other-races" *ngIf="markets && markets.length>0 ">
    <div class="markets-heading">
      <ul class="nav nav-pills" *ngIf="markets.length>0">
        <li class="nav-item">
          <a class="nav-link " [ngClass]="selectedCategory == 'all' ? 'active' : '' "
            (click)="selectedCategory = 'all'">All</a>
        </li>
        <li class="nav-item" *ngFor="let item of racesCategory" (click)="selectedCategory = item">
          <a class="nav-link " [ngClass]="selectedCategory == item ? 'active' : '' ">{{item}}</a>
        </li>
      </ul>
      <div *ngIf="currentBets && currentBets.length > 0" class="mybets-main" (click)="openMyBetsModal()">
        <img src="https://iriscdn.b-cdn.net/SSWhiteLabel/assets/satfair/mybetting.svg" alt="my bet">
        <span>My Bets</span>
      </div>
    </div>
    <div class="p-1 col-sm-12 col-md-12 col-lg-12 col-xl-8 ">
      <ng-container *ngFor="let data of markets  | filterRaceByType:selectedCategory | sortByDate; let ii = index">
        <div class="work-box  my-3" style="position: relative;">
          <div class="work-box-1 head-cric-section" (click)="toggleCollapse(data)">
            <div class="overlay" *ngIf="data.status !== 'OPEN' ">
              <span class="overlay-text">
                {{data.status}}</span>
            </div>

            <div class="d-flex flex_style ">
              <div class="work-box-1-left mx-1">
                <span class="d-flex align-items-center flex-row" style="gap:5px">
                  <span [ngClass]="data.marketName.Type == 'Greyhound' ? 'sports4339' : 'sports7'"
                    class="race-img"></span>
                  <div class="race-type">
                    <span> {{data.marketName.TrackName}} {{data.marketName.Distance}} {{data.marketName.RaceNo}}</span>
                    <!-- <span *ngIf="data.marketName.Type == 'Greyhound'" >
                  Greyhound Racing Today's
                </span>
                <span *ngIf="data.marketName.Type != 'Greyhound'" >
                  Horse Racing Today's
                </span> -->
                    <!-- -->
                    <div class="market-liability" *ngIf="data.marketLiability">
                      {{ "marketliability" | translate }}:
                      <span style="color: red;margin-left: 4px;"> {{data.marketLiability}}</span>
                    </div>
                  </div>
                </span>
              </div>
              <img [style.transform]="'rotate(' + (data.tabOpen ? '0deg' : '180deg') + ')'"
                style="filter: brightness(0) invert(1)" src="https://iriscdn.b-cdn.net/ssexch/web/images/dwnarrow.svg">
            </div>
          </div>
          <ng-container *ngIf="data.tabOpen">
            <div class="market">
              <div class="market-detail">
                <div class="market-name-flg">
                  <span class="flag_logo" [ngClass]="data.marketName.Country"></span>
                  <div class="name">
                    <!-- <span> {{data.marketName.TrackName}} {{data.marketName.Distance}} {{data.marketName.RaceNo}}</span> -->
                    <div class="race-time">
                      {{data.startTime | date: 'yyyy-MM-dd hh:mm:ss a'}}
                    </div>
                  </div>
                </div>
                <div class="market-inplay blinking-text" *ngIf="data.inplay">
                  <i class=" " title="Inplay" aria-hidden="true"><span class="inplay-text">In-Play</span></i>
                </div>
              </div>


            </div>

            <div class="work-box-border" *ngFor="let r of data.runners;  let i = index" (mouseover)="r.selectionName"
              [ngStyle]="{ opacity: r.winnerState === 'LOSER' ? 0.4 : 1 }"
              [ngClass]="{customPadding: r.winnerState !== 'ACTIVE'}">
              <!-- [ngbCollapse]="isCollapsedStates[ii]" -->
              <div class="work-box-2" [id]="'runnerRow'+i">
                <ng-container *ngIf="r.winnerState && r.winnerState == 'NonRunner'">
                  <div class="overlays">

                    <span class="overlays-text">Non Runner</span>
                  </div>
                </ng-container>
                <div class="work-box-2-left">
                  <div class="runner-wrapper runner-graph d-flex">
                    <div class="runner-info">
                      <div class="runner-name">
                        <div [ngClass]="'saddle saddle_'+r.indexNo">
                        </div>
                        <div class="player-name">
                          <span>
                            {{r.selectionNameNew }}
                          </span>



                        </div>
                      </div>
                      <ng-container *ngIf="!(r.winnerState && r.winnerState == 'NonRunner')">
                        <div class="market-liability" *ngIf="r.position || r.RPosition">
                          <!-- {{ "marketliability" | translate }}: -->
                          <span [ngClass]="r.position >= 0 ? 'plus' : 'minus'">{{r.position |
                            number:'1.2-2'}}</span>
                          <span *ngIf="r.RPosition" [ngClass]="r.position >= 0 ? 'plus' : 'minus'">{{r.RPosition |
                            number:'1.2-2'}}</span>
                        </div>
                      </ng-container>
                    </div>

                  </div>
                </div>
                <div class="work-box-2-right">
                  <div class="work-box-2-right">
                    <div class="small_box_col bule_box_col">
                      <div class="small_box_col_inn" (click)="placebet(data,r, 'back',r.back[0]?.price || 1.01,ii)">
                        <span appRateHighlight>
                          {{r.back[0]?.price}}
                        </span>
                        <small>{{r.back[0]?.size}}</small>
                      </div>
                    </div>
                    <div class="small_box_col pink_box_col">
                      <div class="small_box_col_inn" (click)="placebet(data,r, 'lay',r.lay[0]?.price || 1.01,ii)">
                        <span appRateHighlight>
                          {{r.lay[0]?.price
                          }}
                        </span>
                        <small>{{r.lay[0]?.size}}</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div>
              </div>

              <div *ngIf="r.betslip && data.status == 'OPEN' ">
                <!-- [otherRace]="true" -->
                <app-partial-betslip [r]="r.betslip" [otherRace]="true" (valueChange)="BetPlacedStatus($event,r,data)">
                </app-partial-betslip>
              </div>

            </div>
            <div *ngIf="placingBet && raceNo == ii" class="overlay_mkt" style="top: 0; left: 0">
              <img [src]="siteLoader" class="no-animation img-fluid image processing-icon" alt="Loading..." />
            </div>
          </ng-container>
        </div>
      </ng-container>

    </div>

  </div>
</div>


<div class="modal" id="mybets-modal">
  <div class="my-bet-card-header">
    <div class="my-bet-card-header-left">
      <span>{{'mybets'|translate}}</span>
    </div>
    <div class="my-bet-card-header-right flex-rows">
      <span class="reload-icon" (click)="LoadCurrentBets()">
        <span *ngIf="sendingrequest">
          <img src="https://iriscdn.b-cdn.net/ssexch/web/images/reloadNew.svg" />
        </span>
        <span *ngIf="!sendingrequest">
          <img class="rotate" src="https://iriscdn.b-cdn.net/ssexch/web/images/reloadNew.svg" />
        </span>
      </span>
      <div class="close-main close modal-close">
        <span>Close</span>
        <img src="https://iriscdn.b-cdn.net/SSWhiteLabel/assets/satfair/closebets.svg" alt="my bet">
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4 p-1">
    <div>
      <div class="inplay_matches_box myBetsWrapper" style="position: relative;">
        <div class="my-bet-card">
          <div class="widget-body ">
            <div class="bet-table">
              <div *ngIf="cancellingBet" class="overlay">
                <div *ngIf="cancellingBet" class="bet-place-loader">
                  <span id="nav">
                    <div class="submit-message-cancel-bet">
                      <img src="../../../../assets/images/betsliploader.gif" class="img-fluid image-cancel-bet"
                        alt="Loading...">
                    </div>
                  </span>
                </div>
              </div>
              <div class="bet-table-header">
                <span>{{'Pending Bets'|translate}}</span>
              </div>
              <table>
                <thead>
                  <th>{{'runnername'|translate}}</th>
                  <th>{{'betprice'|translate}}</th>
                  <th>{{'betsize'|translate}}</th>
                  <th>{{'Status'|translate}}</th>
                </thead>
                <tbody>
                  <tr class="bs-row" *ngFor="let un of currentBets | filterBets :'betStatus' : 'Un-Matched Bets'"
                    [ngClass]="un.side | lowercase">
                    <td [attr.title]="un.betId">
                      {{un.runnerName}}</td>
                    <td>{{un.betPrice | number:'1.2-2'}}</td>
                    <td>{{un.betSize | number:'1.2-2'}}</td>
                    <td>
                      <span class="badge bg-secondary" style="height: 20px;">Processing...</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="bet-table scrollable-table">
              <div class="bet-table-header header-sticky">
                <span>{{'matchedbets'|translate}}</span>
              </div>
              <table>
                <thead>
                  <th>{{'runnername'|translate}}</th>
                  <th>{{'betprice'|translate}}</th>
                  <th>{{'betsize'|translate}}</th>
                </thead>
                <tbody>
                  <tr class="bs-row" *ngFor="let un of currentBets | filterBets :'betStatus' : 'Matched Bets'"
                    [ngClass]="un.side | lowercase">
                    <td [attr.title]="un.betId">
                      {{un.runnerName}}</td>
                    <td class="text-center">{{un.betPrice | number:'1.2-2'}}</td>
                    <td class="text-center">{{un.betSize | number:'1.2-2'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>