<div class="fav-casion-container">
  <div class="main-container-casino">
    <div class="loader" *ngIf="loadingData">
      <!-- <app-preloader></app-preloader> -->
    </div>
    <div class="main-container-casino">
      <div *ngFor="let games of gameList; let i = index">
        <div class="header-title">
          <span>{{ games.group }} </span>
          <!-- <span class="see-more"  *ngIf=" games.group == 'Favourite Games'" (click)="setfavouiteCasino(0)">Remove All Favourites</span> -->
        </div>
        <div class="casino-images-scroll">
          <div style="position: relative" class="pop-inner-scroll" *ngFor="let subItem of games.data">
            <img (click)="routeToGame(subItem)" [src]="subItem.imgLink ? subItem.imgLink : gameLoader"
              onerror="this.onerror=null; src=gameLoader" />
            <div class="favourite_container" *ngIf="isLoggedIn && games.group == 'Favourite Games'">
              <i class="bi bi-heart favourite red" (click)="toggleFavourite(subItem); $event.stopPropagation()">
              </i>
            </div>
          </div>
        </div>
      </div>

      <h5 class="text-center display-msg" *ngIf="gameList?.length < 1">
        You don't have favorite games.<br />
        <br />
        To add some, click the star icon near the game name.
      </h5>
    </div>
  </div>

</div>