.fav-casion-container {
  margin: 10px;
  position: relative;
  height: 90vh;
  .box {
    display: flex;
    overflow-x: auto;
  }

  .gamedetail-container {
    position: absolute;
    top: 10%;
    width: 100%;
  }
  .cancel-btn {
    position: absolute;
    top: 13%;
    right: 2%;
    border-radius: 50%;
    background: #ff6621;
    padding: 8px 15px;
  }
  iframe {
    height: 77vh;
  }
  .action-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    .action-btn {
      border-radius: 50%;
      background: #ff6621;
      width: 40px;
      height: 40px;
      position: relative;
      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.header-title {
  border-radius: 4px;
  background: linear-gradient(90deg, var(--cardBg) 0%, #000 100%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  margin: 10px 0;
  align-items: center;
}
.header-title span {
  color: #fff;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
// .see-more {
//   color: var(--main-bg) !important;
//
//   font-size: 14px !important;
//   font-style: normal;
//   font-weight: 600;
//   line-height: normal;
// }
.red {
  color: red;
  background: transparent !important;
}
.favourite {
  cursor: pointer;
}
.casino-images-scroll {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  scroll-behavior: smooth;
  img {
    border-radius: 4px;
    border: 1.154px solid var(--main-clr);
    min-width: 182px;
    height: 128px;
  }
}

.loader {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
}
.display-msg {
  height: 80vh;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin: 0 10%;
  justify-content: center;
}
