<!-- <div class="modal modal-videos" id="vi-1">
  <div class="logout_screen">
    <div class="header_top_bar">
      <div class="container">
        <div class="row">
          <div class="header_top_left">
            <div class="site_logo">
              <img class="login_icon" *ngIf="lsItem == 'light-theme' || lsItem == 'classic-theme'"
                src="https://iriscdn.b-cdn.net/kheloyaar/banners/1815.png" />
              <img class="login_icon" *ngIf="!lsItem || lsItem === 'darker_theme'"
                src="https://iriscdn.b-cdn.net/kheloyaar/banners/1815.png" />
            </div>
            <button (click)="fReload()" type="button" class="close modal-close"><i class="bi bi-x-lg"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-video-player [height]="'100%'" [options]="{
    autoplay: false,
    controls: true,
    fluid: true,
    responsive: true,
    poster: '',
    sources: [{ src: 'https://iriscdn.b-cdn.net/kheloyar/tutvideo/signupVid.mp4', type: 'video/mp4' }]}">
  </app-video-player>

</div>
<div class="modal modal-videos" id="vi-2">
  <div class="logout_screen">
    <div class="header_top_bar">
      <div class="container">
        <div class="row">
          <div class="header_top_left">
            <div class="site_logo">
              <img class="login_icon" *ngIf="lsItem == 'light-theme' || lsItem == 'classic-theme'"
                src="https://iriscdn.b-cdn.net/kheloyaar/banners/1815.png" />
              <img class="login_icon" *ngIf="!lsItem || lsItem === 'darker_theme'"
                src="https://iriscdn.b-cdn.net/kheloyaar/banners/1815.png" />
            </div>
            <button (click)="fReload()" type="button" class="close modal-close"><i class="bi bi-x-lg"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-video-player [height]="'100%'" [options]="{
    autoplay: false,
    controls: true,
    fluid: true,
    responsive: true,
    poster: '',
    sources: [{ src: 'https://iriscdn.b-cdn.net/kheloyar/tutvideo/autodeposit.mp4', type: 'video/mp4' }]}">
  </app-video-player>

</div>
<div class="modal modal-videos " id="vi-3">
  <div class="logout_screen">
    <div class="header_top_bar">
      <div class="container">
        <div class="row">
          <div class="header_top_left">
            <div class="site_logo">
              <img class="login_icon" *ngIf="lsItem == 'light-theme' || lsItem == 'classic-theme'"
                src="https://iriscdn.b-cdn.net/kheloyaar/banners/1815.png" />
              <img class="login_icon" *ngIf="!lsItem || lsItem === 'darker_theme'"
                src="https://iriscdn.b-cdn.net/kheloyaar/banners/1815.png" />
            </div>
            <button (click)="fReload()" type="button" class="close modal-close"><i class="bi bi-x-lg"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-video-player [height]="'100%'" [options]="{
    autoplay: false,
    controls: true,
    fluid: true,
    responsive: true,
    poster: '',
    sources: [{ src: 'https://iriscdn.b-cdn.net/kheloyar/tutvideo/mdeposit.mp4', type: 'video/mp4' }]}">
  </app-video-player>

</div>
<div class="modal modal-videos" id="vi-4">
  <div class="logout_screen">
    <div class="header_top_bar">
      <div class="container">
        <div class="row">
          <div class="header_top_left">
            <div class="site_logo">
              <img class="login_icon" *ngIf="lsItem == 'light-theme' || lsItem == 'classic-theme'"
                src="https://iriscdn.b-cdn.net/kheloyaar/banners/1815.png" />
              <img class="login_icon" *ngIf="!lsItem || lsItem === 'darker_theme'"
                src="https://iriscdn.b-cdn.net/kheloyaar/banners/1815.png" />
            </div>
            <button (click)="fReload('vi-44')" type="button" class="close modal-close"><i class="bi bi-x-lg"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-video-player id="vi-44" [height]="'100%'" [options]="{
    autoplay: false,
    controls: true,
    fluid: true,
    responsive: true,
    poster: '',
    sources: [{ src: 'https://iriscdn.b-cdn.net/kheloyar/tutvideo/withdrawNew.mp4', type: 'video/mp4' }]}">
  </app-video-player>

</div> -->
<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-button" (click)="closeModal()">
        <span>&times;</span>
      </div>
      <div class="modal-body">
        <app-video-player-tut [height]="'100%'" [options]="{
          autoplay: false,
          controls: true,
          fluid: true,
          responsive: true,
          poster: cdnSportsLanding + 'banners/' + tutorialVideoArr.id + '.png',
          sources: [{ src: tutorialVideoArr.link, type: 'video/mp4' }]
        }">
        </app-video-player-tut>
      </div>
    </div>
  </div>
</div>