.timeremaining {
  display: flex;
  justify-content: end;
  margin-bottom: 5px;
  margin-right: 5px;
}
.inner-addon {
  position: relative;
  margin-bottom: 4px;
  background: var(--cardBg);
  border: 1px solid var(--cardBg);
  border-radius: 4px;
}

.inner-addon a {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preloader-spinner {
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  z-index: 10;
}

.time_remaining_label {
  float: right;
  padding-right: 8px;
}

.time_remaining_label > a {
  color: var(--libValueClr);
}

.user_icon {
  box-sizing: border-box;
  border-radius: 3px;
  outline: none;
  padding: 11px 20px;
  margin: 0 0 8px 0;
}

.user_icon i {
  color: var(--signupClr);
}

.form_btn_box {
  padding: 0px 0 10px 0;
}

.input_field_with_logo .custom_border {
  border: 1px solid var(--cardBg);
  border-radius: 4px;
  display: flex;
  align-items: center !important;
  background: transparent !important;
}

.eye-icon {
  color: var(--signupClr);
}
.input_field_with_logo span .user_icon {
  box-sizing: border-box;
  outline: none;
  padding: 0px 16px;
  background: transparent !important;
  border-right: 1px solid var(--signupClr);
  margin-bottom: 0px;
 
}

.form_box {
  background: var(--signupCardBg);
  border-radius: 8px;
  color: var(--signupClr);
  width: 600px;
  position: relative;
  border: 2px solid var(--signupCardBorder);
}
p a:hover {
  text-decoration: underline !important;
}
:host ::ng-deep ngx-mat-intl-tel-input {
  width: 100% !important;
  background: var(--formControlBg);
  border: none;
  padding: 10px 13px;
  border-radius: 5px !important;
  color: var(--formControlClr);
  display: block;
  .country-selector {
    height: 44px;
    background-image: url("https://iriscdn.b-cdn.net/magicwin.games/icon/arrow.svg");
    background-size: 13px 7px;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5 !important;
  }
  .country-selector-code {
    color: var(--formControlClr);
  }
  input.mat-input-element {
    color: var(--formControlClr);
    font-size: 15px;
  }
}
