<div class="form_main_area signup_page">
  <!-- <div class="preloader-spinner" *ngIf="showLoader">
      <div class="login-loader-styling">
        <div class="preloader-wrapper small active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  <div
    class="container d-flex justify-content-center align-items-center mt-5 mb-5 min-vh-100s"
  >
    <div class="form_box p-4 sm-p-1 position-relative">
      <div class="overlay" *ngIf="showLoader">
        <div class="spinner-border text-light" role="status"></div>
      </div>
      <form [formGroup]="signupForm">
        <div class="header_logo">
          <h4 class="card-title mt-3 mb-2 sm-fs-15 text-center">
            {{ "resetpassword" | translate }}
          </h4>
        </div>

        <!--OTP creation portion starts -->
        <ng-container *ngIf="signUpScreen[0]; else enterOTPForm">
          <div id="tabs">
            <p *ngIf="!enterPhoneNumberScreen" class="text-center sm-fs-13">
              {{ "nametoproceed" | translate }}
            </p>
            <p *ngIf="enterPhoneNumberScreen" class="text-center sm-fs-13">
              {{ "phonenumbertoproceed" | translate }}
            </p>
          </div>
          <ng-container *ngIf="!enterPhoneNumberScreen">
            <div class="pt-3 input_field_with_logo">
              <span class="d-flex align-items-center custom_border">
                <span class="user_icon"><i class="bi bi-person"></i></span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="{{ 'username' | translate }}"
                  formControlName="username"
                  spaceRemover
                />
              </span>
              <!-- <div class="form-control" *ngIf="username?.errors?.error" class="alert alert-danger">
                  <div *ngIf="username?.errors?.error">{{username?.errors?.error}}</div> -->
              <div
                *ngIf="
                  username?.invalid && (username?.dirty || username?.touched)
                "
                class="err-msg"
              >
                <div *ngIf="username?.errors?.required">
                  {{ "usernameisrequired" | translate }}
                </div>
                <div *ngIf="username?.errors?.error">
                  {{ username?.errors?.error | translate }}
                </div>
              </div>
            </div>
            <div class="form_btn_box">
              <button
                type="button"
                (click)="checkUserName()"
                class="signup_link w-100"
              >
                {{ "checkusername" | translate }}
              </button>
            </div>
          </ng-container>
          <!-- Enter Username ends -->

          <!-- Phone Number Registration portion starts -->
          <ng-container *ngIf="enterPhoneNumberScreen">
            <div class="inner-addon">
              <span class="intl-package-wrapper">
                <ngx-mat-intl-tel-input
                  [preferredCountries]="[specificCountry]"
                  [enablePlaceholder]="true"
                  [enableSearch]="true"
                  name="phone"
                  describedBy="phoneInput"
                  formControlName="phoneNumber"
                >
                </ngx-mat-intl-tel-input>
              </span>
            </div>
            <div
              class="form-control"
              *ngIf="phoneNumber?.errors?.error"
              class="err-msg"
            >
              <div *ngIf="phoneNumber?.errors?.error">
                {{ "phonerequired" | translate }}
              </div>
            </div>
            <div class="form_btn_box mt-3 text-end">
              <button
                type="button"
                (click)="checkUserPhone()"
                class="btn btn-theme signup_link"
              >
                {{ "requestotp" | translate }}
              </button>
            </div>
          </ng-container>
          <!-- Phone Number Registration portion ends -->
        </ng-container>
        <!-- OTP creation portion ends -->

        <!-- OTP FORM -->
        <ng-template #enterOTPForm>
          <div
            class="container-fluid"
            style="margin-top: 40px"
            *ngIf="
              !signUpScreen[0] && signUpScreen[1];
              else enterCredetialsForm
            "
          >
            <form [formGroup]="otpForm">
              <div class="d-flex justify-content-end timeremaining">
                {{ "timeremaining" | translate }}:
                {{ timeRemaining }}
              </div>
              <div class="row" style="display: flex">
                <div
                  class="form_field_box col"
                  style="padding-right: 3px"
                  *ngFor="let otpInput of otpFormInput; index as i"
                >
                  <input
                    #otpFormRow
                    type="number"
                    formControlName="{{ otpInput }}"
                    class="form-control text-center box_shadow"
                    maxlength="1"
                    (keyup)="otpKeyUpEvent($event, i)"
                  />
                </div>
              </div>
              <div class="row form-box" *ngIf="showOtpError">
                <p class="text-center err-msg">
                  {{ otpError }}
                </p>
              </div>
              <div class="form_btn_box mt-1">
                <div class="pt-2">
                  <button
                    type="button"
                    (click)="verifyotp()"
                    class="btn btn-theme w-100 signup_link"
                  >
                    {{ "verifyotp" | translate }}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </ng-template>
        <!-- OTP FORM -->

        <!-- Final Registration Form -->
        <ng-template #enterCredetialsForm>
          <div class="pt-3 input_field_with_logo">
            <div class="input_field_with_logo">
              <div class="position-relative">
                <span class="d-flex align-items-center form-control">
                  <span class="user_icon">
                    <i class="bi bi-lock"></i>
                  </span>
                  <input
                    id="oldPassword"
                    [type]="!newPassword ? 'password' : 'text'"
                    name="current_pass"
                    spaceRemover
                    class="form-control"
                    placeholder="{{ 'currentpassword' | translate }}"
                    formControlName="password"
                    autofocus
                  />
                  <a
                    class="pointer me-1 eye-icon"
                    (click)="newPassword = !newPassword"
                  >
                    <i
                      [class.bi-eye-slash]="!newPassword"
                      [class.bi-eye]="newPassword"
                    ></i>
                  </a>
                </span>
              </div>
              <div
                *ngIf="
                  password?.invalid && (password?.dirty || password?.touched)
                "
                class="err-msg mt-1"
              >
                <span *ngIf="password?.errors?.required">{{
                  "passwordisrequired" | translate
                }}</span>
                <div *ngIf="password?.errors?.minlength" class="text-danger">
                  {{ "Password must be 8 characters long." | translate }}
                </div>
                <span *ngIf="password?.errors?.error">{{
                  password?.errors?.error | translate
                }}</span>
              </div>
            </div>
          </div>
          <div class="pt-3 input_field_with_logo">
            <div class="input_field_with_logo">
              <div class="position-relative">
                <span class="d-flex align-items-center form-control">
                  <span class="user_icon">
                    <i class="bi bi-lock"></i>
                  </span>
                  <input
                    id="confirmPassword"
                    [type]="!confPassword ? 'password' : 'text'"
                    name="confirmPassword"
                    (input)="onPasswordChange()"
                    spaceRemover
                    class="form-control"
                    placeholder="{{ 'currentpassword' | translate }}"
                    formControlName="password"
                    autofocus
                  />
                  <a
                    class="pointer me-1 eye-icon"
                    (click)="confPassword = !confPassword"
                  >
                    <i
                      [class.bi-eye-slash]="!confPassword"
                      [class.bi-eye]="confPassword"
                    ></i>
                  </a>
                </span>
              </div>
              <div
                *ngIf="
                  confirmPassword?.invalid &&
                  (confirmPassword?.dirty || confirmPassword?.touched)
                "
                class="err-msg mt-1"
              >
                <span *ngIf="confirmPassword?.errors?.required">{{
                  "confirmpasswordrequired" | translate
                }}</span>
                <span *ngIf="confirmPassword?.errors?.mismatch">{{
                  "confirmpasswordnotmatched" | translate
                }}</span>
              </div>
            </div>
          </div>
          <div class="form_btn_box mt-3">
            <button
              type="button"
              class="btn btn-theme w-100"
              (click)="updatePassword()"
            >
              {{ "changepassword" | translate }}
            </button>
          </div>
        </ng-template>
        <!-- Final Registration Form -->
      </form>
      <p class="text-center card-title">
        {{ "alreadyhaveaccount" | translate }}
        <a class="pointer text-theme" (click)="openLoginModal()">{{
          "login" | translate
        }}</a>
      </p>
    </div>
  </div>
</div>
