<!-- {{fancyData | json}} -->

<div class="site-loader d-flex justify-content-center mt-5" *ngIf="!fancyData">
  <img [src]="siteLoader" alt="Site_loader" height="120px" />
</div>




<!-- //////////////////// For Cricket Page only Line Start /////////////////////////////// -->
<!-- <app-line-markets [eventId]="eventId" [localMarketRate]="localMarketRate" [lineData]="lineData"></app-line-markets> -->

<!-- //////////////////// For Cricket Page only Line End /////////////////////////////// -->
<ng-container>

</ng-container>



<!-- Modal -->