.xghome-wrapper {
  // background: #ecf0f5;
  // margin-top: -18px;
  // padding-top: 20px;
  height: 100vh;
  background: #191919 !important;
}
.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}
.card-head {
  font-family: var(--font_family_global);
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #19233c;
  padding: 12px 0px;
  text-transform: capitalize;
  display: block;
}

.exch-game-card {
  margin-top: 5px;
}

.exch-game-card .card {
  padding: 30px;
  border-radius: 16px 16px 0px 0px;
  background: linear-gradient(180deg, #cfd7e9 0%, rgba(165, 201, 255, 0) 100%);
  border: none;
}

.exch-game-card .card .card-img {
  border: none;
  background: transparent;

  width: 100%;
  height: 270px;
  object-fit: cover;
  border-radius: 2px;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 7px;
}

.left-content {
  padding: 0;
}

.right-content {
  padding: 0;
}

.left-content span {
  text-transform: uppercase;
  font-family: var(--font_family_global);
  font-style: normal;
  font-size: 20px;
  line-height: normal;
  color: #19233c;
}

.right-content a {
  font-family: var(--font_family_global);
  font-style: normal;
  color: var(--white_background_color) !important;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: -0.2px;
  background: linear-gradient(95.22deg, #2dc3e8 7.33%, #2d7182 108.79%);
  border-radius: 9px;
  padding: 4px 10px;
  text-decoration: none;
}

.left-content .turbo-span {
  font-family: var(--font_family_global);
  font-style: normal;
  font-size: 10px;
  line-height: 22px;
  letter-spacing: -0.2px;
  color: var(--white_background_color);
  background: #ff8e27;
  border-radius: 10px;
  padding: 2px 6px;
}

@media only screen and (max-width: 1024px) {
  .responsiveText {
    font-size: 2em !important;
  }
}

//@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

body {
  background: whitesmoke;
  font-family: var(--font_family_global);
}

.card-container {
  font-family: var(--font_family_global);
  width: 385px;
  // min-height: 170px;
  background: #292929;
  margin: 10px;
  flex-basis: 20%;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: 10px;
}

.card-container:hover img {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
// .card-container:hover::after {
//   opacity: 1;
// }
.img-overflow {
  overflow: hidden;
}
.image-container img {
  width: 100%;
}

.play-button,
.turbo-pill {
  outline: none;
  border: none;
}

// .turbo-pill {
//   color: #fff;
//   background: #ff8e27;
//   border-radius: 10px;
//   font-size: 8px;
//   padding: 2px 4px;
//   height: 15px;
//   margin-left: 5px;
// }
.turbo-pill {
  color: #d4840d;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  // text-transform: uppercase;
}

.play-button,
.card-desc {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.play-button {
  padding: 5px 10px;
  text-transform: uppercase;
  color: #ffffff;
  // background: linear-gradient(95.22deg, #2dc3e8 7.33%, #2d7182 108.79%);
  border-radius: 2px;
  font-size: 12px;
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .card-content {
    // flex-direction: column !important;
    padding: 12px 6px 2px 6px;
  }
  .card-desc {
    margin-bottom: 3px;
    font-size: 12px;
  }

  .card-container {
    // background: linear-gradient(
    //   -180deg,
    //   #7b818d 0%,
    //   rgba(165, 201, 255, 0) 100%
    // );
    //  min-height: 180px;
  }

  .turbo-pill,
  .play-button {
    font-size: 8px;
  }
  .play-button {
    padding: 4px 4px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .xghome-wrapper .card-container {
    min-height: 165px !important;
    height: 165px !important;
    .card-content {
      padding: 4px 7px 1px 7px;
    }
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .xghome-wrapper .card-container {
    min-height: 140px !important;
    height: 140px !important;
    .card-content {
      padding: 4px 7px 1px 7px;
    }
  }
}

@media (min-width: 280px) and (max-width: 500px) {
  .card-container {
    flex-basis: 42%;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .card-container {
    flex-basis: 40%;
  }
}

@media (min-width: 769px) and (max-width: 850px) {
  .xghome-wrapper {
    background: #191919 !important;
    height: 88vh;
  }

  .card-container {
    flex-basis: 45%;
  }
}
