.tutorial-container {
  margin: 8px 15px;

  .search-container {
    position: relative;
    // display: inline-block;

    .serch-icon {
      position: absolute;
      left: 10px;
      top: 44%;
      transform: translateY(-50%);
      color: #aaa;
      font-size: 12px;
    }

    .search-box {
      border: 1px solid #4f5267;
      border-radius: 7px;
      background: var(--cardBg);
      padding-left: 7%;
      width: 92%;
      color: white;
    
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      height: 35px;

      &::placeholder {
        color: #6e6f8d;
      }
    }
  }

  .tutorials {
    background: rgba(22, 23, 33, 0.81);
    border: 1px solid #4f52674a;
    border-radius: 7px;
    margin-bottom: 10px;
    .tutorial-title {
      padding: 10px 7px;
      background: #4f5267;
      border-radius: 7px 7px 0 0;
      font-size: 12px;
    }

    .tutorial-body {
      display: flex;
      padding: 10px;
      gap: 10px;
      margin-right: 10px;
      overflow-x: auto;

      .video-box {
        border-radius: 7px;
        min-width: 160px;
        margin-right: 5px;
      }
    }
  }
}

.no-data {
  font-size: 12px;
  text-align: center;
  padding: 10px 0;
}

::ng-deep .video-js .vjs-tech {
  height: 100% !important;
}
