<div class="tutorial-container">
  <div class="search-container">
    <i class="bi bi-search serch-icon"></i>
    <input class="search-box" type="text" placeholder="Search Video" (input)="onUserFilter($event)" />
  </div>
  <ng-container *ngIf="filterData.length > 0; else novideo">
    <div class="tutorials" *ngFor="let tutorial of filterData">
      <div class="tutorial-title">{{ tutorial.category }}</div>
      <div class="tutorial-body">
        <div class="video-box" *ngFor="let videoData of tutorial?.tutorialVideo">
          <app-video-player [options]="{
              autoplay: false,
              controls: true,
              fluid: true,
              responsive: true,
              poster: videoData.poster,
              sources: [
                {
                  src: videoData.source,
                  type: 'video/mp4'
                }
              ]
            }">
          </app-video-player>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #novideo>
    <p class="no-data">No Data Found</p>
  </ng-template>
</div>