.xg-wrapper {
  background: #191919;
  height: 100%;
  // padding-top: 50px;
  min-height: 100vh;
}
header {
  // position: static;
  position: relative;
  transition: 0.2s linear;

  //top: -85px;
}

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: 0.2s linear;
  background: #252525;
  .c-top-bar {
    background: linear-gradient(to bottom, #0a192f 75%, rgba(34, 34, 34, 0));
  }

  z-index: 99;
}
#content {
  width: calc(100% - 320px);
  height: calc(100% - 50px);
  transition: all 0.3s;
  position: absolute;
  // bottom: 0;
  top: 140px;
  right: 0;
}

#content100 {
  width: 100%;
  // height: 100%;
  transition: all 0.3s;
  position: absolute;
  top: 114px;
  right: 0;
  // overflow-y: auto;
  // overflow-x: hidden;
  background: #191919;
}
@media (max-width: 768px) {
  #content100 {
    top: 92px;
  }
}
@media (max-width: 992px) {
  #content100 {
    top: 108px;
  }
}
