<div class="xg-wrapper">
  <header class="fixed" style="z-index: 99;">
<!--    <app-header [navMenues]="{navItems:exchangeGames,casino:false}" (sideBarEvent)="showhidesidebar($event)"></app-header>-->
  </header>
  <div [attr.id]="showhidesidesidebar=='1'?'content':'content100'">
    <div>
      <!-- <app-gamenavbar></app-gamenavbar> -->
      <router-outlet></router-outlet>
    </div>

  </div>
  <!-- <app-sidebar [events]="eventsSubject.asObservable()" (childButtonEvent)="receivedMessageHandler($event)"> -->
  <!-- </app-sidebar> -->
</div>
