.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}
.col-md-12 {
  position: relative;
  min-height: 1px;
}
.st_blog_detail {
  float: left;
  width: 100%;
}
.st_featured_thumb {
  float: left;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
}
.depositTabsWrapper {
  display: flex;
  justify-content: center;
  align-self: center;
  border: 1px solid #d7d8d8;
}
.st_blog_detail.withdraw_section {
  margin-bottom: 30px;
}
.activeTab {
  background: var(--main-bg) !important;
}
.st_hd1 {
  float: left;
  width: 100%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
th {
  color: white;
}
.st_hd1 span {
  z-index: 1;
  float: left;
  width: 100%;
  color: #707d9b;
  font-size: 13px;
  font-weight: 400;
  position: relative;
  padding: 8px 0px 6px 9px;
  text-align: center;
}

.activeTab span {
  color: #ffffff !important;
}

@media (max-width: 768px) {
  .st_featured_thumb {
    border: 1px solid #d7d8d8;
  }
  .depositTabsWrapper {
    border: none;
    margin-bottom: 5px;
  }
}
