<div id="xgoverlay" *ngIf="bookApiCall">
  <span id="nav">
    <div class="submit-message loader">
      <!-- <app-prealoader ></app-prealoader> -->

    </div>
  </span>
</div>
<div class="text-center" *ngIf="gameDetail && gameDetail.length<1 && !loading">
  <h4>No Data Found</h4>
</div>

<ng-container *ngIf="channelData && !bookApiCall">
  <app-xgame-cards [channelData]="channelData" [id]="id" [type]="channelData.gameType == 'BLACKJACK' ? 'Player': 'Hand'"
    *ngIf="!otherGames"></app-xgame-cards>
  <app-xgame-other-cards [channelData]="channelData" [id]="id"
    [type]="channelData.gameType == 'BLACKJACK' ? 'Player': 'Hand'" *ngIf="otherGames"></app-xgame-other-cards>
  <div class="mr-2 ml-2 plr-18">
    <div class="row">
      <div class='col-12 col-xl-8'>
        <div class="container-fluid p-0">
          <div class="player-stats xg-games-bet-slips">
            <div class="row">
              <div [ngClass]="
                    currentBets.length > 0 ? 'col-lg-12 col-xl-12' : 'col-12'
                  ">
                <div class="grid-table" *ngFor="let market of channelData.game.markets.markets">
                  <div class="grid-head">
                    <div class="heading my-auto">
                      <h2>
                        {{ "marketliability" | translate }}:
                        <span style="color: red">{{
                          market.liability
                          | number: "1.2-2"
                          }}</span>
                      </h2>
                    </div>
                    <div class="d-flex lay-back">
                      <div style="width: 55px;" class="other-col box_size"></div>
                      <div style="width: 55px;" class="other-col box_size"></div>
                      <div id="blue" class="other-col ">
                        {{ "back" | translate }}
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                          <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18ZM9.675 5.4C9.675 5.02721 9.37279 4.725 9 4.725C8.62721 4.725 8.325 5.02721 8.325 5.4V11.6426C8.31221 11.6326 8.29916 11.6223 8.28584 11.6116C7.99548 11.3784 7.6503 11.0316 7.13748 10.5142L5.87942 9.24484C5.617 8.98006 5.18961 8.97815 4.92484 9.24058C4.66006 9.503 4.65815 9.93039 4.92058 10.1952L6.20609 11.4922C6.68433 11.9748 7.0832 12.3772 7.44052 12.6642C7.8153 12.9652 8.20918 13.1941 8.68905 13.2553C8.79228 13.2684 8.89614 13.275 9 13.275C9.10386 13.275 9.20772 13.2684 9.31095 13.2553C9.79082 13.1941 10.1847 12.9652 10.5595 12.6642C10.9168 12.3772 11.3157 11.9748 11.7939 11.4922L13.0794 10.1952C13.3418 9.93039 13.3399 9.503 13.0752 9.24058C12.8104 8.97815 12.383 8.98006 12.1206 9.24484L10.8625 10.5142C10.3497 11.0316 10.0045 11.3784 9.71416 11.6116C9.70084 11.6223 9.68779 11.6326 9.675 11.6426V5.4Z"
                            fill="#72BCED" />
                        </svg>
                      </div>
                      <div id="pink" class="other-col">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                          <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18ZM9.675 5.4C9.675 5.02721 9.37279 4.725 9 4.725C8.62721 4.725 8.325 5.02721 8.325 5.4V11.6426C8.31221 11.6326 8.29916 11.6223 8.28584 11.6116C7.99548 11.3784 7.6503 11.0316 7.13748 10.5142L5.87942 9.24484C5.617 8.98006 5.18961 8.97815 4.92484 9.24058C4.66006 9.503 4.65815 9.93039 4.92058 10.1952L6.20609 11.4922C6.68433 11.9748 7.0832 12.3772 7.44052 12.6642C7.8153 12.9652 8.20918 13.1941 8.68905 13.2553C8.79228 13.2684 8.89614 13.275 9 13.275C9.10386 13.275 9.20772 13.2684 9.31095 13.2553C9.79082 13.1941 10.1847 12.9652 10.5595 12.6642C10.9168 12.3772 11.3157 11.9748 11.7939 11.4922L13.0794 10.1952C13.3418 9.93039 13.3399 9.503 13.0752 9.24058C12.8104 8.97815 12.383 8.98006 12.1206 9.24484L10.8625 10.5142C10.3497 11.0316 10.0045 11.3784 9.71416 11.6116C9.70084 11.6223 9.68779 11.6326 9.675 11.6426V5.4Z"
                            fill="#F795BB" />
                        </svg>
                        {{ "lay" | translate }}
                      </div>
                      <div style="width: 55px;" class="other-col d-none d-lg-flex"></div>
                      <div style="width: 55px;" class="other-col d-none d-lg-flex"></div>
                    </div>
                  </div>
                  <div class="overlay" *ngIf="
                        market.status !== 'ACTIVE'
                      ">
                    <span class="overlay-text">
                      {{
                      market.status | translate
                      }}</span>
                  </div>
                  <div class="players">
                    <div *ngFor="
                        let selections of market
                          .selections.selections
                      " class="tabletr" [id]="selections.id"
                      [ngClass]="{ notActiveMarket: selections.status == 'LOSER' }">
                      <div [className]="
                          selections.status == 'IN_PLAY'
                            ? 'grid-data'
                            : 'grid-disabled'
                        ">
                        <div class="grid-hand my-auto d-flex justify-content-between"
                          [ngClass]="{ customHeight: selections.status == 'WINNER' }">
                          <p>{{ selections.name | translate }} {{selections?.status=="WINNER"? '(WINNER)': ''}}</p>

                        </div>
                        <!-- <div>
                          <span *ngIf="selections.position">{{selections.position}}</span>
                          <span *ngIf="selections.position">{{selections.position}}</span>
                        </div> -->
                        <div class="text-center status my-auto tabletr disabled_player"
                          *ngIf="selections?.status !== 'IN_PLAY'; else OPEN">

                          <div class="style-status d-flex align-items-center justify-content-center p-2" [ngClass]="
                              selections.status === 'WINNER'
                                ? 'bg-success'
                                : selections.status === 'LOSER'
                                ? 'bg-danger'
                                : selections.status === 'SUSPENDED'
                                ? 'bg-warning'
                                : 'default-special-box'
                            ">
                            <span>{{
                              selections.status.replaceAll("_", " ")
                              }}</span>
                          </div>
                        </div>
                        <ng-template #OPEN>
                          <div *ngIf="selections.status === 'IN_PLAY'" class="d-flex">
                            <div class="position-wrapper">
                              <div class="runner-position">
                                <span *ngIf="selections.position" [ngClass]="
                                  selections.position < 0 ? 'XGminus' : 'XGplus'
                                ">{{ selections.position | number: "1.2-2" }}</span>
                                <span *ngIf="selections.rPosition" [ngClass]="
                                  selections.rPosition < 0 ? 'XGminus' : 'XGplus'
                                ">{{
                                  selections.rPosition | number: "1.2-2"
                                  }}</span>
                              </div>
                            </div>
                            <div class="other-btn d-none  d-lg-flex">
                              <div class="xg-numbers" (click)="
                                createBet(
                                  market.id,
                                  channelData.game.markets.currency,
                                  selections.bestAvailableToBackPrices.prices[2]
                                    .odd,
                                  selections,
                                  'back',
                                  channelData.game.round,
                                  market
                                    .commissionRate,
                                  channelData.game.id,
                                  market.marketType,market.selections.type
                                )
                              ">
                                <div appRateHighlight class="price back-color">
                                  {{
                                  selections.bestAvailableToBackPrices.prices[2].odd
                                  }}
                                </div>
                                <div appRateHighlight class="amount back-color">
                                  {{
                                  selections.bestAvailableToBackPrices.prices[2]
                                  .stake
                                  }}
                                </div>
                              </div>
                            </div>
                            <div class="other-btn d-none  d-lg-flex">
                              <div class="xg-numbers" (click)="
                                createBet(
                                  market.id,
                                  channelData.game.markets.currency,
                                  selections.bestAvailableToBackPrices.prices[1]
                                    .odd,
                                  selections,
                                  'back',
                                  channelData.game.round,
                                  market
                                    .commissionRate,
                                  channelData.game.id,
                                  market.marketType,market.selections.type
                                )
                              ">
                                <div class="price back-color" appRateHighlight>
                                  {{
                                  selections.bestAvailableToBackPrices.prices[1].odd
                                  }}
                                </div>
                                <div class="amount back-color">
                                  {{
                                  selections.bestAvailableToBackPrices.prices[1]
                                  .stake
                                  }}
                                </div>
                              </div>
                            </div>
                            <div class="other-btn">
                              <div class="back xg-numbers gradient-special-a" (click)="
                                createBet(
                                  market.id,
                                  channelData.game.markets.currency,
                                  selections.bestAvailableToBackPrices.prices[0]
                                    .odd,
                                  selections,
                                  'back',
                                  channelData.game.round,
                                  market
                                    .commissionRate,
                                  channelData.game.id,
                                  market.marketType,market.selections.type
                                )
                              ">
                                <div class="price" appRateHighlight>
                                  {{
                                  selections.bestAvailableToBackPrices.prices[0].odd
                                  }}
                                </div>
                                <div class="amount">
                                  {{
                                  selections.bestAvailableToBackPrices.prices[0]
                                  .stake
                                  }}
                                </div>
                              </div>
                            </div>
                            <div class="other-btn ">
                              <div class="lay xg-numbers gradient-special-b" (click)="
                                createBet(
                                  market.id,
                                  channelData.game.markets.currency,
                                  selections.bestAvailableToLayPrices.prices[0].odd,
                                  selections,
                                  'lay',
                                  channelData.game.round,
                                  market
                                    .commissionRate,
                                  channelData.game.id,
                                  market.marketType,market.selections.type
                                )
                              ">
                                <div class="price" appRateHighlight>
                                  {{
                                  selections.bestAvailableToLayPrices.prices[0].odd
                                  }}
                                </div>
                                <div class="amount">
                                  {{
                                  selections.bestAvailableToLayPrices.prices[0]
                                  .stake
                                  }}
                                </div>
                              </div>
                            </div>
                            <div class="other-btn lay-btn d-none  d-lg-flex">
                              <div class="xg-numbers" (click)="
                                createBet(
                                  market.id,
                                  channelData.game.markets.currency,
                                  selections.bestAvailableToLayPrices.prices[1].odd,
                                  selections,
                                  'lay',
                                  channelData.game.round,
                                  market
                                    .commissionRate,
                                  channelData.game.id,
                                  market.marketType,market.selections.type
                                )
                              ">
                                <div class="price lay-color" appRateHighlight>
                                  {{
                                  selections.bestAvailableToLayPrices.prices[1].odd
                                  }}
                                </div>
                                <div class="amount lay-color">
                                  {{
                                  selections.bestAvailableToLayPrices.prices[1]
                                  .stake
                                  }}
                                </div>
                              </div>
                            </div>
                            <div class="other-btn lay-btn d-none  d-lg-flex">
                              <div class="xg-numbers" (click)="
                                createBet(
                                  market.id,
                                  channelData.game.markets.currency,
                                  selections.bestAvailableToLayPrices.prices[2].odd,
                                  selections,
                                  'lay',
                                  channelData.game.round,
                                  market
                                    .commissionRate,
                                  channelData.game.id,
                                  market.marketType,market.selections.type
                                )
                              ">
                                <div class="price lay-color">
                                  {{
                                  selections.bestAvailableToLayPrices.prices[2].odd
                                  }}
                                </div>
                                <div class="amount lay-color">
                                  {{
                                  selections.bestAvailableToLayPrices.prices[2]
                                  .stake
                                  }}
                                </div>
                              </div>
                            </div>
                          </div>
                        </ng-template>
                      </div>
                      <div [id]="'betslip' + selections.id" [ngClass]="
                          selections.betslip
                            ? selections.betslip.bType + ' inline-betslip'
                            : 'inline-betslip'
                        " *ngIf="selections.betslip">
                        <div class="betslip-input mb-1">
                          <div class="inputOdds">
                            <div class="d-flex flex-row w-30 ">
                              <div class="input-wrape mr-2">
                                <div class="input-wrapper">
                                  <button class="btn-left" disabled>
                                    <i class="bi bi-dash"></i>
                                  </button>
                                  <input onmouseover="this.select()" type="number" placeholder="{{'Odds'|translate}}"
                                    name="odds" [(ngModel)]="selections.betslip.price" disabled readonly />
                                  <button class="btn-right" disabled>
                                    <i class="bi bi-plus"></i>
                                  </button>
                                </div>
                              </div>
                              <div class="input-wrape">
                                <div class="input-wrapper">
                                  <button tabindex="-1" class="btn-left" (click)="
                                      selections.betslip.size =
                                        selections.betslip.size - 1
                                    ">
                                    <i class="bi bi-dash"></i>
                                  </button>
                                  <input onmouseover="this.select()" type="number" name="stake"
                                    placeholder="{{'Stake'|translate}}" [(ngModel)]="selections.betslip.size" />
                                  <button tabindex="-1" class="btn-right" (click)="
                                      selections.betslip.size =
                                        selections.betslip.size + 1
                                    ">
                                    <i class="bi bi-plus"></i>
                                  </button>
                                </div>
                              </div>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                              <div class="input-wrap profit">
                                <span class="betslip-info">
                                  {{
                                  selections.betslip.bType == "lay"
                                  ? ("Liability"|translate)
                                  : ("Profit"|translate)
                                  }}
                                  <i class="badge badge-danger" *ngIf="selections.betslip.bType == 'lay'">
                                    {{ (selections.betslip.price -1) * selections.betslip.size | shortennum
                                    }}
                                  </i>
                                  <i class="badge badge-success" *ngIf="selections.betslip.bType == 'back'">
                                    {{ selections.betslip.size | shortennum }}
                                  </i>
                                </span>
                              </div>

                              <div class="input-wrap w-30">
                                <div class="inputBtns mt-0">
                                  <button tabindex="-1" class="cancel-btn form-control mob-betslip"
                                    (click)="selections.betslip = null">
                                    {{"Delete" | translate}}
                                  </button>
                                </div>
                                <div class="inputBtns mt-0">
                                  <button class="place form-control mob-betslip" (click)="pb(selections)">
                                    {{"submit" | translate}}
                                  </button>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>

                        <div class="betslip-stakebtns">
                          <button class="form-control mob-betslip" (click)="
                              selections.betslip.size =
                                selections.betslip.stakeButtons.stakeVal2
                            ">
                            {{
                            shortenLargeNumber(
                            selections.betslip.stakeButtons.stakeVal2
                            )
                            }}
                          </button>
                          <button class="form-control mob-betslip" (click)="
                              selections.betslip.size =
                                selections.betslip.stakeButtons.stakeVal3
                            ">
                            {{
                            shortenLargeNumber(
                            selections.betslip.stakeButtons.stakeVal3
                            )
                            }}
                          </button>
                          <button class="form-control mob-betslip" (click)="
                              selections.betslip.size =
                                selections.betslip.stakeButtons.stakeVal4
                            ">
                            {{
                            shortenLargeNumber(
                            selections.betslip.stakeButtons.stakeVal4
                            )
                            }}
                          </button>
                          <button class="form-control mob-betslip" (click)="
                              selections.betslip.size =
                                selections.betslip.stakeButtons.stakeVal5
                            ">
                            {{
                            shortenLargeNumber(
                            selections.betslip.stakeButtons.stakeVal5
                            )
                            }}
                          </button>
                          <button class="form-control mob-betslip" (click)="
                              selections.betslip.size =
                                selections.betslip.stakeButtons.stakeVal6
                            ">
                            {{
                            shortenLargeNumber(
                            selections.betslip.stakeButtons.stakeVal6
                            )
                            }}
                          </button>
                          <button class="form-control mob-betslip" (click)="
                              selections.betslip.size =
                                selections.betslip.stakeButtons.stakeVal7
                            ">
                            {{
                            shortenLargeNumber(
                            selections.betslip.stakeButtons.stakeVal7
                            )
                            }}
                          </button>
                          <button class="form-control mob-betslip" (click)="
                              selections.betslip.size =
                                selections.betslip.stakeButtons.stakeVal8
                            ">
                            {{
                            shortenLargeNumber(
                            selections.betslip.stakeButtons.stakeVal8
                            )
                            }}
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="overlay" *ngIf="pbpl">
                      <div class="submit-message loader">
                        <!-- <app-prealoader></app-prealoader> -->
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-4">
        <app-mybets (loadBets)="currentBetsFun()" [currentBets]="currentBets" [xgames]="true"></app-mybets>
      </div>
    </div>
  </div>

</ng-container>