<div class="inner_top_area_Sec no-pad-bot change-pass logout_screen modal" id="change-password-modal">
  <div class="logout_screen">
    <div class="header_top_bar" [ngClass]="{ 'no-internet': noInternet }">
      <div class="site_logo">
        <a id="logo-container">
          <img class="login_icon" [src]="siteLogo" *ngIf="lsItem == 'light-theme' || lsItem == 'classic-theme'" />
          <img class="login_icon" [src]="siteLogo" *ngIf="!lsItem || lsItem === 'darker_theme'" />
        </a>
      </div>
      <a (click)="onclose()" type="button" class="close modal-close">
        <i class="bi bi-x-lg"></i>
      </a>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="preloader-spinner" *ngIf="showLoader">
          <div class="login-loader-styling">
            <div class="preloader-wrapper small active">
              <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div>
                <div class="gap-patch">
                  <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section_bg_box">
          <div class="section_form_box" style="position: relative">
            <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" autocomplete="autocomplete_off_hack_xfr4!k"
              class="centredPositioning">
              <h5>Set New Password</h5>

              <div class="input_field_with_logo">
                <label class="input-label">New Password<span> *</span> </label>
                <div class="inner-addon">
                  <a (click)="passwordIcon = true" *ngIf="!passwordIcon">
                    <i class="bi bi-eye-slash"></i>
                  </a>
                  <a (click)="passwordIcon = false" *ngIf="passwordIcon">
                    <i class="bi bi-eye"></i>
                  </a>

                  <span class="d-flex align-items-center custom_border">
                    <input [type]="!passwordIcon ? 'password' : 'text'" placeholder="New Password" name="new_pass"
                      class="text-dark" spaceRemover formControlName="new_pass"
                      (change)="onPasswordChange(); OldPassCompare()" />
                  </span>
                </div>
                <div *ngIf="
                    new_pass?.invalid && (new_pass?.dirty || new_pass?.touched)
                  " class="alert alert-danger mt-2">
                  <div class="alert alert-danger mt-2" *ngIf="new_pass?.errors?.required">
                    {{ "newpasswordisrequired" | translate }}
                  </div>
                  <div *ngIf="new_pass?.errors?.minlength" class="liabilityClr">
                    Password must be 8 characters long.
                  </div>
                </div>
              </div>
              <div class="input_field_with_logo">
                <label class="input-label">Confirm Password <span> *</span></label>
                <div class="inner-addon">
                  <a (click)="confirmPasswordIcon = true" *ngIf="!confirmPasswordIcon">
                    <i class="bi bi-eye-slash"></i>
                  </a>
                  <a (click)="confirmPasswordIcon = false" *ngIf="confirmPasswordIcon">
                    <i class="bi bi-eye"></i>
                  </a>
                  <span class="d-flex align-items-center custom_border">
                    <input id="passInput" [type]="!confirmPasswordIcon ? 'password' : 'text'"
                      placeholder="Confirm New Password" class="text-dark" spaceRemover name="confirm_pass"
                      formControlName="confirm_pass" />
                  </span>
                </div>
                <div *ngIf="
                    confirm_pass?.invalid &&
                    (confirm_pass?.dirty || confirm_pass?.touched)
                  " class="alert alert-danger mt-2">
                  <div class="alert alert-danger mt-2" *ngIf="confirm_pass?.errors?.required">
                    Confirm Password is required
                  </div>
                  <div class="alert alert-danger mt-2" *ngIf="confirm_pass?.errors?.error">
                    {{ confirm_pass?.errors?.error }}
                  </div>
                </div>
              </div>
              <div class="form_btn_box d-flex nav-tabs">
                <button type="submit" [ngClass]="
                passwordForm.invalid ? 'disabled-btn' : 'login-btn'
              ">
                  {{ "Save " | translate }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>