.summary-heading {
  color: var(--summary-heading-clr);
}
.summary-content {
  color: var(--summary-content-clr);
}
.summary-dropdown-icon {
  color: var(--summary-dropdown-icon-clr);
}
.content-body {
  background: var(--summary-content-background-clr);
}
