<!-- <div class="site-loader d-flex justify-content-center vh-40 mt-5" *ngIf="!data && isLoading">
  <img [src]="siteLoader" alt="Site_loader" height="120px" />
</div> -->
<div class="site-loader  mt-5" *ngIf="!data && isLoading">
  <div class="row gx-0">
    <div class="col-lg-8">
      <app-skelton-loader [loaderType]="'marketLoading'"></app-skelton-loader>
    </div>
    <div class="col-lg-4">
      <app-skelton-loader [loaderType]="'myBets'"></app-skelton-loader>
    </div>
  </div>
</div>

<div class="row gx-0 market-detail-compo" *ngIf="data && data.eventType">
  <div class="d-lg-none" *ngIf="data.inplay == true && (
     (showStreamAgent && isLoggedIn && showStreamOnBalance) ||
     (isShowStreamMobile && showStreamAgent && isLoggedIn)
  )

    ">
    <ng-container *ngIf="data.description.marketType != 'TOURNAMENT_WINNER'">
      <app-stream [eventId]="eventId" *ngIf="data.inplay == true"></app-stream>
    </ng-container>
  </div>
  <div class="col-lg-8">
    <div class="breadcrum-item  sm-fs-11 fs-lap-13 mt-2 ">
      <span class="  pointer" [routerLink]="'/'">{{ "Home" | translate }} ></span>
      <span class="  pointer" (click)="routeToSports(data)"> {{ data.eventType.name | translate }} ></span>
      <ng-container *ngIf="data.description.marketType != 'TOURNAMENT_WINNER'">
        <span class=" pointer" (click)="routeToTournament(data)"> {{ data.competition.name }} > </span>
        <span class="pointer" (click)="routeToEvent(data)"> {{ data.event.name }} > </span>
      </ng-container>
      <span class=" fw-500  ">{{ data.marketName | translate }}</span>
    </div>
    <div class="match-time-detail  d-flex ms-1" *ngIf="!data.inplay">
      <span class="starttime sm-fs-12 fs-lap-12 align-items-center ">{{ "starttime" | translate }}:
        {{ data.marketStartTime | date : "short" }}</span>
      <div class=" time-remaining sm-fs-12 fs-lap-12 align-items-center ms-3">
        <app-timeremaining [timeRemaining]="data.marketStartTime"></app-timeremaining>
      </div>
    </div>
    <div class="landing-page mb-0 cricket-component">
      <ng-container *ngIf="winnerFancyMarketDetails">
        <app-bookmaker-data [fancyResponse]="fancyResponse" [eventId]="eventId" [bookMakerRate]="bookMakerRate"
                            (loadBets)="LoadCurrentBets()"></app-bookmaker-data>
        <app-fancy-data [fancyResponse]="fancyResponse" [fancyRate]="fancyRate" [eventId]="eventId"
                        (loadBets)="LoadCurrentBets()"></app-fancy-data>
      </ng-container>
      <div class="tab-container cricket-pages-tabs p-0  mb-1">

        <div class="tabs bg-transparent  d-flex mb-0">
          <div class="d-flex ">
            <div class="d-flex sm-flex-column">
              <div class="menu border-0 fs-lap-12 sport-name pl-0 me-3">
                {{ data.marketName }}
              </div>
              <div class="d-flex align-items-center sm-fs-11 fs-lap-12 me-3 min-max mb-2 mt-1">
                Min: {{ data?.minSettings | shortennum }} | Max:
                {{ data?.maxSettings * localMarketRate | shortennum }}
              </div>
            </div>

            <ng-container *ngIf="showCashout">
              <button class="btn d-flex justify-content-center align-items-center cashout ms-3 fs-lap-12 sm-fs-12"
                *ngIf="
              data.runners.length < 3 &&
              data.description.bettingType == 'ODDS'

            " (click)="openCashout(data)">
                Cashout
              </button>
            </ng-container>
            <div class="d-flex lib-text align-items-center  fs-lap-12 sm-fs-13 liability ms-3" *ngIf="data.liability">
              {{ "liability" | translate }} :
              <span class="liabilityClr ms-1"> {{ data.liability | roundoff}}</span>
            </div>
          </div>
          <div class="d-flex match-card lay-back-heading ">
            <div class="odds-container">
              <app-oddsbutton [cssClass]="'transparnt-odd desktop-odds text-back'" [price]="'YES'"></app-oddsbutton>
              <app-oddsbutton [cssClass]="'transparnt-odd desktop-odds text-lay'" [price]="'No'"></app-oddsbutton>
            </div>
          </div>

        </div>
      </div>
      <div class="position-relative">
        <div
          class="market-overlay position-absolute bg-theme text-danger  d-flex justify-content-center align-items-center sm-fs-14"
          *ngIf="data.status != 'OPEN'">
          {{ data.status| removeUnderscore }}
        </div>
        <div *ngIf="oneClickBetObj[data.marketName]"
          class="market-overlay position-absolute bg-theme  d-flex justify-content-center align-items-center sm-fs-14">
          <img [src]="siteLoader" height="100px" alt="Loading..." />
        </div>
        <ng-container *ngFor="let r of data.runners | orderbyrunner : 'sortPriority'">
          <div class="match-card align-items-center flex-row market-bg px-2 pt-2 pb-2 border-0 mb-1 ">
            <div class="match-info w-100  d-flex align-items-center">
              <div class="match-teams w-100 d-flex ms-2  ">
                <div class="d-flex justify-content-between w-100">
                  <span class="fs-lap-12"> {{r.runnerName}}</span>
                  <div class="me-2">
                    <span *ngIf="r.position" [ngClass]="r.position >= 0 ? 'text-success' : 'liabilityClr'">{{ r.position
                      |
                      roundoff
                      }}</span>
                    <span *ngIf="r.RPosition" [ngClass]="r.position >= 0 ? 'text-success' : 'liabilityClr'">{{
                      r.RPosition
                      |
                      roundoff
                      }}</span>
                    <span class="ms-1" *ngIf="r.whatIf !== null && r.whatIf !== undefined"
                      [ngClass]="r.whatIf !== null && r.whatIf >= 0 ? 'text-success' : 'liabilityClr'">=> {{r.whatIf |
                      roundoff}}
                    </span>
                  </div>
                </div>

              </div>

            </div>
            <div class="odds-container position-relative">
              <div
                class="market-overlay position-absolute bg-theme  d-flex justify-content-center align-items-center sm-fs-14"
                *ngIf="r.status && r.status != 'ACTIVE' && r.status != 'OPEN'"
                [class.liabilityClr]="r.status == 'SUSPENDED'">
                {{ r.status }}
              </div>

              <div class="d-none d-md-flex lap-d-none">
                <app-oddsbutton [price]="r.lastPriceTraded" [size]="r.totalMatched"
                  cssClass="transparnt-odd desktop-odds "></app-oddsbutton>
              </div>
              <div class="d-none d-md-flex lap-d-none">
                <app-oddsbutton [cssClass]="'lay-light desktop-odds'" (click)="
                placebet(data, r, 'back', r.back[2]?.price)
              " [price]="r.back?.[2]?.price == 0 ? ' ' : r.back?.[2]?.price"
                  [size]="r.back?.[2]?.size==''?' ':r.back?.[2]?.size"></app-oddsbutton>
              </div>
              <div class="d-none d-md-flex ">
                <app-oddsbutton [cssClass]="'lay-light desktop-odds'" (click)="
                  placebet(data, r, 'back', r.back[1]?.price)
                " [price]="r.back?.[1]?.price == 0 ? ' ' : r.back?.[1]?.price"
                  [size]="r.back?.[1]?.size==''?' ':r.back?.[1]?.size"></app-oddsbutton>
              </div>
              <app-oddsbutton [cssClass]="'back desktop-odds'" (click)="
              placebet(data, r, 'back', r.back[0]?.price)
            " [price]="r.back?.[0]?.price == 0 ? ' ' : r.back?.[0]?.price"
                [size]="r.back?.[0]?.size==''?' ':r.back?.[0]?.size"></app-oddsbutton>

              <app-oddsbutton [cssClass]="'lay desktop-odds'" (click)="
              placebet(data, r, 'lay',  r.lay[0]?.price)
            " [price]="r.lay?.[0]?.price == 0 ? ' ' : r.lay?.[0]?.price"
                [size]="r.lay?.[0]?.size==''?' ':r.lay?.[0]?.size"></app-oddsbutton>
              <div class="d-none d-md-flex ">
                <app-oddsbutton [cssClass]="'back-light desktop-odds'" (click)="
                  placebet(data, r, 'lay', r.lay[1]?.price)
                " [price]="r.lay?.[1]?.price == 0 ? ' ' : r.lay?.[1]?.price"
                  [size]="r.lay?.[1]?.size==''?' ':r.lay?.[1]?.size"></app-oddsbutton>
              </div>
              <div class="d-none d-md-flex lap-d-none">
                <app-oddsbutton [cssClass]="'back-light desktop-odds '" (click)="
                    placebet(data, r, 'lay', r.lay[2]?.price)
                  " [price]="r.lay?.[2]?.price == 0 ? ' ' : r.lay?.[2]?.price"
                  [size]="r.lay?.[2]?.size ==''?' ':r.lay?.[2]?.size"></app-oddsbutton>
              </div>


            </div>
          </div>
          <div *ngIf="r.betslip">
            <app-partial-betslip [r]="r.betslip" (valueChange)="BetPlacedStatus($event)"
              (whatIfFigure)="calculateWhatIf($event)"></app-partial-betslip>
          </div>
        </ng-container>
      </div>

      <ng-container *ngIf="bookData && bookData.length>0">
        <div class="line-position  ms-2">
          <h6 class="fs-15 sm-fs-12">Book Position</h6>
          <div class="d-flex  ">
            <div class="book-position align-items-center d-flex flex-column" *ngFor="let i of bookData">
              <span class="sm-fs-12">{{ i.runnerId }}</span>
              <span class="sm-fs-12" [ngClass]="i.position >= 0 ? 'text-success' : 'liabilityClr'">{{
                i.position | number : "1.1-2"
                }}</span>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="data.betslip">
        <app-cashout-betslip [market]="data" (valueChange)="BetPlaceCashout($event)"></app-cashout-betslip>
      </ng-container>
    </div>
    <!-- <app-line-markets [lineData]="lineData"></app-line-markets> -->

  </div>
  <div class="col-lg-4">
    <ng-container *ngIf="data.description.marketType != 'TOURNAMENT_WINNER'">
      <app-stream class="d-lg-flex d-none" [eventId]="eventId" *ngIf="(data.inplay == true && (
(showStreamAgent && isLoggedIn && showStreamOnBalance) ||
(isShowStreamMobile && showStreamAgent && isLoggedIn)
      ) )"></app-stream>
    </ng-container>
    <app-mybets [currentBets]="currentBets" [eventId]="eventId" (loadBets)="LoadCurrentBets()"
      (cancelBet)="cancelBets($event)"></app-mybets>

  </div>
</div>
