<ng-container *ngIf="(topPopularData && topPopularData.length>0)">
  <div class="popularBanners scrollable-list " [ngClass]="!isMagicwin ? 'bd-popular-banners-margin': ''">
    <div class="item d-flex align-items-center justify-content-between position-relative pointer"
      *ngFor="let item of topPopularData;let index = index" (click)="routeToLink(item)">
      <img  [src]="cdnSportsLanding + 'banners/' + item.id + '.png'" [lazyLoad]="cdnSportsLanding + 'banners/' + item.id + '.png'" />
      <span class="d-flex d-md-none" [ngClass]="
    index == 0 || index == 3
      ? 'odd-banner'
      : 'even-banner'
  " (click)="routeToLink(index)">
        Popular
      </span>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="utillsService.skeltonLoaderForMobi | async">
  <app-skelton-loader [loaderType]="'topPopularData'"></app-skelton-loader>
</ng-container>
