<div class="sports-container">
  <div class="loader" *ngIf="loadingData">
    <!-- <app-preloader></app-preloader> -->
  </div>
  <ng-container *ngFor="let sport of sportList">
    <div class="current-sport-container">
      <div class="match-title">
        <span>{{ sport.marketName }}</span>
        <!-- <span> {{ sport.marketId }}</span> -->
      </div>
      <div class="sport-detail">
        <div class="score-board-content">
          <div class="score-board">
            <span>Score Board</span>
            <span class="collasped-action" *ngIf="!sport?.scoreBoardCollasped"
              (click)="sport.scoreBoardCollasped = true; GetMarketDetail(sport)">
              +</span>
            <span class="collasped-action" *ngIf="sport?.scoreBoardCollasped"
              (click)="sport.scoreBoardCollasped = false">
              -</span>
          </div>

          <div class="score-board-detail" *ngIf="sport?.scoreBoardCollasped">
            <iframe style="border: none" id="frameStats" *ngIf="sport?.lmtUrl" [src]="sport.lmtUrl" width="100%"
              scrolling="0" sandbox="allow-forms allow-same-origin allow-scripts"></iframe>
            <span class="socre-board-warning" *ngIf="!sport?.lmtUrl">
              No Scorecard Available.
            </span>
          </div>
        </div>

        <div class="live-match-content">
          <div class="live-match">
            <span>Live Match</span>
            <div class="live-tv">
              <!-- <img src="../../../../assets/live_tv.png" /> -->
              <span class="collasped-action" *ngIf="!sport?.liveMatchCollasped" (click)="
                  sport.liveMatchCollasped = true;
                  GetMarketDetail(sport);
                  getStream(sport)
                ">
                +</span>
              <span class="collasped-action" *ngIf="sport?.liveMatchCollasped"
                (click)="sport.liveMatchCollasped = false">
                -</span>
            </div>
          </div>
          <div class="live-match-detail" *ngIf="sport?.liveMatchCollasped">
            <iframe *ngIf="sport?.liveTvUrl" width="100%" height="100%" [src]="sport.liveTvUrl">
            </iframe>
          </div>
        </div>

        <div class="bet-market-content">
          <div class="bet-markets">
            <span>Bet Markets</span>
            <span class="collasped-action" *ngIf="!sport?.betMarketCollasped" (click)="
                sport.betMarketCollasped = true;
                reloadMyBet(sport);
                getClientPosition(sport)
              ">
              +</span>

            <span class="collasped-action" *ngIf="sport?.betMarketCollasped" (click)="sport.betMarketCollasped = false">
              -</span>
          </div>
          <div class="bet-market-detail" *ngIf="sport?.betMarketCollasped">
            <div class="overlay_mkt" *ngIf="sport.status != 'OPEN'">
              <span id="mktstatus">{{ sport.status | removeUnderscore }}</span>
            </div>
            <div *ngFor="let detailSport of sport?.details">
              <div class="odds-header">
                <span class="new-disp-flex">{{ detailSport.marketType }} </span>
                <div class="odds-action-header">
                  <span class="back_title"> BACK</span>
                  <span class="lay_title"> LAY</span>
                </div>
              </div>
              <ng-container *ngFor="let r of detailSport?.runners">
                <div class="match-detail">
                  <div class="match-position">
                    <span> {{ r?.runnerName }}</span>
                    <span *ngIf="r.position != 0" class="right" [ngStyle]="{
                        color: r.position < 0 ? 'red' : 'green'
                      }">{{ r.position | roundoff }}</span>
                  </div>

                  <div class="odd-btns">
                    <app-oddsbutton (click)="
                        betPlace(
                          sport,
                          r,
                          'back',
                          2,
                          sport?.isLocalMarket,
                          detailSport
                        )
                      " [price]="r.back?.[2]?.price == 0 ? ' ' : r.back?.[2]?.price"
                      [size]="r.back?.[2]?.size==''?' ':r.back?.[2]?.size"></app-oddsbutton>

                    <app-oddsbutton (click)="
                        betPlace(
                          sport,
                          r,
                          'back',
                          1,
                          sport?.isLocalMarket,
                          detailSport
                        )
                      " [price]="r.back?.[1]?.price == 0 ? ' ' : r.back?.[1]?.price"
                      [size]="r.back?.[1]?.size==''?' ':r.back?.[1]?.size"></app-oddsbutton>

                    <app-oddsbutton (click)="
                        betPlace(
                          sport,
                          r,
                          'back',
                          0,
                          sport?.isLocalMarket,
                          detailSport
                        )
                      " [cssClass]="'bule_box_col'" [price]="r.back?.[0]?.price == 0 ? ' ' : r.back?.[0]?.price"
                      [size]="r.back?.[0]?.size==''?' ':r.back?.[0]?.size"></app-oddsbutton>

                    <app-oddsbutton (click)="
                        betPlace(
                          sport,
                          r,
                          'lay',
                          0,
                          sport?.isLocalMarket,
                          detailSport
                        )
                      " [cssClass]="'pink_box_col'" [price]="r.lay?.[0]?.price == 0 ? ' ' : r.lay?.[0]?.price"
                      [size]="r.lay?.[0]?.size==''?' ':r.lay?.[0]?.size"></app-oddsbutton>

                    <app-oddsbutton (click)="
                        betPlace(
                          sport,
                          r,
                          'lay',
                          1,
                          sport?.isLocalMarket,
                          detailSport
                        )
                      " [price]="r.lay?.[1]?.price == 0 ? ' ' : r.lay?.[1]?.price"
                      [size]="r.lay?.[1]?.size==''?' ':r.lay?.[1]?.size"></app-oddsbutton>

                    <app-oddsbutton (click)="
                        betPlace(
                          sport,
                          r,
                          'lay',
                          2,
                          sport?.isLocalMarket,
                          detailSport
                        )
                      " [price]="r.lay?.[2]?.price == 0 ? ' ' : r.lay?.[2]?.price"
                      [size]="r.lay?.[2]?.size ==''?' ':r.lay?.[2]?.size"></app-oddsbutton>
                  </div>
                </div>
                <div *ngIf="r.betslip && sport?.status == 'OPEN'">
                  <app-partial-betslip [r]="r.betslip" (valueChange)="betPlacedStatus($event, sport)">
                  </app-partial-betslip>
                </div>
              </ng-container>
            </div>

            <div class="my-bet">
              <div class="bet-header">
                <span> My Bets</span>
                <span (click)="reloadMyBet(sport)">
                  <i class="bi bi-arrow-clockwise reload-icon"> </i></span>
              </div>

              <ng-container *ngIf="sport?.myUnMatchBets?.length > 0">
                <span class="matched-bet">Unmatched Bets </span>
                <div class="match-bet-detail">
                  <span class="runner-name"> RunnerName</span>
                  <span class="text-center"> Bet Price </span>
                  <span class="text-center"> Bet Size</span>
                </div>
                <div class="match-bet-detail match-bet-detail-list" [ngClass]="myBet?.side == 'BACK' ? 'back' : 'lay'"
                  *ngFor="let myBet of sport?.myUnMatchBets">
                  <span class="runner-name"> {{ myBet.fullMarketName }}</span>
                  <span class="text-center"> {{ myBet.betPrice }}</span>
                  <span class="text-center"> {{ myBet.betSize }}</span>
                </div>
              </ng-container>

              <ng-container *ngIf="sport?.myMatchBets?.length > 0">
                <span class="matched-bet">Matched Bets </span>
                <div class="match-bet-detail">
                  <span class="runner-name"> RunnerName</span>
                  <span class="text-center"> Bet Price </span>
                  <span class="text-center"> Bet Size</span>
                </div>
                <div class="match-bet-detail match-bet-detail-list" [ngClass]="myBet?.side == 'BACK' ? 'back' : 'lay'"
                  *ngFor="let myBet of sport?.myMatchBets">
                  <span class="runner-name"> {{ myBet.fullMarketName }}</span>
                  <span class="text-center"> {{ myBet.betPrice }}</span>
                  <span class="text-center"> {{ myBet.betSize }}</span>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="view-detail">
          <button (click)="clickToMarket(sport)">
            View Complete Market &nbsp;&nbsp;<i class="bi bi-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </ng-container>

  <h5 class="display-msg" *ngIf="sportList?.length < 1">
    You havn't bet in any market yet .
  </h5>
</div>