.sports-container {
  height: 90%;
  margin-bottom: 60px;
}
.current-sport-container {
  margin: 10px auto;
  width: 95%;
  background: #1b1b28;
  padding: 0px 2px 10px 2px;
  border-radius: 0 0 5px 5px;
  .sport-detail {
    background: #1b1b28;
    padding: 10px 2px;
  }
  .match-title {
    display: flex;
    justify-content: space-between;
    background: #ff6621;
    padding: 5px 10px;
    border-radius: 5px 5px 0 0;
  }
  .live-match-content,
  .score-board-content {
    background: rgba(70, 73, 101, 0.21);
  }
  .score-board,
  .live-match,
  .bet-markets {
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    background: rgba(70, 73, 101, 0.21);
    margin: 10px 0;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    align-items: center;
    .collasped-action {
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
    }

    .live-tv {
      display: flex;
      img {
        margin-right: 5px;
        width: 20px;
      }
    }
  }

  .live-match-detail {
    min-height: 160px;
  }
  .score-board-detail {
    min-height: 160px;
    position: relative;
    .socre-board-warning {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 16px;
      font-weight: 500;
    }
  }
  .view-detail {
    display: flex;
    justify-content: center;
    button {
      background: #43ed72;
      padding: 5px 30px;
      border-radius: 5px;
      border: 1px solid #43ed72;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
    }
  }

  .bet-market-detail {
    position: relative;
    .odds-header {
      display: flex;
      justify-content: space-between;
      .odds-action-header {
        display: flex;
        // width: 140px;
        justify-content: space-evenly;
        font-style: normal;
        font-weight: 700;
        padding-right: 15px;
        font-size: 12px;
        .back_title {
          color: #43ceed;
          width: 60px;
          text-align: center;
        }
        .lay_title {
          color: #f796ff;
          width: 60px;
          text-align: center;
        }
      }
    }

    .match-detail {
      display: flex;
      justify-content: space-between;
      background: #242435;
      padding: 5px 8px;
      align-items: center;
      margin-bottom: 2px;
      .match-position {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
      .odd-btns {
        display: flex;
        gap: 2px;
      }
    }

    .my-bet {
      margin: 10px 0;
      font-size: 12px;
      .bet-header {
        display: flex;
        justify-content: space-between;
        background: #242435;
        padding: 10px;
        .reload-icon {
          color: var(--main-clr);
          transition: transform 0.5s ease;
          &:active {
            animation: rotate 0.5s infinite linear;
          }
        }
        @keyframes rotate {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }
        }
      }
      .matched-bet {
        display: flex;
        justify-content: center;
        margin-top: 5px;
      }
      .match-bet-detail {
        display: flex;
        justify-content: space-between;
        padding: 5px 10px;
        font-size: 11px;
        border-bottom: 1px solid #000;
        .runner-name {
          flex: 1 1 60%;
        }
        span {
          flex: 1 1 20%;
        }
      }
      .match-bet-detail-list {
        color: black;
        .back {
          background: #43ceed;
        }
        .lay {
          background: #f796ff;
        }
      }
    }

    .overlay_mkt {
      background: rgba(0, 0, 0, 0.84);
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1000 !important;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      color: red;
    }

    .overlay_mkt #mktstatus {
      top: 50%;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .score-board-detail {
    img {
      width: 100%;
      padding: 5px 15px;
    }
  }
}
.new-disp-flex {
  font-size: 12px !important;
}

.loader {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.display-msg {
  height: 80vh;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin: 0 10%;
  justify-content: center;
}
