<div class="login-component">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-transparent mt-2 mb-2  border-0">
        <img class="siteLogo" [src]="siteLogo" [alt]="'Logo'+ '-' + sitename" />
        <button type="button" class="btn-close" (click)="closeLoginModal()">
          <i class="bi bi-x"></i>
        </button>
      </div>
      <div class="modal-body position-relative">
        <div class="overlay" *ngIf="showLoader">
          <div class="spinner-border text-light" role="status">
          </div>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
          <div class="form-group">
            <div class="form-floating mb-3">
              <input type="username" formControlName="username" autocomplete="off" placeholder="username"
                class="form-control rounded-3" id="username">
              <label for="username">Username</label>
              <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="error">
                {{ "usernameisrequired" | translate }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-floating  mb-2">
              <input type="password" formControlName="password" [type]="!passwordIcon ? 'password' : 'text'"
                placeholder="username" autocomplete="off" class="form-control rounded-3" id="password">
              <span class="hide-show-pass pointer">
                <i [ngClass]="passwordIcon ? 'bi bi-eye' : 'bi bi-eye-slash'"
                  (click)="passwordIcon = !passwordIcon"></i>
              </span>
              <label for="password">Password</label>

              <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
                {{ "passwordisrequired" | translate }}
              </div>
            </div>
          </div>
          <div class="form-group mb-3 err-msg" *ngIf="loginForm.errors">
            {{ loginForm.errors.Invalid }}
            {{ loginForm.errors.userInvalid }}
          </div>
          <div class="form-group mt-3 terms">
            <input type="checkbox" id="terms" formControlName="terms">
            <label for="terms"> I accept all the <a class="pointer">
                <span (click)="termsModal()">Terms & Conditions</span>
              </a></label>
          </div>
          <div class="form-group text-end" *ngIf="isb2c && isshowforgotpassword " (click)="closeLoginModal()">
            <a class=" theme-color fw-medium" routerLink="/user/forgot-password">{{ "forgotpassword" | translate }}</a>
          </div>
          <button type="submit" [disabled]="loginForm.invalid" class="login-button ">Login</button>
          <button type="button" class="demo-button " (click)="loginWithDemo()">Demo</button>
        </form>
        <div class="create-account pointer fw-medium" *ngIf="isb2c" (click)="routeToSignup()" >
          <a>Create New Account</a>
        </div>
        <p>
          {{ noInternet ? "Please check your internet connectivity" : "" }}
        </p>
      </div>
    </div>
  </div>

  <div class="modal fade otp-modal" data-bs-backdrop="static" [class.show]="showOtpForm"
    [style.display]="showOtpForm ? 'block' : 'none'" [attr.aria-hidden]="!showOtpForm" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">

        <div class="modal-header border-0 pb-0">
          <h5 class="modal-title">{{ "enterotp" | translate }}</h5>
          <button type="button" class="modal-close-btn btn-close" (click)="showOtpForm = false">
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
        <div class="modal-body">
          <div class="overlay" *ngIf="showLoader">
            <div class="spinner-border text-light" role="status">
            </div>
          </div>
          <form [formGroup]="otpForm" (ngSubmit)="sendOtp()">
            <div class="container-fluid text-center">
              <h6 class="text-end timeRemaining" *ngIf="!otpResponse.message"> {{ "Time Remaining" | translate
                }} : {{ timeRemaining }}</h6>
              <div class="row">
                <div class="form-group col" *ngFor="let otpInput of otpFormInput; index as i">
                  <input #otpFormRow type="number" formControlName="{{ otpInput }}" required maxlength="1"
                    class="form-control text-center " maxlength="1" (keyup)="otpKeyUpEvent($event, i)" />
                </div>
              </div>
              <div class="form-group text-start mt-3 err-msg" *ngIf="otpResponse.message">
                {{ otpResponse.message}}
              </div>
              <button type="submit" class="btn submit-otp mt-3  w-100" data-bs-dismiss="modal" aria-label="Close">
                {{
                "submit" |
                translate
                }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>