<div class="bets-widget">
  <div class="header mb-2 d-flex justify-content-between align-items-center">
    <h6 class="title fs-14 matched-bets-top-heading mb-0">My Bets</h6>
    <button class="refresh-icon" (click)="LoadCurrentBets()" [class.rotate]="isLoadBets">&#8635;</button>
  </div>
  <div class="unmatched-bets">
    <div class="unmatched-header mb-2 d-flex align-items-center justify-content-between">
      <h6 class="title fs-12 matched-bets-headings mb-0">Unmatched Bets</h6>
      <button class="btn fs-12 btn-danger cancel-all" (click)="cancelBets(false)" *ngIf="haveUnmatched">Cancel
        All</button>
    </div>
    <table class="table position-relative">
      <div class="market-overlay position-absolute bg-theme  d-flex justify-content-center align-items-center sm-fs-14"
        *ngIf="cancellingBet">
        <img [src]="siteLoader" height="30px" alt="Loading..." />
      </div>
      <thead>
        <tr>
          <th style="width:70%;padding-left: 8px;">{{ "runnername" | translate }}</th>
          <th>{{ "betprice" | translate }}</th>
          <th>{{ "betsize" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let un of currentBets | filterBets : 'betStatus' : 'Un-Matched Bets'"
          [ngClass]="un.side | lowercase">
          <td>
            <span class="cancel-bet">
              <span class="pointer" (click)="cancelBets(un,true)"><i class="bi bi-x-lg "></i></span>
              {{ un.fullMarketName ? un.fullMarketName : un.runnerName}}
            </span>
          </td>
          <td class="text-center">{{ un.betPrice }}</td>
          <td class="text-center">
            {{ un.betSize | roundoff }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="matched-bets">
    <div class="matched-header mb-2 d-flex align-items-center justify-content-between">
      <h6 class="title fs-12 matched-bets-headings mb-0">Matched Bets</h6>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th style="width:70%;padding-left: 8px;">{{ "runnername" | translate }}</th>
          <th>{{ "betprice" | translate }}</th>
          <th>{{ "betsize" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let m of currentBets | filterBets : 'betStatus' : 'Matched Bets'" [ngClass]="m.side | lowercase">
          <td [attr.title]="m.betId" style="padding-left: 8px">
            {{ m.fullMarketName ? m.fullMarketName : m.runnerName}}
          </td>
          <td class="text-center">{{ m.betPrice }}</td>
          <td class="text-center">
            {{ m.betSize | roundoff }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
