.popular-tab {
  overflow: auto;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  border-radius: 4px;
  margin-top: 20px;
  text-wrap: nowrap;
  li {
    padding: 10px 11px;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 1.031px solid var(--report-cate-item-border-clr);
    background: var(--report-cate-item-bg);
    color: var(--report-cate-item-clr);
    &:hover {
      cursor: pointer;
    }
  }
  li.active {
    border: 2px solid var(--report-cate-item-active-border-clr) !important;
    background: var(--report-cate-item-active-bg) !important;
    border-radius: 4px;
    color: var(--report-cate-item-active-clr) !important;
  }
}
