.reports {
  padding: 10px;
  color: var(--pl-report-text-clr);
}

.pre-loader {
  position: absolute;
  top: 70px;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_bg_box {
  background: var(--reports-container-bg);
}

.table_result_sec {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table,
th,
td {
  border: 1px solid var(--reports-td-border-clr);
}

th,
td {
  padding: 10px 3px;
  text-align: left;
  font-size: 14px;
}

th {
  background: var(--reports-th-bg);
  color: var(--reports-pl-th-clr);
  font-size: 14px;
  font-weight: 500;
}

td {
  color: var(--reports-pl-td-clr);
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-info {
  cursor: pointer;
}

.text-info:hover {
  text-decoration: underline;
}
tr.back {
  td {
    color: #000;
    &::before {
      color: #000 !important;
    }
  }

  background: linear-gradient(180deg, #84c2f1, #d9efff) !important;
}
tr.lay {
  background: linear-gradient(180deg, #f59dc2, #f5e9ee) !important;
  td {
    color: #000;
    &::before {
      color: #000 !important;
    }
  }
}

.last-table {
  thead {
    display: table-header-group;
  }
}

/* Mobile-specific styles */
@media only screen and (max-width: 768px) {
  .last-table {
    thead {
      display: none;
    }

    tbody {
      display: flex;
      flex-direction: column;

      tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 2px;

        .empty-column {
          display: none;
        }
        td {
          position: relative;
          padding-left: 50%;
          white-space: normal;
          text-align: left;
          border: unset;
          border-bottom: 1px solid var(--reports-td-border-clr) !important;
        }

        .running-balance {
          text-align: end !important;
        }
        td::before {
          content: attr(data-title);
          position: absolute;
          left: 2%;
          top: 50%;
          transform: translateY(-50%);
          white-space: nowrap;
          font-weight: normal;
        }
        .text-center {
          text-align: start !important;
        }
      }
    }
  }

  table,
  th,
  td {
    font-size: 11px;
  }

  .text-info {
    font-size: 11px;
  }
}
