<div class="default-banners" *ngIf="bannerData && bannerData.length>0">
  <owl-carousel-o [options]="carouselOptions">
    <ng-container *ngFor="let b of bannerData; let i = index">
      <ng-template carouselSlide>
        <img [src]="cdnSportsLanding+'banners/'+b.id+'.png'" [alt]="sitename  + '-' + i + 'banner' "
          *ngIf="!isWhatsAppLink(b?.link)" (click)="routeToMulti(b)">
        <img [src]="cdnSportsLanding+'banners/'+b.id+'.png'" [alt]="sitename  + '-' + i + 'banner' "
          *ngIf="isWhatsAppLink(b?.link)" (click)="routeToMulti(b)">
      </ng-template>
    </ng-container>

  </owl-carousel-o>
</div>
<ng-container *ngIf="utillsService.skeltonLoaderForMobi | async">
  <app-skelton-loader [loaderType]="'defaultBanner'"></app-skelton-loader> 
</ng-container>