<ng-container *ngIf="popularGamesData && popularGamesData.length > 0">
  <div class="gamesSlider " *ngFor="let item of popularGamesData" [ngClass]="!isMagicwin ? 'mb-2' :''">
    <div class="header" *ngIf="isMagicwin">
      <span class="games-heading">
        <img class="icon" [src]="item.img" [alt]="item.typeName" />
        <span>{{ item.typeName }}</span>
      </span>
      <span class="games-see-all see-all-menu pointer" [routerLink]="item.seeAll">
        {{ "seeall" | translate }}<i class="bi bi-arrow-right fs-16 fw-bold iconArrow"></i>
      </span>
    </div>
    <div class="slider-game" [ngClass]="!isMagicwin ? 'p-0' : ''">
      <owl-carousel-o [options]="customOptions1" #carousel>
        <ng-container *ngFor="let item of repeatedItems(item.data, 8)">
          <ng-template carouselSlide>
            <img class="slider-img" (click)="routeToLink(item)" [src]="cdnSportsLanding + 'banners/' + item.id + '.png'"
              [alt]="item.text + '_' + sitename " />
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="utillsService.skeltonLoaderForMobi | async">
  <app-skeleton-loader [loaderType]="'gameSlider'"></app-skeleton-loader>
</ng-container>
