<div class="site-loader  vh-40 mt-5" *ngIf="isLoading">
  <app-skelton-loader [loaderType]="'sportsLoading'"></app-skelton-loader>
</div>

<div class="landing-page sportsById-component" *ngIf="data?.competitions && data?.competitions.length > 0">
  <ng-container *ngFor="let event of data?.competitions; index as i">
    <ng-container *ngIf="event.name != 'Virtual Cricket';else virtualCricket">
      <div class="tab-container sportsById-pages-tabs p-0 mt-1 mb-2">
        <div class="tabs d-flex">
          <div class="d-flex">
            <div class="menu sport-name pl-0">
              {{ event.name }}
            </div>
          </div>
        </div>
      </div>
      <div class="position-relative">
        <div *ngIf="oneClickBetObj[event.name]"
          class="market-overlay position-absolute bg-theme z-2 d-flex justify-content-center align-items-center sm-fs-14">
          <img [src]="siteLoader" height="100px" alt="Loading..." />
        </div>
        <ng-container *ngFor="let group of event.markets | groupBy: 'inplay'">
          <div class="coming-up ms-1">{{ group.key == 'true' ? 'In-Play' : 'Coming up'}} </div>
          <ng-container *ngFor="let m of group.value">
            <div class="match-card market-bg mb-1 p-2 border-0">
              <div class="match-info w-100  d-flex align-items-center">
                <span class="status-badge me-2" *ngIf="m.score">
                  <app-teams-score [score]="m.score"></app-teams-score>
                </span>
                <span class="status-badge me-2" *ngIf="!m.score && m.inplay">
                  Inplay
                </span>
                <span class="status-badge badge-time-remaining me-2" *ngIf="(!m.score && !((m.marketStartTime | amDifference : today : 'minutes') < 1 &&(m.marketStartTime| amDifference : today : 'minutes') < 0));
                else elseLoading">
                  <app-match-start-time [m]="m"></app-match-start-time>
                </span>
                <ng-template #elseLoading>
                  <span class="status-badge fs-10 me-2" *ngIf="!m.score && !m.inplay">
                    Loading
                  </span>
                </ng-template>
                <!-- <span class="status-badge badge-time-remaining me-2" *ngIf="!m.score && !m.inplay">
                  <app-match-start-time [m]="m"></app-match-start-time>
                </span> -->
                <div class="match-teams w-100 d-flex pointer justify-content-center" (click)="routeToMarket(m.url)"
                  [innerHTML]="m.marketName | marketName : data.id">
                </div>
                <div class="match-icons gap-1 d-flex me-2  align-items-center">
                  <span class="liabilityClr fs-14 sm-fs-12" *ngIf="m.marketLiability">
                    {{ m.marketLiability}}
                  </span>
                  <span class="icon inplay-blinker" *ngIf="
              (m.marketStartTime
                | amDifference : today : 'minutes') < 1 &&
              (m.marketStartTime
                | amDifference : today : 'minutes') < 0
            ">
                  </span>
                </div>
              </div>
              <div class="d-flex icons-odds">
                <div class="odds-container position-relative">
                  <div
                    class="market-overlay position-absolute virtual-bg d-flex justify-content-center align-items-center sm-fs-14"
                    *ngIf="m.status !== 'OPEN'">
                    {{ m.status }}
                  </div>
                  <div
                    class="market-overlay position-absolute pointer border-0 text-black virtual-bg d-flex justify-content-center align-items-center sm-fs-14"
                    (click)="routeToMarket(m)" *ngIf="m?.description.marketType == 'TOURNAMENT_WINNER'">
                    Tournament Winner Market
                  </div>
                  <ng-container *ngIf="m.runners.length == 3; else runners2">
                    <ng-container *ngFor="let r of m.runners | orderBy : 'sortPriority'">
                      <app-oddsbutton [cssClass]="'back desktop-odds'" (click)="
                  placebet(event.name, m, r,'back')" [price]="r.back[0]?.price == 0 ? ' ' : r.back[0]?.price"
                        [size]="r.back[0]?.size == 0 ? ' ' : r.back[0]?.size"></app-oddsbutton>
                      <app-oddsbutton [cssClass]="'lay desktop-odds'" (click)="
                  placebet(event.name,  m, r,'lay')" [price]="
                  r.lay[0]?.price == 0 ? ' ' : r.lay[0]?.price
                " [size]="
                  r.lay[0]?.size == 0 ? ' ' : r.lay[0]?.size
                "></app-oddsbutton>
                    </ng-container>
                  </ng-container>
                  <ng-template #runners2 (click)="routeToMarket(m.url)">
                    <app-oddsbutton [cssClass]="'back desktop-odds'" (click)="
                  placebet(
                    event.name,
                    m,
                    m.runners[0],
                    'back'
                  )
                " [price]="
                  m.runners[0]?.back[0]?.price == 0
                    ? ' '
                    : m.runners[0]?.back[0]?.price
                " [size]="
                  m.runners[0]?.back[0]?.size == 0
                    ? ' '
                    : m.runners[0]?.back[0]?.size
                "></app-oddsbutton>

                    <app-oddsbutton [cssClass]="'lay desktop-odds'" (click)="
                  placebet(
                    event.name,
                    m,
                    m.runners[0],
                    'lay'
                  )
                " [price]="
                  m.runners[0]?.lay[0]?.price == 0
                    ? ' '
                    : m.runners[0]?.lay[0]?.price
                " [size]="
                  m.runners[0]?.lay[0]?.size == 0
                    ? ' '
                    : m.runners[0]?.lay[0]?.size
                "></app-oddsbutton>


                    <app-oddsbutton [cssClass]="
                  'back-opacity desktop-odds'
                "></app-oddsbutton>
                    <app-oddsbutton [cssClass]="
  'lay-opacity desktop-odds'
"></app-oddsbutton>
                    <app-oddsbutton [cssClass]="'back desktop-odds'" (click)="
                  placebet(
                    event.name,
                    m,
                    m.runners[1],
                    'back'
                  )
                " [price]="
                  m.runners[1]?.back[0]?.price == 0
                    ? ' '
                    : m.runners[1]?.back[0]?.price
                " [size]="
                  m.runners[1]?.back[0]?.size == 0
                    ? ' '
                    : m.runners[1]?.back[0]?.size
                "></app-oddsbutton>

                    <app-oddsbutton [cssClass]="'lay desktop-odds'" (click)="
                  placebet(
                    event.name,
                    m,
                    m.runners[1],
                    'lay'
                  )
                " [price]="
                  m.runners[1]?.lay[0]?.price == 0
                    ? ' '
                    : m.runners[1]?.lay[0]?.price
                " [size]="
                  m.runners[1]?.lay[0]?.size == 0
                    ? ' '
                    : m.runners[1]?.lay[0]?.size
                "></app-oddsbutton>
                  </ng-template>
                </div>
              </div>
            </div>
            <div *ngIf="m.betslip">
              <app-partial-betslip [r]="m.betslip" (valueChange)="BetPlacedStatus($event)"></app-partial-betslip>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
    <ng-template #virtualCricket>
      <app-virtual-cricket [selectedId]="'4'" [virtual]="event.markets" [scoreData]="scoreData"></app-virtual-cricket>
    </ng-template>
  </ng-container>

</div>