<div class="main-wrapper mt-3 mx-auto" style=" max-width: 1000px;margin-bottom: 100px;">
  <div class="modal-header">
    <h4 class="modal-title rule-title ms-2">{{ "Rules" | translate }}</h4>
  </div>
  <div class="modal-content">
    <div>
      <div class="rule-section rule-body mt-1" *ngFor="let rule of rules">
        <details>
          <summary class="rounded d-flex p-1 bg-tab align-items-center justify-content-between d-flex">
            <h4 class="fs-15  p-2 mb-0 sm-fs-13">{{ rule?.question }}</h4>
            <i class="bi bi-chevron-down fs-15  me-2"></i>
          </summary>
          <p class="rule-detail sm-fs-13  p-2" *ngIf="rule?.answer">{{ rule?.answer }}</p>
        </details>
      </div>
    </div>
  </div>
</div>