.reports {
  padding: 10px; 
}

.pre-loader {
  position: absolute;
  top: 70px;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_bg_box {
  background: var(--reports-container-bg);
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 20px;
  scrollbar-width: none;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 63vh;
}

.table_result_sec {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background: var(--reports-container-bg);
}

table,
th,
td {
  border: 1px solid var(--reports-td-border-clr);
}

th,
td {
  padding: 10px 3px;
  text-align: left;
  font-size: 14px;
}

th {
  background: var(--reports-account-statment-th-bg);
  color: var(--reports-account-statment-th-clr);
  font-size: 14px;
  font-weight: 500;
}

td {
  color: var(--reports-account-statment-td-clr);
}

.narration {
  color: var(--reports-narration-clr);
  cursor: pointer;
}

.running-balance {
  text-align: center !important;
}

.material-icons {
  margin-bottom: 10px;
}

.back-btn {
  color: var(--reports-account-statement-back-btn-clr);
}

tr.back {
  td {
    color: #000;
    &::before {
      color: #000 !important;
    }
  }

  background: linear-gradient(180deg, #84c2f1, #d9efff) !important;
}
tr.lay {
  background: linear-gradient(180deg, #f59dc2, #f5e9ee) !important;
  td {
    color: #000;
    &::before {
      color: #000 !important;
    }
  }
}

/* Mobile-specific styles */
@media only screen and (max-width: 768px) {
  .inner_top_area_Sec {
    padding: 0px;
  }
  table {
    background: transparent !important;
  }
  .section_bg_box {
    background: transparent;
    padding: 2px !important;
  }

  table,
  th,
  td {
    border: none;
  }
  .section_bg_box {
    padding: 15px;
  }

  table,
  th,
  td {
    font-size: 12px;
  }

  table thead {
    display: none; /* Hide the header in mobile view */
  }

  table tbody,
  table tr,
  table td {
    display: block;
    width: 100%;
    border: none;
  }

  table tbody tr {
    margin-bottom: 4px;
    border: 1px solid var(--reports-td-border-clr) !important;
  }

  td {
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
    border-bottom: 1px solid var(--reports-td-border-clr) !important;
  }

  .running-balance {
    text-align: end !important;
  }
  td::before {
    content: attr(data-title); /* Use the data-title attribute as the label */
    position: absolute;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    font-weight: normal;
    color: var(--reports-td-before-clr) !important;
  }

  .running-balance {
    text-align: start !important;
  }
  .container {
    width: 100%;
    padding: 5px 0px;
    margin-top: -15px;
  }

  .sports-bets,
  .fancy-report {
    td {
      background: unset;
      // border: 1px solid #ffffff !important;
    }
    td::before {
      color: #000;
    }
  }
  .no-more-tables td {
    padding-left: 41% !important;
  }
  .text-center {
    text-align: start !important;
  }
  .adjust-text {
    display: flex;
    justify-content: end;
    .text {
      width: 300px;
    }
  }
  .pl-report {
    table th,
    table td {
      text-align: center;
    }

    th:first-child,
    td:first-child {
      text-align: left;
    }
  }
  .sixteen_title {
    text-align: left;
    font-size: 14px !important;
    margin-bottom: 5px;
  }
}

/* Mobile-specific styles */
@media only screen and (max-width: 400px) {
  table td {
    font-size: 10px !important;
  }
  .adjust-text {
    display: flex;
    justify-content: end;
    .text {
      width: 220px;
    }
  }
}
@media only screen and (max-width: 350px) {
  table td {
    font-size: 9px !important;
  }
}
