.main-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-wrapper .ocbArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.main-wrapper .ocbValueButtons {
  transition: 1s all;
  margin-top: 15px;
  width: 100%;
}

.radioButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}
.radioButton label {
  flex-basis: calc(100% / 5);
  flex-grow: 1;
}
input[type="radio"] {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1;
  width: 1;
  margin: -1;
  padding: 0;
  border: 0;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 3px 10px;
  overflow: hidden;
  background: var(--oneClickValueBtnBg);
  color: var(--oneClickValueBtnClr);
  border: 1px solid var(--oneClickValueBtnBorder);
}

.icon:hover {
  cursor: pointer;
}

.peer:checked ~ .icon {
  background: var(--oneClickActiveValueBtnBg);
  border: 1px solid var(--oneClickActiveValueBtnBg);
  color: var(--oneClickActiveValueBtnClr);
}

.ocbArea input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.ocbArea label {
  cursor: pointer;
  text-indent: -9999px;
  width: 45px;
  height: 24px;
  background: var(--oneClickToggleOffBg);
  display: block;
  border-radius: 100px;
  position: relative;
  top: -11px;
}

.ocbArea label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 21px;
  height: 20px;
  background: var(--oneClickToggleSwitchBtn);
  border-radius: 90px;
  transition: 0.3s;
}

.ocbArea input[type="checkbox"]:checked + label {
  background: var(--oneClickToggleOnBg) !important;
}

.ocbArea input[type="checkbox"]:checked + label:after {
  left: calc(100% - 3px);
  transform: translateX(-100%);
}
.ocbText {
  color: var(--ocbHead);
}

.one-click-buttons {
  display: flex;
  gap: 5px;
  .custom {
    height: 36px;
    font-size: 12px;
    margin-top: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    width: 50% !important;
    background: var(--oneClickEditStackBtn);
    color: var(--oneClickEditStackBtnClr);
    &:hover {
      cursor: pointer;
    }
  }
  .save {
    background: var(--oneClickEditSaveBtn);
    color: var(--oneClickEditSaveBtnClr);
  }
}
