<div class="container border_bottom" *ngIf="nextRaces">
  <div>
    <div class="inplay_matches_box mt-2">
      <div class="card next-card-wrapper">
        <div class="next-race-container m-0 p-1 races-card-cont">
          <!-- <div style="position: relative;height:34px;">
            <div class="races-head">
              <span class="match_card_heading next-heading"> NEXT RACES </span>
            </div>
           
          </div> -->
          <div class="races-outer">
            <div class="races-inner">
              <div
                [routerLink]="'/sports/racemarket/' + race.marketId"
                *ngFor="let race of nextRaces"
                class="next-races-card"
              >
                <div class="race-details">
                  <span>
                    {{ showAbbr(race.trackName) }}
                    <span class="flag" [class]="race.countryCode"></span>
                  </span>
                  <div
                    *ngIf="
                      (race.startTime | amDifference: today:'hours') <= 24 &&
                      (race.startTime | amDifference: today:'hours') > 2
                    "
                    class="status-wrapper"
                  >
                    <span class="comingup-time">
                      {{ race.startTime | date: "HH:mm" }}
                    </span>
                  </div>
                  <div
                    *ngIf="(race.startTime | amDifference: today:'hours') <= 2"
                    class="status-wrapper"
                  >
                    <span class="comingup-time">
                      {{ race.startTime | date: "HH:mm" }}
                    </span>
                  </div>
                </div>
                <div class="d-flex flex-column align-items-center">
                  <span
                    class="race-img"
                    [ngClass]="'sports' + race.eventTypeId"
                  ></span>
                  <span class="flag_logo" [class]="race.countryCode"> </span>
                </div>
                <!-- <div class="status-wrapper" >
                      <span class="status">{{race.status | translate}}</span>
                    </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
