<div class="sidenav">
  <div class="side-logo" *ngIf="!isIframe">
    <a routerLink="/"><img [src]="siteLogo" [alt]="sitename + '_Logo'" /></a>
  </div>
  <ul class="sidenav p-0">
    <div class="search-box">
      <div class="search">
        <input
          type="text"
          placeholder=""
          class="form-control"
          type="text"
          id="list"
          (input)="suggest($event)"
          autocomplete="off"
          [placeholder]="'Search' | translate"
        />
      </div>

      <div class="list-cont" *ngIf="suggestions && suggestions.length > 0">
        <div class="list-sugg">
          <p *ngFor="let s of suggestions" (click)="clearField(s)">
            {{ s.eventName }}
          </p>
        </div>
      </div>
    </div>
    <!-- // -->
    <div *ngIf="sidebartop && sidebartop.length > 0" class="sidebar-card">
      <div
        *ngFor="let dataItems of sidebartop"
        [routerLink]="dataItems.link"
        class="d-flex align-items-center justify-content-between market-border backGround_gradient"
      >
        <label>
          <img
            [src]="cdnSportsLanding + 'banners/' + dataItems.id + '.png'"
            class="sports-icon-popular popular-icon"
            alt=""
          />
          <span class="getColor">{{ dataItems.text | translate }}</span>
        </label>
      </div>
      <li>
        <div
          class="d-flex align-items-center justify-content-between market-border backGround_gradient"
          (click)="LoadSports()"
        >
          <label routerLink="/sports">
            <img
              class="sports-icon-trending"
              src="https://iriscdn.b-cdn.net/kheloyar/web/newsidebar/sports.svg"
            />
            <span class="getColor"> {{ "sports" | translate }}</span>
          </label>
        </div>
      </li>
    </div>
    <ng-container *ngIf="utillsService.skeltonLoaderForMobi | async">
      <app-skelton-loader [loaderType]="'sidebar'"></app-skelton-loader>
    </ng-container>

    <div class="sidebar-card" style="margin-top: 15px">
      <li *ngFor="let a of data" class="lc-1 pointer">
        <div
          class="d-flex align-items-center justify-content-between"
          (click)="LoadChild(a, 'a')"
        >
          <label [attr.for]="a.id" data="a">
            <span class="sports-icon-grey" [ngClass]="'sports' + a.id"></span>
            {{ a.name | translate }}</label
          >
          <!-- <img class="dwn-arrow" src="https://iriscdn.b-cdn.net/magicwin.games/arrow.svg" alt="" /> -->
          <i class="bi bi-chevron-down fs-15"></i>
        </div>
        <ul data-check="1" class="lc-2">
          <li *ngFor="let b of a.childs" class="second_level">
            <div class="sub-item">
              <div
                class="d-flex justify-content-between align-items-center borderLine"
                (click)="LoadChild(b, 'b'); a.filter = false"
                [ngClass]="
                  this.data[0].id == '1' && b.id == b.name ? 'date-bg' : ''
                "
                [id]="b.id.split(' ').join('')"
              >
                <span class="d-flex align-items-center">
                  <label
                    data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#' + b.name.split(' ')[1]"
                    [attr.aria-expanded]="false"
                    [attr.aria-controls]="b.name.split(' ')[1]"
                    [attr.for]="b.name"
                    data="b"
                    class="lvl-2"
                    >{{ b.name }}</label
                  >
                  <span
                    style="margin: 0px 10px 0px 0px"
                    *ngIf="a.id === '4339' || a.id === '7'"
                    class="flag_logo"
                    [class]="b.name"
                  ></span>
                </span>

                <i
                  class="bi bi-chevron-down fs-15"
                  *ngIf="b.isMarket == false || null"
                ></i>
              </div>

              <ul data-check="2" [id]="b.name.split(' ')[1]" class="lc-3">
                <li *ngFor="let c of b.childs" class="third_level">
                  <div>
                    <div
                      class="d-flex justify-content-between align-items-center borderLine"
                      (click)="LoadChild(c, 'c')"
                      [ngClass]="c.id == c.name ? 'date-bg' : ''"
                    >
                      <label [attr.for]="c.id" data="c" class="lvl-3">{{
                        c.name
                      }}</label>
                      <img
                        src="https://iriscdn.b-cdn.net/magicwin.games/{{
                          c.inPlay ? 'checkbox' : 'checkbox-black'
                        }}.svg"
                        class="checkbox"
                        *ngIf="c.isMarket"
                      />

                      <i
                        class="bi bi-chevron-down fs-15"
                        *ngIf="c.isMarket === false || null"
                      ></i>
                    </div>
                    <ul id="market-links" class="lc-4">
                      <li *ngFor="let d of c.childs" class="fourth_level">
                        <div class="nested-child">
                          <div
                            class="d-flex justify-content-between align-items-center borderLine"
                            (click)="LoadChild(d, 'd')"
                            [ngClass]="d.id == d.name ? 'date-bg' : ''"
                          >
                            <label
                              class="d-flex align-items-center justify-content-between"
                              class="lvl-4"
                              [attr.for]="d.id"
                              data="d"
                              >{{ d.name }}
                            </label>
                            <img
                              src="https://iriscdn.b-cdn.net/magicwin.games/{{
                                d.inPlay ? 'checkbox' : 'checkbox-black'
                              }}.svg"
                              class="checkbox"
                              *ngIf="d.isMarket"
                            />

                            <i
                              class="bi bi-chevron-down fs-15"
                              *ngIf="d.isMarket === false || null"
                            ></i>
                          </div>
                          <ul>
                            <li *ngFor="let e of d.childs" class="fifth_level">
                              <div
                                class="nested-inner-child borderLine"
                                (click)="LoadChild(e, 'e')"
                              >
                                <label
                                  class="d-flex align-items-center justify-content-between"
                                  [attr.for]="e.id"
                                  data="e"
                                >
                                  <span class="lvl-5">{{ e.name }}</span>
                                  <img
                                    src="https://iriscdn.b-cdn.net/magicwin.games/{{
                                      e.inPlay ? 'checkbox-black' : 'checkbox'
                                    }}.svg"
                                    class="arrow mt-0"
                                    *ngIf="e.isMarket"
                                  />
                                  <i
                                    class="bi bi-chevron-down fs-15"
                                    *ngIf="e.isMarket === false || null"
                                  ></i>
                                </label>
                                <ul>
                                  <li *ngFor="let f of e.childs">
                                    <a *ngIf="f.isMarket">{{ f.name }}</a>
                                    <div
                                      class="nested-inner-child borderLine"
                                      (click)="LoadChild(f, 'f')"
                                    >
                                      <label
                                        class="d-flex align-items-center justify-content-between"
                                        [attr.for]="f.id"
                                        data="f"
                                      >
                                        <span class="lvl-5">{{ f.name }}</span>
                                        <img
                                          src="https://iriscdn.b-cdn.net/magicwin.games/{{
                                            e.inPlay
                                              ? 'checkbox-black'
                                              : 'checkbox'
                                          }}.svg"
                                          class="arrow mt-0"
                                          *ngIf="f.isMarket"
                                        />
                                      </label>
                                      <i
                                        class="bi bi-chevron-down fs-15"
                                        *ngIf="!f.isMarket"
                                      ></i>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </div>
    <div class="extra-menus">
      <ng-container *ngIf="!isIframe">
        <div
          class="sidebar-card"
          *ngIf="SidebarCasino && SidebarCasino.length > 0"
        >
          <div
            *ngFor="let dataItems of SidebarCasino"
            [routerLink]="dataItems.link"
            (click)="closeSide()"
            class="d-flex align-items-center justify-content-between market-border backGround_gradient"
          >
            <label>
              <img
                [src]="cdnSportsLanding + 'banners/' + dataItems.id + '.png'"
                class="sports-icon-popular popular-icon"
                alt=""
              />
              <span class="getColor">{{ dataItems.text | translate }}</span>
            </label>
            <!-- <img
              class="dwn-arrow"
              src="https://iriscdn.b-cdn.net/magicwin.games/arrow.svg"
              alt=""
            /> -->
          </div>
        </div>
        <ng-container *ngIf="utillsService.skeltonLoaderForMobi | async">
          <app-skelton-loader [loaderType]="'sidebar'"></app-skelton-loader>
        </ng-container>
      </ng-container>
      <div class="social-links-wrap" *ngIf="isShowSidebarLink">
        <div (click)="forWhatsAppSupport()" class="sociallink wp-bg">
          <img
            src="https://iriscdn.b-cdn.net/exchmarket.net/footericon/whatsapp.png"
            alt=""
          />
          <span class="social-1" *ngIf="isLogin"> Customer Support</span>
          <span class="social-1" *ngIf="!isLogin"> Get ID on WhatsApp</span>
        </div>
        <div (click)="socialMediaLink('INSTA')" class="sociallink insta-bg">
          <img
            src="https://iriscdn.b-cdn.net/exchmarket.net/footericon/instagram.png"
            alt=""
          />
          <span class="social-2">Follow us on Instagram</span>
        </div>
        <div (click)="socialMediaLink('T')" class="sociallink tel-bg">
          <img
            src="https://iriscdn.b-cdn.net/exchmarket.net/footericon/telegram.png"
            alt=""
          />
          <span class="social-1">Follow us on Telegram</span>
        </div>
      </div>
    </div>
    <!-- <li class="lc-1" style="width: 100%;">
        <a style="width: 100%;" [href]="apkLink">
          <div class="d-flex align-items-center justify-content-around " style="width: 100%;">
            <label style="display: flex; gap: 4px; align-items: center;width: 100%;padding: unset;">
              <span style="width: unset !important;padding: unset !important;"><i class="bi bi-download"
                  style="width: 16px;"></i>
              </span>
              {{ 'Download App' | translate }}</label>
            <img class="dwn-arrow" src="https://iriscdn.b-cdn.net/magicwin.games/arrow.svg" alt="">

          </div>
        </a>
      </li> -->
  </ul>
</div>
