.plr-18 {
  padding: 0px 18px;
}

.table td,
.table th {
  border: 0;
}

.table tbody tr {
  border-bottom: 1px solid #5f5f5f;
}

.table thead th,
.table tbody tr {
  text-align: center;
}
.game-id-color {
  color: #72bced;
}
.content {
  background: #0e0e0e;
  padding: 1px 0px 42px 0px;

  .xg-progress {
    margin-top: 30px !important;
    border-radius: 5px;
    max-width: 500px;
  }
}
.card55 {
  background: #fff !important;
  width: 60px !important;
  height: 81px;
  margin-top: 5px;
  border-radius: 5px;
}
.round {
  font-size: 16px;
}

.game-nav {
  align-items: center;
  font-family: var(--font_family_global);

  .xg-name {
    margin-right: 0px;
    display: flex;
    gap: 80px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  padding: 0 14px;
  height: 48px;
  background: #292929;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  width: 100%;
  justify-content: space-between;

  .game-id {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .rounds {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font_family_global);

    .round-info {
      width: 286px;
      flex-direction: column;
      padding: 0px;
      height: 48px;
      border-radius: 10px;
      border: 3px solid #292929;
      background: #0e0e0e;

      .round {
        margin: 0px 5px;
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      .progress-items {
        display: flex;

        .progress-dot.active {
          background: #d67f4b;
          width: 15px;
        }

        .progress-dot {
          width: 30px;
          height: 10px;
          border-radius: 15px;
          margin: 0px 5px;
        }
      }
    }
  }

  .game-info-links {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;

    .info-btn {
      height: 30px;
      width: 80px;
      justify-content: center;
      align-items: center;
      display: flex;
      color: #fff;
      gap: 5px;
      font-size: 14px;

      &:hover {
        cursor: pointer;
      }
    }

    .help {
      background: #009933;
    }

    .rules {
      background: #f18801;
    }

    .results {
      background: #0094de;
    }
  }
}

.hand-info {
  .round {
    color: white !important;
  }

  .active {
    color: #d67f4b !important;
  }
}

.round-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hands-info {
  margin-top: 2px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-columns: minimax(100px, auto);
}

.cards-display {
  font-family: var(--font_family_global);
  border-radius: 10px !important;

  .cards-now {
    min-height: 160px;
    margin-top: 25px;
    width: 240px;
    padding: 10px;
    background: #292929 !important;
    height: 112px;
    // img {
    //   height: 119px;
    // }

    .dealer {
      position: relative;
      display: flex;
      justify-content: center;

      .player-turn {
        position: absolute;
        // padding: 6px;
        top: -23px;
        min-width: 118px;
        padding: 7px;
        border-radius: 10px;
        border: 3px solid #000;
        background: #292929;
        font-size: 14px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        // flex-direction: column;
      }
    }

    .hand-points {
      font-size: 13px;
      font-weight: 300 !important;
    }

    .card-content {
      margin-top: 23px;
    }

    .points {
      position: relative;
      display: flex;
      justify-content: center;

      .points-turn {
        position: absolute;
        background: green;
        top: 3px;
        border-radius: 10px;
        border: 3px solid #000;
        background: #093;
        height: 40px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        grid-gap: 8px;
        gap: 8px;
        min-width: 101px;
        padding: 7px;
      }
    }
  }
}

.players {
  background: #0e0e0e;
  padding: 10px;
  font-family: Poppins !important;
}

.xgprogress-bar {
  background: linear-gradient(
    90deg,
    #093 6.4%,
    #f18801 45.6%,
    #0094de 94.8%
  ) !important;
}

//Help Modal Styles
.help-container {
  padding: 4px;
}

.help-container .help-h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: var(--white_background_color);
  margin-bottom: 0.4rem;
}

.help-container p {
  font-weight: normal;
  font-size: 16px;
  line-height: normal;
  color: var(--white_background_color);
}

.help-container table {
  border-color: 1px solid rgba(255, 255, 255, 0.2);
  border-collapse: collapse;
}

.help-container table tr {
  border-color: 1px solid rgba(255, 255, 255, 0.2);
  border-width: 1px;
}

.help-container table th {
  border-color: 1px solid rgba(255, 255, 255, 0.2);
  border-collapse: collapse;
  border-width: 1px;
}

.help-container .button-back {
  background: #01101c;
  border-radius: 7px;
  color: white;
  border: none;
}

.help-container .button-lay {
  border: none;
  border-radius: 7px;
}

.help-container .button-simple {
  border: none;
  background: #252323;
  color: white;
}

.rules {
  // padding-top: 20px;
}

.rules-head-p {
  color: white;
  font-weight: bold;
}

.rules-head-h2 {
  font-size: 20px;
  font-weight: 500;
}

.rules ol li,
.rules .dark-t {
  color: white;
}

.grid-table .status {
  font-weight: 500;
}

.grid-table hr {
  background: #cfd7e9;
  margin: 0.25rem;
}

.other-btn {
  margin: 0px 1px;
  cursor: pointer;
  position: relative;
}

.bet-table {
  background: var(--white_background_color);
  border-radius: 16px;
  padding: 20px;
}

.bet-table .head {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bet-table .head2 {
  display: grid;
  grid-template-columns: fr 1fr;
}

.bet-table .head h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #19233c;
}

.bet-table .head .toggle {
  font-weight: 600;
  font-size: 10px;
  line-height: 22px;
  color: #707d9b;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-items: center;
}

.bet-table .head .toggle p {
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 10px;
  line-height: 22px;
}

.bet-table .table-wrapper {
  background: var(--white_background_color);
  border: 1px solid #eef3fd;
  box-sizing: border-box;
  border-radius: 9px;
  padding: 10px 0px;
}

.table-wrapper .table-b {
  background: rgba(132, 194, 241, 0.2);
  padding: 10px;
}

.table-wrapper .table-p {
  background: rgba(245, 157, 194, 0.2);
  padding: 10px;
}

.table-wrapper .head-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0px 10px;
}

.table-wrapper .head-info h5 {
  font-weight: bold;
  font-size: 12px;
  line-height: 22px;
  color: #707d9b;
}

.table-wrapper .bet-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 5px;
}

.table-wrapper .bet-form p {
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  color: #19233c;
}

.table-wrapper .bet-form input {
  width: 45px;
  height: 22px;
  background: var(--white_background_color);
  border-radius: 3px;
  border: none;
  padding: none;
}

.table-wrapper .btn-form {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.table-wrapper .bet-form #profit {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  color: #27ab69;
}

.table-wrapper .btn-form .btn {
  background: var(--white_background_color);
  border-radius: 3px;
  margin: 0px 5px;
  font-weight: 600;
  font-size: 10px;
  line-height: 10px;
  display: flex;
  align-items: center;
  color: #48494b;
  padding: 6px 7px;
}

.submit-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.submit-links .clear {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #707d9b;
  border-right: 1px solid #eef3fd;
}

.submit-links .submit {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #75a7f2;
}

.submit-links .submit-links-button {
  padding: 20px 65px;
}

.submit-links .submit-links-button:hover {
  cursor: pointer;
}

.head .action-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.head .action-links a {
  font-weight: 600;
  font-size: 10px;
  line-height: 22px;
  text-decoration: none;
  cursor: pointer;
}

.head .action-links a .action-ico {
  margin: 5px;
  vertical-align: middle;
}

.head .action-links .cancel {
  color: #ff6767;
}

.head .action-links .reload {
  color: #707d9b;
}

.bets-table #bets-table-head {
  background: #eef3fd;
  border-radius: 9px 9px 0px 0px;
  padding: 10px 7px;
}

.bets-table #bets-table-head h5 {
  font-size: 14px;
  line-height: 22px;
  color: #75a7f2;
  margin: 0px;
}

.bets-table table {
  padding: 10px;
  width: 100%;
}

.bets-table table th {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 22px;
  color: #707d9b;
  padding: 7px 10px;
  border-bottom: 1px solid #eef3fd;
}

.bets-table table td {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  padding: 7px 10px;
  color: #fff;
}

// Slider
.tgl {
  display: none;
}

.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl + .tgl-btn {
  box-sizing: border-box;
}

.tgl::-moz-selection,
.tgl:after::-moz-selection,
.tgl:before::-moz-selection,
.tgl *::-moz-selection,
.tgl *:after::-moz-selection,
.tgl *:before::-moz-selection,
.tgl + .tgl-btn::-moz-selection {
  background: none;
}

.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl + .tgl-btn::selection {
  background: none;
}

.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tgl + .tgl-btn:after,
.tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.tgl + .tgl-btn:after {
  left: 0;
}

.tgl + .tgl-btn:before {
  display: none;
}

.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-light + .tgl-btn {
  background: #f0f0f0;
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
}

.tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  transition: all 0.2s ease;
}

.tgl-light:checked + .tgl-btn {
  background: #9fd6ae;
}

.modal-header .close:focus-visible {
  outline: 0px;
}

.modal-header .close {
  opacity: 1;
  color: white;
}

.modal-header .close:hover {
  opacity: 0.5;
}

.close span:hover {
  transform: scale(1.1);
}

.modal-header {
  padding: 0.5rem 0.5rem;
}

.modal-body,
.modal-header {
  background: #1e1e1e;
  color: var(--white_background_color);
  border-color: #292929;
}

.modal-body {
  padding: 0.5rem 1rem;
}

.modal-body table {
  border-color: #292929;
}

.modal-body table th {
  color: var(--white_background_color);
  border-color: #292929;
}

.modal-body table td {
  vertical-align: middle;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: var(--white_background_color);
}

.modal-body .nav-tabs {
  border-color: #292929;
}
.cards-now img {
  width: 76px;
}
.modal-body .nav-tabs .nav-link {
  color: #d7bc7b;
  border-color: #292929;
}

.modal-body .nav-tabs .nav-link.active {
  background: #292929;
}
.xgcard-container {
  box-shadow: unset;
  background: unset;
}
.modal-body .nav-tabs .nav-link:hover {
  transform: scale(1.1);
}

// --------------------------------------------------------------mobile-xg-exp------------------------------------------------------------

@media (max-width: 1024px) {
  .hands-info {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center;
    .cards-display {
      width: 22%;
      justify-content: center;
      margin: 0px 5px;
      img {
        width: 55px;
      }
    }
  }
  .game-nav {
    .rounds .round-info {
      width: 215px;
      .progress-items {
        .progress-dot {
          width: 21px;
        }
      }
    }
    .game-info-links {
      .info-btn {
        height: 27px !important;
        width: 56px !important;
      }
    }
  }
  .xg-name,
  .game-id,
  .round,
  .info-btn,
  .player-turn,
  .points-turn,
  .game-green-head {
    font-size: 12px !important;
  }
  .round-info {
    // flex-direction: column;
    .progress-items {
      display: flex;
    }
  }
  .cards-display .cards-now {
    min-height: 135px;
    img {
      width: 55px;
    }
    .points .points-turn {
      font-size: 13px;
    }
  }
  .card55 {
    background: #fff !important;
    width: 60px;
    height: 59px;
    margin-top: 3px;
    border-radius: 5px;
  }
  .xgcard-container:not(:first-child) {
    margin-left: -39px;
  }
}

@media (max-width: 768px) {
  .content {
    background: #0e0e0e;
    padding: 1px 0px 13px 0px;
  }
  .round-info {
    flex-direction: column !important;
  }
  .modal-body table th,
  td,
  .nav-link {
    font-size: 10px !important;
  }
  .nav-link.active {
    width: unset !important;
    color: #fff;
  }
  .active {
    background: #d67f4b;
    width: 15px !important;
  }
  .progress-dot {
    width: 21px;
    height: 10px;
    border-radius: 15px;
    margin: 0px 5px;
  }

  .hand-info {
    margin: 0px 11px;
    .active {
      background: unset;
    }
  }
  .game-green-head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 13px;
    flex-wrap: wrap;
    gap: 5px;
    .game-green-links {
      display: flex;
      gap: 7px;
      color: #84c2f1;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .game-nav {
    width: 100%;
    .xg-name {
      gap: 10px;
    }
    height: 150px !important;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    font-size: 10px !important;
  }
  .game-nav {
    padding: 14px !important;
  }

  .cards-now img {
    width: 45px !important;
  }
  .round-game-data {
    flex-wrap: wrap;
    .boxes {
      height: 100px;
      width: 118px;
      font-size: 13px;
    }
  }
  .content .xg-progress {
    max-width: 380px !important;
    margin-top: 17px !important;
  }
  .card55 {
    height: 48px;
    margin-top: 3px;
    border-radius: 5px;
  }
  .xgcard-container:not(:first-child) {
    margin-left: -33px;
  }
  .cards-display {
    .cards-now {
      width: 160px !important;
      min-height: unset;
      margin-top: 0px !important;
      padding: 5px;
    }
  }

  .hands-info {
    .cards-display {
      justify-content: space-around;
      align-items: center;
      width: 22%;
      .cards-now {
        width: 227px;
        min-height: unset !important;
        height: unset !important;
        padding: 5px;
        .card-content {
          margin-top: 0px;
        }
        .dealer {
          .player-turn {
            position: unset;
            top: 3px;
            border-radius: 10px;
            background: unset;
            font-size: 12px;
            padding: unset;
            border: unset;
            min-width: unset;
            height: unset !important;
          }
        }
      }
    }
    .other-cards {
      padding: 0px 10px !important;
    }

    .game-nav {
      width: 100%;

      .xg-name {
        gap: 10px;
      }

      height: 150px !important;
      flex-direction: column;
      padding: 5px;
      border-radius: 5px;
      font-size: 10px !important;
    }
  }
  .cards-display {
    margin: 9px 6px !important;
    .hand-points {
      font-size: 11px !important;
      position: unset;
      top: 3px;
      border-radius: 10px;
      /* border: 3px solid #000; */
      background: unset;
      height: unset;

      min-width: unset;
      padding: unset;
    }

    .cards-now {
      .card-content {
        margin-top: 0px;
      }
      .dealer {
        .player-turn {
          position: unset;
          top: 3px;
          border-radius: 10px;
          background: unset;
          font-size: 12px;
          padding: unset;
          border: unset;
          min-width: unset;
          height: unset !important;
        }
      }
      .points {
        .points-turn {
          position: unset;
          top: 3px;
          border-radius: 10px;
          /* border: 3px solid #000; */
          background: unset;
          height: unset;
          font-size: 12px;
          min-width: unset;
          padding: unset;
          border: unset;
          font-weight: 100;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .hands-info {
    .cards-display {
      justify-content: space-around;
      align-items: center;
      width: 41%;
      .cards-now {
        margin-top: 0px;
        width: 216px !important;
      }
    }
  }
  .content .xg-progress {
    max-width: 260px !important;
  }
}
@media (max-width: 280px) {
  .table thead th,
  .table tbody tr {
    text-align: center;
    font-size: 10px;
  }

  .modal-body table td {
    font-size: 10px;
  }

  .xgcard-container:not(:first-child) {
    margin-left: -46px !important;
  }

  .two-card-images {
    padding: 0.5rem 2px !important;
  }
  .xgame_card {
    height: auto;
    max-width: 40px !important;
    margin: 0px 2px;
  }
}
