<div class="main-container">
  <app-casino-banners></app-casino-banners>
  <app-casino-search></app-casino-search>
  <app-casino-popular></app-casino-popular>
  <div *ngIf="loading" class="preloader-wrapper">
    <app-skelton-loader [loaderType]="'casinoLoader'"></app-skelton-loader>
  </div>
  <div class="main-container-casino" *ngIf="data?.length > 0">
    <ng-container *ngFor="let games of data">
      <div *ngFor="let game of games.data" (click)="routeToCasino(game)" class="card-casino">
        <div class="card-header-casino" [ngClass]="game.imgLoad !== true ? 'img-container-loader' : ''">
          <div class="img-container">
            <img [src]="game.imageURL" alt="" />
          </div>
        </div>
        <div class="game-desc">
          <p>{{ game.name }}</p>
          <div class="details">
            <span>Total Games : {{ game.total }}</span>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
