<!-- <a href="javascript: void(0);" class="goTopBtn goTopFixedButton"><i class="icon icon-arrow"></i><span>Top </span></a>
 -->
<div class="landing-page pt-0">
  <app-default-banner></app-default-banner>
  <app-sports-nav></app-sports-nav>
  <app-popular-banners></app-popular-banners>
  <div class="race-header-tab mb-1" *ngIf="!isMagicwin">
    <span class="ms-1 fs-16 sm-fs-14">Races</span>
  </div>
  <app-racetodayscard [isDefault]="false" [sportsId]="'7'"></app-racetodayscard>
  <app-racetodayscard
    [isDefault]="false"
    [sportsId]="'4339'"
  ></app-racetodayscard>
  <app-inplay-upcoming></app-inplay-upcoming>
  <app-gameslider
    [isMobile]="isMobile"
    [popularGamesData]="sportsData"
  ></app-gameslider>
  <app-gameslider
    [isMobile]="isMobile"
    [popularGamesData]="popularGamesData"
    *ngIf="popularGamesData && popularGamesData.length > 0"
  ></app-gameslider>
  <app-gameslider
    [isMobile]="isMobile"
    [popularGamesData]="popularTodayData"
    *ngIf="popularTodayData && popularTodayData.length > 0"
  ></app-gameslider>
  <app-gameslider
    [isMobile]="isMobile"
    [popularGamesData]="newReleasesData"
    *ngIf="newReleasesData && newReleasesData.length > 0"
  ></app-gameslider>
  <ng-container *ngIf="isMobile; else webTemplate">
    <app-provider-banner
      [bannerData]="providerBannerDataMobile"
      *ngIf="providerBannerDataMobile && isMagicwin"
    >
    </app-provider-banner>
  </ng-container>
  <ng-template #webTemplate>
    <app-provider-banner
      [bannerData]="providerBannerData"
      *ngIf="providerBannerData && isMagicwin"
    >
    </app-provider-banner>
  </ng-template>

  <app-gameslider
    [isMobile]="isMobile"
    [popularGamesData]="macIndianCasino"
    *ngIf="macIndianCasino && macIndianCasino.length > 0"
  ></app-gameslider>
  <app-gameslider
    [isMobile]="isMobile"
    [popularGamesData]="multiplayerData"
    *ngIf="multiplayerData && multiplayerData.length > 0"
  ></app-gameslider>
  <app-gameslider
    [isMobile]="isMobile"
    [popularGamesData]="esportsData"
    *ngIf="esportsData && esportsData.length > 0"
  ></app-gameslider>
  <app-gameslider
    [isMobile]="isMobile"
    [popularGamesData]="indianCasinoData"
    *ngIf="indianCasinoData && indianCasinoData.length > 0"
  ></app-gameslider>
  <app-gameslider
    [isMobile]="isMobile"
    [popularGamesData]="liveCasinoData"
    *ngIf="liveCasinoData && liveCasinoData.length > 0"
  ></app-gameslider>
  <ng-container *ngIf="isMobile; else provider2webTemplate">
    <app-provider-banner
      [bannerData]="provider2BannerDataMobile"
      *ngIf="provider2BannerDataMobile && isMagicwin"
    >
    </app-provider-banner>
  </ng-container>
  <ng-template #provider2webTemplate>
    <app-provider-banner
      [bannerData]="provider2BannerData"
      *ngIf="provider2BannerData && isMagicwin"
    >
    </app-provider-banner>
  </ng-template>

  <app-gameslider
    [isMobile]="isMobile"
    [popularGamesData]="gamesData"
    *ngIf="gamesData && gamesData.length > 0"
  ></app-gameslider>
  <ng-container *ngIf="isShowEndorsment">
    <app-celebrities [landingVideos]="landingVideos"></app-celebrities>
  </ng-container>

  <ng-container *ngIf="isMagicwin">
    <app-gameslider
      [isMobile]="isMobile"
      [popularGamesData]="providerData"
      *ngIf="providerData && providerData.length > 0"
    ></app-gameslider>
  </ng-container>
  <app-summary-content></app-summary-content>
</div>
