<div class="race-compo" *ngIf="racingSchedule;else emptyData">
  <ul class="tabs d-flex mb-0 align-items-center">
    <li class="race-type-img" style="width: 50px;"> <img [src]='sportsType' height="50px"></li>
    <li class="pointer" *ngFor="let data of racingSchedule[selectedIndex]?.childs; index as i"
      [class.active]="activeIndex === i">
      <span class="d-flex justify-content-center align-items-center race-item" (click)="isOpen(i,data)">
        <span class="flag_logo" [class]="data.countryCode"></span>
        <span class="sm-fs-13">{{ data.countryCode }}</span>
      </span>
    </li>
  </ul>
  <!-- Content Section -->
  <ng-container *ngIf="selectedData.toggle">
    <div class="d-flex p-1 bb-1 raceCard" *ngFor="let childs of selectedData.childs">
      <div class="race-header">
        <span class="trackName   sm-fs-13">{{ childs.trackName }}</span>
      </div>
      <div class="d-flex flex-wrap align-items-center">
        <span class="startTime  sm-fs-13 pointer" *ngFor="let item of childs.childs"
          [routerLink]="'/sports/' + item.url">
          {{ item.startTime | date:
          'HH:mm' }}
        </span>
      </div>
    </div>
  </ng-container>
</div>
<ng-template #emptyData>
  <div class="skeleton-flags">
    <div class="skeleton-flag"></div>
    <div class="skeleton-flag"></div>
    <div class="skeleton-flag"></div>
    <div class="skeleton-flag"></div>
    <div class="skeleton-flag"></div>
    <div class="skeleton-flag d-none d-md-block"></div>
    <div class="skeleton-flag d-none d-md-block"></div>
    <div class="skeleton-flag d-none d-md-block"></div>
    <div class="skeleton-flag d-none d-md-block"></div>
  </div>
</ng-template>