.skeleton-flags {
  display: flex;
  gap: 8px; /* Adjust for spacing between flags */
  margin-bottom: 10px; /* Space between rows */
}

.skeleton-flag {
  width: 100%; /* Adjust width to mimic flag size */
  height: 40px; /* Adjust height to mimic flag size */
  background: var(--todayracesskelton);
  // background: linear-gradient(268deg, #2a2a2a 25%, #3a383e 50%, #29282b 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite;
  border-radius: 4px; /* Optional, for rounded corners */
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
