<app-casino-filters></app-casino-filters>
<div class="total-games">
  <span>Home > All Casino >
    {{
    setProperName(
    gameNameData.charAt(0) + gameNameData.slice(1).toLowerCase()
    )
    }}</span>
  <span>Total: {{ totalNumberofGames }} Games</span>
</div>
<div class="loader" *ngIf="loading">
  <!-- <app-preloader></app-preloader> -->
</div>
<div class="parent-wrapper container-wrapper-casino" *ngIf="!loading">
  <div class="c-wrap">
    <!-- <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li ngbNavItem>
        <ng-template ngbNavContent>
          <div class="main-container-casino">
            <ng-container *ngFor="let games of data; let i = index">
              <div class="header-title">
                <span>{{ games.group }}</span>
                <div class="see-all-view" *ngIf="games.data.length > 2" (click)="toggleImages(i)">
                  <span>See More Games</span>
                  <img [@rotateArrow]="toggleGamePro[i] ? 'expanded' : 'collapsed'"
                    src="https://iriscdn.b-cdn.net/kheloyar/casinosNew/see-more-arrow.svg" alt="image" />
                </div>
              </div>
              <div [ngClass]="
                  toggleGamePro[i] ? 'casino-images' : 'casino-images-scroll'
                ">
                <div [ngClass]="
                    toggleGamePro[i] ? 'pop-inner' : 'pop-inner-scroll'
                  " (click)="routeToGame(subItem)" *ngFor="
                    let subItem of games.data.slice(
                      0,
                      toggleGamePro[i] ? games.data.length : games.data.length
                    )
                  ">
                  <img [src]="subItem.imgLink ? subItem.imgLink : gameLoader"
                    onerror="this.onerror=null; src=gameLoader" />
                  <div class="favourite_container" *ngIf="isLoggedIn && isShowFavourite">
                    <i class="bi bi-heart favourite" [ngClass]="{'red': isFavorite(subItem.GameCode)}"
                      (click)="toggleFavourite(subItem);$event.stopPropagation()">
                    </i>
                  </div>
                </div>
              </div>
              <div class="see-all-view" *ngIf="toggleGamePro[i]" (click)="toggleImages(i)">
                <span>Hide All</span>
                <img [@rotateArrow]="toggleGamePro[i] ? 'expanded' : 'collapsed'"
                  src="https://iriscdn.b-cdn.net/kheloyar/casinosNew/see-more-arrow.svg" alt="image" />
              </div>
            </ng-container>
          </div>
        </ng-template>
      </li>
    </ul> -->
    <!-- <div [ngbNavOutlet]="nav"></div> -->
  </div>

  <div class="footer-cont">
    <div class="header-title">
      <span>Providers</span>
      <div class="see-all-view" routerLink="/casino/providers">
        <span>See More</span>
        <i class="bi bi-chevron-down fs-14"></i>

      </div>
    </div>
    <div class="card-casino-footer casino-images-scroll">
      <div class="card-casino-footer-cont" (click)="routeToLobby('QTC', 'EVO-roulette')">
        <div class="card-header-casino">
          <img src="https://cdn.urexch.com/landing/img/EVOF.png" />
        </div>
      </div>
      <div class="card-casino-footer-cont" (click)="routeToLobby('IC')">
        <div class="card-header-casino">
          <img src="https://iriscdn.b-cdn.net/kheloyar/landingpagenew/ProvidersWebp/auraGaming.jpg" />
        </div>
      </div>
      <div class="card-casino-footer-cont" (click)="routeToLobby('QTC', 'EZU-roulette')">
        <div class="card-header-casino">
          <img src="https://cdn.urexch.com/landing/img/EzugiF.png" />
        </div>
      </div>
      <div class="card-casino-footer-cont" (click)="routeToLobby('QTC')">
        <div class="card-header-casino">
          <img src="https://cdn.urexch.com/landing/img/QtechF.png" />
        </div>
      </div>
      <div *ngIf="showVS" class="card-casino-footer-cont" (click)="navigateToVirtualSports()">
        <div class="card-header-casino">
          <img style="width: 132px; height: 90px"
            src="https://iriscdn.b-cdn.net/magicwin.games/icon/VirtualSports.png" />
        </div>
      </div>
    </div>
  </div>
</div>