.score-wrapper {
  border-radius: 4px;
  background: url("https://iriscdn.b-cdn.net/kheloyar/clientweb/images/cricket-bg.jfif");
  background-position: -20px -540px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.score {
  font-size: 15px;
  margin: 0px;
}
.cricket-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: auto;
  height: 85%;
}
.score-card-header,
.test-innings {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.match-type {
  text-transform: capitalize;
}
// .score {
//   color: green;
// }
.team-name {
  text-align: center;
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
}
.over {
  font-size: 75%;
}

.team-container {
  max-width: 150px;
  width: 100%;
}

.team-container span {
  font-size: 14px;
}

.bat {
  transform: rotate(45deg) scale(0.7);
}

.team-container {
  background: rgba(0, 0, 0, 0.75);
  // padding: 5px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #373c46;
}

.score-icon {
  height: 30px;
  width: 35px;
}
