<div class="preloader-wrapper big active" *ngIf="matchType==='test'; else odimatchesContainer" >
  <div class="score-wrapper p-1" *ngIf='result'>
    <div class="cricket-wrapper" style="color: white;">
      <div >
        <div class="score-card-header">
          <p class="match-type">
            {{matchType}}
          </p>
          <p *ngIf="matchType==='test'">
            {{'day' | translate}}: {{data.currentDay}}
          </p>
        </div>
        <div>
          <p>{{team1}}</p>
          <p>{{team2}}</p>
        </div>
      </div>
      <div class="test-innings"  *ngIf="matchType==='test'; else odimatches">
        <div>
            <p>{{'inning1' | translate}}</p>
            <p class="score" *ngIf='result.home.inning1; else yet_tobat'>{{result.home.inning1.runs}}
              / {{result.home.inning1.wickets === "ALL_OUT" ? "10" : result.home.inning1.wickets}} <small
                class="over">({{result.home.inning1.overs}})</small>
            </p>
          <ng-template #yet_tobat>
            <p>
              {{'yettobat' | translate}}
            </p>
          </ng-template>
          <p class="score" *ngIf='result.away.inning1; else yet_tobat'>{{result.away.inning1.runs}}
          / {{result.away.inning1.wickets === "ALL_OUT" ? "10" : result.away.inning1.wickets}} <small
            class="over">({{result.away.inning1.overs}})</small>
          </p>
        </div>

        <div>
          <p>{{'inning2' | translate}}</p>
          <p class="score" *ngIf='result.home.inning2; else yet_tobat'>{{result.home.inning2.runs}}
            / {{result.home.inning2.wickets === "ALL_OUT" ? "10" : result.home.inning2.wickets}}
            <small class="over">
              ({{result.home.inning2.overs}})
            </small>
          </p>
          <ng-template #yet_tobat>
            <p>
              {{'yettobat' | translate}}
            </p>
          </ng-template>
          <p class="score" *ngIf='result.away.inning2; else yet_tobat'>{{result.away.inning2.runs}}
            / {{result.away.inning2.wickets === "ALL_OUT" ? "10" : result.away.inning2.wickets}}
            <small class="over">
              ({{result.away.inning2.overs}})
            </small>
          </p>
        </div>
      </div>
      <ng-template #odimatches>
        <div >
            <p>{{'runs' | translate}}</p>
            <p class="score" *ngIf='result.home.inning1; else yet_tobat'>
              {{result.home.inning1.runs}} / {{result.home.inning1.wickets === "ALL_OUT" ? "10" : result.home.inning1.wickets}}
              <small class="over">({{result.home.inning1.overs}})</small>
            </p>
          <ng-template #yet_tobat>
            <p>
              {{'yettobat' | translate}}
            </p>
          </ng-template>
          <p class="score" *ngIf='result.away.inning1; else yet_tobat'>{{result.away.inning1.runs}} / {{result.away.inning1.wickets === "ALL_OUT" ? "10" : result.away.inning1.wickets}}
            <small class="over">
              ({{result.away.inning1.overs}})
            </small>
          </p>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<ng-template #odimatchesContainer>
  <div class="score-wrapper p-1" *ngIf='result'>
    <div class="cricket-wrapper" style="color: white;">
      <div class="team-container">
        <div class="team-header">
          <p class="team-name">{{team1}}</p>
          <img [class]="result.home.highlight === true ? ' score-icon bat' : 'score-icon'" [src]="result.home.highlight === true ? '/assets/images/icons-color/cricketbat.svg' : '/assets/images/icons-color/cricketball.svg'" alt="">
        </div>
        <span class="score" *ngIf='result.home.inning1; else yet_tobat' >
          {{result.home.inning1.runs}} / {{result.home.inning1.wickets === "ALL_OUT" ? "10" : result.home.inning1.wickets}}
          <small class="over">({{result.home.inning1.overs}})</small>
        </span>
        <ng-template #yet_tobat>
          <span class="score">
            {{'yettobat' | translate}}
          </span>
        </ng-template>

      </div>
      <div class="team-container">
        <div class="team-header">
          <p class="team-name">{{team2}}</p>
          <img  [class]="result.away.highlight === true ? ' score-icon bat' : 'score-icon'" [src]="result.away.highlight === true ? '/assets/images/icons-color/cricketbat.svg' : '/assets/images/icons-color/cricketball.svg'" alt="">
        </div>
        <span class="score" *ngIf='result.away.inning1; else yet_tobat'>{{result.away.inning1.runs}} / {{result.away.inning1.wickets === "ALL_OUT" ? "10" : result.away.inning1.wickets}}
          <small class="over">
            ({{result.away.inning1.overs}})
          </small>
        </span>
        <ng-template #yet_tobat>
          <span>
            {{'yettobat' | translate}}
          </span>
        </ng-template>

      </div>
    </div>
  </div>
</ng-template>
