<div *ngIf="getCurrentRoute()!='/games'" class=''>
  <div class="xgnav xg-navbar">
    <div #rla="routerLinkActive" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
      class="xg-link nav-text" *ngFor="let game of exchangeGames">
      <a *ngIf="game.isStandard" [routerLink]="'/'+game.routerLink">
        {{game.gameName|translate}}
      </a>
      <a *ngIf="!game.isStandard" [routerLink]="'/'+game.routerLink">
        <span>{{game.gameName|translate}}</span>
        <span class="turbo gamenav-turbo">{{'turbo'|translate}}</span>
      </a>
    </div>
  </div>
</div>