:host ::ng-deep ngx-mat-intl-tel-input {
  width: 100%;
  background: var(--formControlBg);
  color: var(--formControlClr);
  border: none;
  padding: 10px 13px;
  border-radius: 5px !important;

  .country-selector {
    height: 44px;
    background-image: url("https://iriscdn.b-cdn.net/magicwin.games/icon/arrow.svg");
    background-size: 13px 7px;
    // cursor: not-allowed;
    // pointer-events: none;
    opacity: 1 !important;
  }
  .country-selector-code {
    color: var(--formControlClr);
  }
  input.mat-input-element {
    color: var(--formControlClr);
    font-size: 15px;
  }
}
