.casino-images-scroll {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  grid-gap: 8px;
  padding: 1px 10px 1px 10px;
  flex-wrap: nowrap;
  //scrollbar-width: none;
}
.header-title {
  border-radius: 4px;
  background: var(--casinoTitleHeaderBG);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  margin: 0 8px;
  align-items: center;
}
.card-casino-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-bottom: 20px;
}
.header-title span {
  color: var(--casino-footer-title-clr);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.header-title img {
  width: 12px;
  height: 11px;
}
.see-all-view {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.see-all-view span {
  color: var(--main-clr);
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal;
}
.footer-cont {
  border-radius: 5px;
  margin-top: 11px;
  width: 100%;
  background: var(--casino-footer-main-bg);
  padding: 0px 0px 1px 6px;
  .header-title {
    margin: 0px;
  }
  .casino-images-scroll {
    //padding: 0px 0px 9px 0px;
    margin: 8px;
    gap: 8px;
  }
}
.footer-cont p {
  font-size: 16px;
  text-transform: uppercase;
  margin: 0;
}
.footer-cont .card-casino {
  min-height: unset;
  min-width: unset;
  /* max-width: 110px;
  min-height: 85px; */
  /* width: 100%; */
  height: 100%;
}
.footer-cont .card-casino .card-header-casino {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-cont .card-header-casino img {
  width: 100%;
  max-width: 135px;
  // height: 70px;
  border-radius: 6px;
  height: 89px;
}
.casino-images-scroll img {
  border-radius: 3px;
}
.card-casino-footer-cont {
  // border: 0.5px solid #3c3c3c;
  border-radius: 5px !important;
  cursor: pointer;
}
.card-casino p {
  margin: 0;
}

@media screen and (min-width: 589px) {
  .main-container-casino {
    .card-casino {
      width: 30% !important;
    }
    .card-header-casino {
      img {
        height: 25vw;
      }
    }
  }
}
.footer-cont .card-header-casino {
  background: var(--casino-footer-card-bg);
  border-radius: 6px;
  display: flex;
  max-width: 132px;
  display: flex;
  width: 133px;
  height: 89px;
  border-radius: 6px;
}

@media (max-width: 768px) {
  .footer-cont {
    padding: 3px;
  }

  .footer-cont .card-header-casino {
    background: transparent !important;
  }

  .header-title {
    display: flex !important;
  }

  .card-casino-footer {
    justify-content: flex-start;
  }

  .casino-images-scroll img {
    border-radius: 4px;
    border: 1.154px solid var(--main-clr);
  }
}
