<div class="text-center">
  <app-preloader *ngIf="loader"> </app-preloader>
</div>

<div class="container p-1" style="max-width: 1000px;margin-bottom: 70px;" *ngIf="!loader">
  <h5 class="blog-header   mt-3">Latest Posts</h5>
  <div class="content-container">
    <ng-container *ngFor="let blogDetail of blogData; let i = index">
      <div class="rounded d-flex p-2 bg-tab align-items-center justify-content-between d-flex mb-2">
        <h4 class="fs-14 w-70 sm-fs-12 blog-title   ms-2">{{ blogDetail.title }}</h4>
        <button class="btn  btn-theme blogs-read-more fs-13 sm-fs-10" (click)="routeToBlog(blogDetail)">
          Read more
        </button>
      </div>
    </ng-container>
  </div>
</div>