:root {
  --login-signup-group-border-clr: #d5f00d;
  --demo-border-clr: #d5f13e;
  --pin-header-bg: #ff0000;
  --pin-header-clr: #ddd9d9;
  --pin-modal-clr: #e0e0e0;
  --pin-modal-close-btn-bg: #000000;
  --pin-modal-close-btn-clr: #ffffff;
  --demo-login-bg: #d5f00d;
  --demo-login-clr: #000000;
  --signup-btn-bg: #d5f13e;
  --signup-btn-clr: #000000;
  --login-popup-demo-btn-bg: #d5f13e;
  --login-popup-login-btn-clr: #000000;
  --login-popup-login-btn-bg: #d5f13e;
  --login-popup-otp-btn-bg: #f88787;
  --login-popup-otp-btn-clr: #f9d7d7;
  --btn-theme-bg: #d5f13e;
  --btn-theme-clr: #000000;
  --theme-bg: #ffcccc;
  --theme-text-clr: #d0c3c3;
  --btn-disabled-bg: #bece82;
  --withdraw-btn-bg: #d5f255;
  --withdraw-btn-clr: #000000;
  --race-header-tab-bg: #cbb4b4;
  --lottery-header-clr: #f2f2f2;
  --lottery-collaspe-icon-clr: #ededed;
  --menu-item-heading-clr: #a08d8d;
  --menu-item-popup-heading-clr: #ffffff;
  --filter-popup-heading-clr: #ffffff;
  --input-checked-clr: #d5f13e;
  --race-header-tab-clr: #ddd9d9;
  --setting-menu-balance-clr: #60c436;
  --setting-menu-lib-clr: #ff0000;
  --setting-menu-accordion-item-bg: #c4c4c4;
  --sport-name-bg: #d5f00d;
  --faq-title-text-clr: #ffffff;
  --faq-body-text-clr: #ffffff;
  --search-results-container-text: #ffffff;
  --rule-title-text-clr: #ffffff;
  --rule-body-text-clr: #ffffff;
  --infoIssueBtnText: #ffffff;
  --reports-account-statment-header-clr: #ffffff;
  --withdraw-text-clr: #ffffff;
  --expendable-panel-clr: #ffffff;
  --siteLogoHeight: 50;
  --contact-btn-text-clr: #ffffff;
  --sportItemActiveBgClr: #ff0000;
  --casino-name-list-clr: #ffffff;
  --support-text-clr: #ffffff;
  --pl-report-text-clr: #ffffff;
  --blog-text-clr: #ffffff;
  --reports-account-statment-th-clr: #ffffff;
  --reports-account-statment-td-clr: #ffffff;
  --betslip-back-text: #ffffff;
  --betslip-lay-text: #ffffff;
  --sportItemBorderClr: #111016;
  --bodyBg: #111016;
  ;--skeltonLoaderBg: linear-gradient(268deg, #2a2a2a 25%, #3a383e 50%, #29282b 75%);
  --sportsNavItem1: linear-gradient(270deg, #c435ef 0%, #662ef3 100%);
  --sportsNavItem2: linear-gradient(91deg, #07abd0 0.66%, #95d7e6 99.47%);
  --sportsNavItem3: linear-gradient(91deg, #f7a545 0.66%, #d8560c 99.47%);
  --sportsNavItem4: linear-gradient(91deg, #ec62e2 0.66%, #9c31f0 99.47%);
  --sportsNavItem5: linear-gradient(91deg, #07abd0 0.66%, #95d7e6 99.47%);
  --sportsNavItem6: linear-gradient(270deg, #c435ef 0%, #662ef3 100%);
  --sportsNavItem7: linear-gradient(91deg, #07abd0 0.66%, #95d7e6 99.47%);
  --sportsNavItem8: linear-gradient(91deg, #ec62e2 0.66%, #9c31f0 99.47%);
  --casinoNavItem1: linear-gradient(91deg, #07abd0 0.66%, #95d7e6 99.47%);
  --casinoNavItem2: linear-gradient(91deg, #ec62e2 0.66%, #9c31f0 99.47%);
  --casinoNavItem3: linear-gradient(91deg, #f7a545 0.66%, #d8560c 99.47%);
  --casinoNavItem4: linear-gradient(91deg, #07abd0 0.66%, #95d7e6 99.47%);
  --casinoNavItem5: linear-gradient(91deg, #ec62e2 0.66%, #9c31f0 99.47%);
  --footer-download-btn-border: #fff;
  --menu-item-download-btn-bg: #d5f13e;
  --menu-item-download-btn-border: #d5f255;
  --menu-item-download-btn-clr: #000000;
  --menu-item-logout-btn-bg: #d5f13e;
  --menu-item-logout-btn-border: #d5f255;
  --menu-item-logout-btn-clr: #000000;
  --menu-item-liability-text-clr: #fff;
  --menu-item-liability-value-clr: red;
  --menu-item-balance-text-clr: #fff;
  --menu-item-balance-value-clr: green;
  --menu-item-deposit-bg: #02a425;
  --menu-item-deposit-clr: #fff;
  --menu-item-back-btn-icon-clr: invert(0);
  --input-checked-border: #aba0a0;
  --input-checked-bg: #8ca500;
  --info-issue-btn-whatsapp-clr: #d2d1d1;
  --load-report-btn-clr: #d1d1d1;
  --report-inputs-clr: #ffffff;
  --login-btn-bg: #111016;
  --report-input-container-bg: #2a2a37;
  --report-cate-item-border-clr: #d5f255;
  --report-cate-item-bg: #2a2a37;
  --report-cate-item-clr: #ffffff;
  --report-cate-item-active-border-clr: #d5f00d;
  --report-cate-item-active-clr: #000000;
  --report-cate-item-active-bg: #d5f00d;
  --login-btn-icon-clr: #bdbdbd;
  --signup-btn-icon-clr: #000000;
  --menu-item-section-bg: #22222e;
  --menuItemBg: #000000;
  --setting-menu-accordion-bg: #dbdbdb;
  --raceHeaderTextClr: #ffffff;
  --nav-bottom-mybets-clr: #ffffff;
  --side-bar-search-bg: #1b1b27;
  --side-bar-search-clr: #ffffff;
  --side-bar-search-result-bg: #1b1b26;
  --side-bar-search-result-clr: #ffffff;
  --premium-heading-clr: #d0a9a9;
  --load-report-btn-bg: #878787;
  --casino-game-name-clr: #ffffff;
  --casino-twenty-four-hover-bg: #d5f13e;
  --casino-twenty-four-hover-border: #ffff;
  --casino-twenty-four-hover-border: #000;
  --casino-search-cancel-btn-clr: #000000;
  --casino-filter-text-clr: #fff;
  --casino-filter-close-btn-clr: #fff;
  --race-item-clr: #ffffff;
  --setting-popup-sub-menu-arrow: #d5f255;
  --timeRemainingClr: #ffffff;
  --buttonTextClr: #ffff;
  --sidebar-social-text-clr: #ffff;
  --tabFilterImg: brightness(0) invert(1);
  --tabActiveFilterImg: brightness(0) invert(0);
  --casinoMenuFilterImg: brightness(0) invert(1);
  --casinoActiveMenuFilterImg: brightness(0) invert(1);
  --casino-game-name-clr: #ffffff;
  --casino-twenty-four-hover-bg: #d5f13e;
  --casino-twenty-four-hover-border: #ffff;
  --casino-twenty-four-hover-border: #000;
  --casino-search-cancel-btn-clr: #000000;
  --casino-filter-text-clr: #fff;
  --casino-filter-close-btn-clr: #fff;
  --race-item-clr: #ffffff;
  --setting-popup-sub-menu-arrow: #d5f255;
  --virtual-heading-filter-img: brightness(0) invert(0);
  --hamburger-filter-img: invert(0);
  --casino-see-more-icon-clr: #ffffff;
  --casino-see-more-clr: #ffffff;
  --casino-filter-btn-bg: #e9e9e9;
  --casino-filter-btn-icon: invert(1);
  --lottery-heading-clr: #000000;
  --lottery-container-bg: #111016;
  --lottery-container-border-top-clr: #16161f;
  --lottery-rate-btn-bg: #d5f00d;
  --lottery-rate-btn-clr: #000000;
  --betslip-lottery-bg: #20327b;
  --betslip-lottery-clr: #fff;
  --footer-download-btn-clr: #000000;
  --footer-download-btn-bg: #d5f00d;
  --withdrawAccountCardActiveBorder: #d5f13e;
  --withdrawAccountCardClr: #fff;
  ;--withdraw-option-bg: #181922;
  ;--withdraw-option-clr: #fff;
  ;--withdraw-option-active-bg: #d5f00d;
  --withdraw-option-active-border-clr: #d5f13e;
  --withdraw-option-active-clr: #000000;
  --raceMarketOverlayBg: #000000ba;
  ;--casinoNavItem6: linear-gradient(91deg, #f7a545 0.66%, #d8560c 99.47%);
  --casinoNavItem7: linear-gradient(91deg, #07abd0 0.66%, #95d7e6 99.47%);
  --casinoNavItem8: linear-gradient(270deg, #c435ef 0%, #662ef3 100%);
  --betslip-lay-bg: #000000;
  --betslip-back-bg: #000000;
  --betslip-lay-border: #f796ff;
  --betslip-back-border: #43ceed;
  --betslip-back-odd-stake-bg: #02404e;
  --betslip-back-odd-stake-clr: #fff;
  --betslip-back-odd-stake-btn-bg: #026379;
  --betslip-back-odd-stake-btn-clr: #fff;
  --betslip-lay-odd-stake-bg: #36013c;
  --betslip-lay-odd-stake-clr: #fff;
  --betslip-lay-odd-stake-btn-bg: #62046b;
  --betslip-min-btn-bg: #2ca645;
  --betslip-max-btn-bg: #1a3c7c;
  --betslip-edit-stake-btn-bg: #6b3ba3;
  --betslip-clear-btn-bg: #d84c4c;
  --betslip-cancel-btn-bg: #d84c4c;
  --betslip-submit-btn-bg: #35a7ff;
  --betslip-action-btns-clr: #ffff;
  --upcomingActiveTabBg: #fff;
  --upcomingItemClr: #fff;
  --upcomingActiveTabClr: #ffff;
  --upcomingActiveTabBorderBottom: #e1b833;
  --sportItemClr: #fff;
  --sportItemActiveClr: #ffff;
  --bmfntvClr: #000;
  --bmfntvBg: #c4c4c4;
  --allLiabilityClr: #dc3545;
  --timeRemainingClr: #ffffff;
  --buttonTextClr: #ffff;
  --sidebar-social-text-clr: #ffff;
  --tabFilterImg: brightness(0) invert(1);
  --tabActiveFilterImg: brightness(0) invert(0);
  --casinoMenuFilterImg: brightness(0) invert(1);
  --casinoActiveMenuFilterImg: brightness(0) invert(1);
  --tuturiols-heading-color: #ffffff;
  --tutorials-footer-bg-btn: #000000;
  --tutorials-btn-text-clr: #ffffff;
  --tutorial-btn-hvr-clr: #f53f0a;
  --tutorial-btns-border-color: #ec3f13;
  --tutorial-close-btn-bg-clr: #ff8040;
  --hamburger-filter-img: invert(0);
  --pin-modal-input-icon-clr: #ffffff;
  --deposit-history-th-bg: #bbb4b4;
  --deposit-history-th-clr: #ffffff;
  --deposit-history-td-clr: #ffffff;
  --footer-summary-tab-bg: #808080;
  --footer-summary-clr: #e8e8e8;
  --footer-summary-down-arrow-clr: #c2c2c2;
  --gpay-imp-tansfer-img-filter: brightness(1);
  --quick-deposit-whatsapp: #e0e0e0;
  --cookiepolicy-header-clr: #ffffff;
  --cookiepolicy-text-clr: #ffffff;
  --login-popup-demo-btn-clr: #000000;
  --main-font-family: poppins;
  ;--filterImgTheme: invert(40%) sepia(92%) saturate(4075%) hue-rotate(42deg) brightness(103%) contrast(108%);
  ;--filterImg: brightness(0) invert(1);
  ;--text-white: #ffff;
  ;--main-bg: #d5f00d;
  --main-clr: #d5f13e;
  --depositBg: #02a425;
  ;--depositClr: #fff;
  ;--libBg: #c2b3b3;
  --balanceBg: #dbcccc;
  --libTextClr: #e81111;
  --libValueClr: #ee1717;
  --balanceTextClr: #22c34b;
  --balanceValueClr: #29b21f;
  --navTopBalanceBg: #24242d;
  ;--navTopLibBg: #24242d;
  ;--loginClr: #fff;
  ;--loginLableClr: #fff;
  ;--demoSingupClr: #fff;
  ;--text-primary: #039be5;
  ;--settingMenuBg: #181922;
  ;--settingIconClr: #ffffff;
  --settingMenuClr: #ffff;
  ;--settingMenuHeaderClr: #ffff;
  ;--settingMenuBBClr: #29292900;
  ;--settingDepositBg: #d5f00d;
  --settingDepositClr: #000000;
  --settingWithdrawBg: #d5f00d;
  --settingWithdrawClr: #000000;
  --see-all-clr: #ffffff;
  --oneClickOffNavTopBtnBg: #181922;
  ;--oneClickOffNavTopBtnClr: #fff;
  ;--oneClickOnNavTopBtnBg: #d5f13e;
  --oneClickOnNavTopBtnClr: #000000;
  --oneClickNavTopCardBg: #181922;
  ;--oneClickToggleOffBg: #3d3d50;
  ;--oneClickToggleOnBg: #d5f13e;
  --oneClickToggleSwitchBtn: #ffff;
  ;--oneClickValueBtnBg: transparent;
  ;--oneClickValueBtnBorder: #393b3b;
  ;--oneClickValueBtnClr: #fff;
  ;--oneClickActiveValueBtnBg: #d5f13e;
  --oneClickActiveValueBtnClr: #000000;
  --oneClickEditStackBtn: #d5f13e;
  --oneClickEditStackBtnClr: #000000;
  --oneClickEditSaveBtn: #28a745;
  ;--oneClickEditSaveBtnClr: #fff;
  ;--bi-chevron-down-clr: #d5f13e;
  --liveTvHeaderBg: #16161f;
  ;--liveTvHeaderClr: #fff;
  ;--liveTvBroadcastClr: #dc3545;
  ;--hideShowPasswordClr: #fff;
  ;--sidenavBg: #22222e;
  --sidebarCardBg: #181922;
  ;--sidebarListClr: #ffff;
  ;--searchItemBorder: #222c3b;
  ;--navTopBg: #22222e;
  --navItemClr: #ffff;
  ;--navItemHoverClr: #d5f13e;
  --newsBg: #d5f00d;
  --newsClr: #000000;
  --raceTabBg: #22222f;
  ;--raceCardBg: transparent;
  ;--raceActiveBg: #3a3a45;
  ;--raceTimeBg: #22222f;
  ;--raceTimeClr: #858597;
  ;--tabsBg: #22222f;
  ;--tabsItemClr: #fff;
  ;--tabItemBBClr: transparent;
  ;--tabActiveBBClr: #d5f13e;
  --tabActiveBgClr: #d5f00d;
  --tabActiveClr: #000000;
  --tabSportIemClr: #858597;
  ;--tabsSmBBClr: #4f5267;
  ;--timerCounterClr: #97a0b7;
  ;--timerTextClr: #ffff;
  ;--match-cardClr: #ffff;
  ;--team-nameClr: #ffff;
  ;--backBg: #43ceed;
  ;--layBg: #f796ff;
  ;--layLightBg: #43ceed17;
  ;--layLightClr: #ffff;
  ;--backLightBg: #c873cf17;
  ;--backLightClr: #fff;
  ;--laybackClr: #000;
  ;--virtualBg: linear-gradient(90deg, #f796ff 0%, #43ceed 100%) !important;
  ;--virtualClr: #000;
  ;--runnerBg: #16161f;
  ;--oneXTwoClr: #fff;
  ;--bb1Clr: #21222c4a;
  ;--breadcrumClr: #858597;
  ;--breadcrumHoverClr: #2dc3e8;
  ;--minmaxClr: #858597;
  ;--timeRemainingClr: #ffffff;
  --fancyFilterMenuBg: transparent;
  ;--fancyFilterMenuClr: #fff;
  ;--fancyFilterMenuBBClr: #363636;
  ;--fancyFilterMenuActiveBg: #181922;
  --fancyFilterMenuActiveClr: #fff;
  ;--fancyFilterMenuActiveBBClr: #d5f13e;
  --casoutBg: #13ff6f;
  ;--casoutClr: #000;
  ;--mybetsBorder: #2a2a38;
  ;--mybetsClr: #2a2a38;
  ;--trbacklayClr: #000;
  ;--mybetsBg: transparent;
  ;--mybetsTableClr: #fff;
  ;--searchItemBg: #232329;
  ;--mybetsHeaderBg: #16161f;
  ;--mybetsReloadIconClr: #d5f13e;
  --cancelBetBtnBg: #dc3545;
  ;--cancelBetBtnClr: #fff;
  ;--marketOverlayBg: linear-gradient(90deg, #153e48 0.06%, #4c2e4e 97.71%);
  ;--marketOverlayBgImg: linear-gradient(90deg, #257b8f 0.06%, #d360dd 97.71%);
  ;--marketOverlayClr: #ffff;
  ;--starttimeClr: #0dcaf0;
  ;--otherMarketItemBg: #16161f;
  ;--otherMarketItemClr: #ffff;
  ;--otherMarketPlusIconClr: #fff;
  ;--otherMarketPlusIconBg: #198754;
  ;--navBottomBg: #2a2a38;
  ;--homeBackIconBg: #111016;
  ;--mybetsModalBorderClr: #808080;
  ;--mybetsSeeMoreClr: #9a9a9a;
  ;--mybetsModalHeadingClr: #fff;
  ;--mybetsModalTableClr: #fff;
  ;--reloadBg: #d5f13e;
  --reloadClr: #ffff;
  ;--tableThBg: #16161f;
  ;--tableTdClr: #fff;
  ;--scoreBg: #2da44e;
  ;--scoreClr: #fff;
  ;--timeRemainingBg: #22222f;
  ;--matDialogBg: #050503;
  ;--matDialogClr: #fff;
  ;--matDialogLoginBBClr: #181922;
  ;--matDialogHeaderClr: #fff;
  ;--matDialogHeaderBg: #050503;
  --scrollBarV1: #3d3d3d;
  ;--scrollBarV2: #1d1d1d;
  ;--matDialogHeaderCloseBtnClr: #ffff;
  ;--customModalBg: #22222f;
  ;--customModalBorderClr: #050503;
  ;--overlayBg: #00000080;
  ;--vsClr: #858597;
  ;--noDataClr: #fff;
  ;--placeholdeClr: #999;
  ;--formControlBg: #181922;
  ;--formControlClr: #fff;
  ;--depositTimerStrokBg: #2d2e35;
  ;--depositTimerStrokFillBg: #d5f13e;
  --bookPositionBg: #1a1a1ae0;
  ;--contentWraperBg: transparent;
  ;--contentWraperBorderClr: #22222f;
  ;--contentWraperClr: #fff;
  ;--errMsgClr: red;
  ;--themeBtnClr: white;
  --inplayBlinkingBg: #97cc00;
  ;--instantAmountBtnBg: #d5f13e;
  --instantAmountBtnClr: #000000;
  --sportsItemClr: #ffff;
  ;--popularBannerEvenbtnBg: #00e66c;
  ;--popularBannerEvenbtnClr: #000;
  ;--popularBannerOddbtnBg: #d5f13e;
  --popularBannerOddbtnClr: #fff;
  ;--signupCardBg: #050503;
  ;--signupCardBorder: #181922;
  ;--signupClr: #fff;
  ;--signupCheckboxBg: #4c4c50;
  ;--otpModalBg: #050503;
  ;--otpModalClr: #fff;
  ;--otpModalBorder: #181922;
  ;--menuBackBtnBg: #000;
  ;--menuHeaderTopBg: #22222e;
  --menuBackBtnClr: #fff;
  ;--menuBorderClr: #3c3c3c;
  ;--menuItemClr: #fff;
  ;--autoDepositClr: #fff;
  ;--depositLableClr: #fff;
  ;--methodListClr: #fff;
  ;--clickHereClr: #000;
  ;--infoIssueBtnBg: #111016;
  ;--infoIssueBtnBorder: #d5f13e;
  --issueBtnClr: #5ce81a;
  ;--depositAmountBg: transparent;
  ;--depositAmountClr: #ffff;
  ;--depositAmountBorderClr: #ffff;
  ;--depositAmountActiveBg: #d5f13e;
  --depositAmountActiveClr: #000000;
  --depositSubmitBg: #d5f13e;
  --depositSubmitClr: #fff;
  ;--depositWpDesBg: linear-gradient(270deg, #f6dca3 0%, #fbf4e4 100%);
  ;--depositWpDesClr: #000;
  ;--depositTransferItemBg: linear-gradient(90deg, #f15a24 -20%, transparent);
  ;--depositTransferItemClr: #fff;
  ;--depositTransferLinkClr: #fff;
  ;--depositNotesHeadingClr: red;
  ;--depositNotesItemClr: #fff;
  ;--depositNotesItemBeforeBg: #d5f13e;
  --depositTableBg: transparent;
  ;--depositTableClr: #fff;
  ;--gameSliderTabBg: #22222f;
  ;--gameSliderTabClr: #fff;
  ;--gameSliderBodyBg: #181922;
  ;--gameSliderBorder: #22222f;
  ;--footerBg: #12131b;
  ;--footerClr: #6c708c;
  ;--footerHeadingClr: #fff;
  ;--site-footer-bg: #000;
  ;--site-footer-clr: #ffff;
  ;--site-footer-item-bg: #39394d;
  ;--site-footer-wp-bg: linear-gradient(90deg,#ace1c1 0%,#33b563 35%,#23d767 100%);
  ;--site-footer-wp-clr: #fff;
  ;--site-footer-tele-bg: linear-gradient(90deg,rgb(155 217 251) 0%,rgb(70 173 233) 35%,#129ee9 100%);
  ;--site-footer-tele-clr: #fff;
  ;--site-footer-wp-blink-bg: #25d366;
  ;--site-footer-wp-close-icon-bg: #39394d;
  ;--site-footer-wp-close-icon-clr: #fff;
  ;--cainso-cate-item-bg: #22222f;
  ;--cainso-cate-item-clr: #fff;
  ;--cainso-cate-item-border-clr: #22222f;
  ;--cainso-cate-item-active-bg: #181922;
  --cainso-cate-item-active-border-clr: #d5f13e;
  --cainso-cate-item-active-clr: #fff;
  ;--search-results-container-bg: #272737;
  ;--mat-bottom-sheet-container-background: #22222e;
  --scasino-searchBg: #111111;
  ;--scasino-cardDesBg: #22222f;
  ;--casino-category-provider-clr: #959292;
  ;--casino-login-button-bg: #000;
  ;--casino-login-button-clr: #fff;
  ;--casino-login-button-border-clr: #2b2929;
  ;--casino-login-button-hover-bg: #64ffda1a;
  ;--casino-login-button-hover-clr: #fff;
  ;--casino-login-button-hover-border-clr: #f3e7f5;
  ;--casino-search-game-card-background: #222;
  ;--game-card-overlayBg: #22222f8f;
  ;--casino-provider-bg: #22222f;
  ;--casino-provider-title-clr: #fff;
  ;--casino-provider-des-bg: #334;
  ;--casino-provider-total-clr: #959292;
  ;--casinoFilterItemBg: transparent;
  ;--casinoFilterItemClr: #ffffff;
  --casinoFilterItemBorderClr: #d5f255;
  --casinoFilterItemActiveBg: #d5f13e;
  --casinoFilterItemActiveClr: #000000;
  --casino-modal-see-more: #9a9a9a;
  ;--casino-modal-provider-clr: #fff;
  ;--casino-twenty-four-games-header-bg: transparent;
  ;--casino-twenty-four-games-header-clr: #fff;
  ;--casino-twenty-four-scrollbar-bg: gray;
  ;--casino-twenty-four-scrollbar-thumb-bg: #888;
  ;--casino-twenty-four-scrollbar-track-bg: #4f5267;
  ;--casino-twenty-four-webkit-scrollbar-track-bg: #4f5267;
  ;--casino-twenty-four-webkit-scrollbar-clr: gray;
  ;--casino-twenty-four-container-placeholder: rgba(255, 255, 255, 0.4);
  ;--casino-twenty-four-webkit-scrollbar-track-thumb: #888;
  ;--casino-footer-main-bg: #22222f;
  ;--casino-footer-card-bg: #151515;
  ;--casino-footer-title-clr: #fff;
  ;--casino-custom-message-modal-bg: #1a1a1a;
  ;--casino-custom-message-modal-text: #ffffff;
  ;--casino-custom-message-close-btn-bg: #d5f13e;
  --casino-custom-message-close-btn-shadow: rgba(237, 103, 85, 1);
  ;--casino-category-footer-color: #151515;
  ;--reports-container-bg: #22222f;
  ;--reports-td-border-clr: #333747;
  ;--reports-th-bg: #333747;
  ;--reports-mob-bg: #000000;
  ;--reports-narration-clr: #337ab7;
  ;--reports-credit-clr: #00ff00;
  ;--reports-debit-clr: #f44336;
  ;--reports-td-before-clr: #97a0b7;
  ;--reports-pl-total-bg: #f0ffff;
  ;--reports-pagination-btn-disable-bg: #333747;
  ;--reports-pagination-btn-disable-clr: #928e8e;
  ;--reports-pagination-btn-clr: #fff;
  ;--reports-pagination-btn-bg: #333747;
  ;--reports-pagination-btn-active-bg: #d5f13e;
  --reports-pagination-btn-active-clr: #000000;
  --withdrawAccountCardBg: #181922;
  ;--toggle-close-icon-clr: #ffffff;
  --mobile-navbar-menu-text-clr: #ffffff;
  --summary-heading-clr: #ffffff;
  --summary-dropdown-icon-clr: #ffffff;
  --upcomingInActiveTabClr: #ffffff;
  --landing-see-all-clr: #ffffff;
  --support-border-clr: #d5f13e;
  --upcomingtabsBg: #22222e;
  --bs-btn-hover-bg: #d5f365;
  --ocbHead: #ffffff;
  --change-password-heading-clr: #ffffff;
  --change-password-submit-btn-bg-clr: #d5f00d;
  --reports-stake-buttons-heading-clr: #ffffff;
  --reports-stake-buttons-label-clr: #fafafa;
  --reports-stake-buttons-submit-background-clr: #d5f00d;
  --reports-stake-buttons-submit-clr: #000000;
  --matched-bets-top-heading: #d5f00d;
  --matched-bets-div-headings-clr: #ffffff;
  --reports-submit-btn-bg: #d5f00d;
  --reports-submit-btn-clr: #000000;
  --reports-account-statement-back-btn-clr: #ffffff;
  --comingUpTextClr: #ffffff;
  --withdraw-option-border-clr: #d5f00d;
}
