<div class="upcoming-compo">
  <app-inplay-upcoming-matches [items]="isMagicwin ? allItems : inplayTomorrowItems" [selectedId]="'4'"
    [setPageNumber]="0" (dataEmitter)="setIdForVirtual($event)"></app-inplay-upcoming-matches>
  <app-virtual-cricket [selectedId]="selectedId" [landing]="true" [virtual]="virtual"
    [scoreData]="scoreData"></app-virtual-cricket>
  <ng-container *ngIf="!isMagicwin">
    <ng-container *ngIf="(providerBannerData && providerBannerData.length>0)">
      <div class="providerBanners scrollable-list mb-2 d-flex align-items-center">
        <div class="item d-flex align-items-center  justify-content-between position-relative pointer"
          *ngFor="let item of providerBannerData;let index = index" (click)="routeToLink(item)">
          <img
            [src]="cdnSportsLanding + 'banners/' + item.id + '.png'"
            alt=""
            loading="lazy"
          />
        </div>
      </div>
    </ng-container>
  </ng-container>
  <app-inplay-upcoming-matches [items]="upcomingItems" *ngIf="!isMagicwin" [setPageNumber]="2"
    [selectedId]="'4'"></app-inplay-upcoming-matches>
</div>
