.live_stream_video {
  display: flex;
  justify-content: center;
}
iframe,
.live_stream {
  height: 185px;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 2px;
}

.live_stream {
  background: black;
}

.live_stream h6 {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 1.15rem !important;
  line-height: 110%;
  margin: revert;
}
.inplay-text h5 {
  font-size: 14px;
  line-height: 110%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 3px;
  font-weight: 500;
}
.collapsible-header {
  padding: 5px !important;
  border-radius: 2px !important;
  font-size: 14px !important;
  font-weight: 500;
  position: relative;
}
.comp-name {
  display: flex;
  align-items: center;
}
.tv-icon {
  font-size: 12px;
}
.sports-icon {
  margin: 0;
  margin-right: 5px;
  transform: scale(0.75);
}

.toggle_dropdown_box h3 {
  margin-top: 10px;
  font-weight: 600;
}

.toggle_sml_title {
  font-size: 13px;
  padding: unset;
  margin: 4px 0;
}

.live_tgl_inn_box {
  padding: 5px;
  font-size: 13px;
}

.stream-links {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.stream-links button {
  border: none;
  border-radius: 2px;
  padding: 8px 10px;
  color: white;
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.stream-links .stream {
  background: linear-gradient(95.22deg, #2dc3e8 7.33%, #2d7182 108.79%);
}
.stream-links .dets {
  background: linear-gradient(94.07deg, #27ab69 8.23%, #3f7258 97.19%);
}

.coll-items {
  margin: 10px 0px;
}
.section {
  padding-top: 0px;
}

.live_stream_toggle_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px;
}

.cancel_button_styling {
  background: red;
  min-width: 20px;
  text-align: center;
  border-radius: 2px;
}
.material-icons.right {
  width: 40px !important;
  height: 40px !important;
  transform: translate(12px, -12px) rotate(0deg);
  margin: 0;
  position: absolute;
  right: 8px;
  top: 5px;
}
.coll-items.active .collapsible-header img {
  transform: translate(12px, -12px) rotate(180deg) !important;
  right: 16px;
}
.sports-icon {
  width: 26px !important;
  height: 26px !important;
  background-size: 26px auto !important;
}
