<div class="auto-deposit">
  <div class="mt-2 ">
    <div class="d-flex payment-container mt-4 justify-content-center align-items-center flex-column "
      *ngIf="!errorMessage && bankresp && bankresp.length == 0">
      <span class="info-text">Please wait! No option available right now.</span>
      <button type="button" class="btn btn-theme  sm-fs-13 mt-2 mb-2" (click)="reloadBankDetails()">{{ 'Reload'
        | translate
        }}</button>
    </div>
    <div class="d-flex payment-container mt-4 justify-content-center align-items-center flex-column "
      *ngIf="errorMessage">
      <span class="info-text">Something went wrong!</span>
      <button type="button" class="btn btn-theme  sm-fs-13 mt-2 mb-2" (click)="reloadBankDetails()">{{ 'Reload'
        | translate
        }}</button>
    </div>
    <div class="payment-container" *ngIf="depositStatus && depositStatus!='Pending'">
      <div class="d-flex flex-column gap-3 justify-content-center align-items-center"
        *ngIf="depositStatus != 'Rejected'">
        <img width="120px" src="https://iriscdn.b-cdn.net/kheloyar/newdeposit/succes_image.svg" />
        <div class="text-success">{{ depositStatus }}</div>
      </div>
      <ng-container *ngIf="depositStatus == 'Rejected'">
        <div class="d-flex flex-column gap-3 justify-content-center align-items-center">
          <img width="120px" src="https://iriscdn.b-cdn.net/kheloyar/newdeposit/error_image.svg" />
          <div class="err-msg">
            {{ depositStatus }}
          </div>
        </div>
      </ng-container>
      <div class="d-flex mt-3 justify-content-center align-items-center">
        <button type="button" class="btn btn-theme info-text" (click)="backToPage()">Back</button>
      </div>
    </div>
  </div>
  <div class="payment-container mt-4" *ngIf="startLoading">
    <div class="d-flex justify-content-center flex-column gap-1 align-items-center info-text">
      <flx-circle-timer #timerr color="#40337f" [duration]="duration"
        (onComplete)="onTimerComplete()"></flx-circle-timer>
      <div class="currecyLable mt-2">{{ amountToShow | currency : "INR" }}</div>
      <div class="penndingPaymentStatus">PENDING</div>
      <div class="utrLable">UTR: {{ utrToShow }}</div>
    </div>
  </div>
  <ng-container *ngIf="!startLoading && bankresp && bankresp.length > 0 && depositStatus ==''  && !errorMessage">
    <div class="d-flex justify-content-center w-100">
      <div class="custom-scrollbar payment-methods justify-content-xl-center d-flex w-100 gap-2">
        <ng-container *ngFor="let paymentMethods of bankresp; let pIndex = index">
          <div class="method " *ngFor="let item of paymentMethods.detail; let index = index" [ngClass]="index == selectedIndex && pTypeIndex === pIndex ? 'selected' : ''
    " (click)="selectOption(index, pIndex, paymentMethods.depositType)">
            <div class="details">
              <img [src]="paymentMethods.type" />
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <form [formGroup]="upiForm" (ngSubmit)="makePayment()">
      <div class="payment-container">
        <ng-container *ngIf="depositType == 'Whatsapp'">
          <div class="whats-methods" *ngIf="waData">
            <div class="method-list">
              <span class="text-nowrap">Bank / IMPS Transfer</span><span class="animated-btn"
                (click)="forWhatsappDeposit()">
                <span>Click Here</span> </span><img alt="" class="d-block m-auto mt-2" height="20"
                src="https://iriscdn.b-cdn.net/kheloyar/account.svg" />
            </div>
            &nbsp; &nbsp;
            <div class="method-list">
              <span class="text-nowrap">UPI / PhonePe / G Pay </span><span class="animated-btn"
                (click)="forWhatsappDeposit()"><span>Click Here</span> </span><img alt="" class="d-block m-auto mt-2"
                height="20" src="https://iriscdn.b-cdn.net/kheloyar/multi-payment.svg" />
            </div>
          </div>
        </ng-container>
        <div class="pay-with-qr mb-4 gap-4 align-items-center d-flex justify-content-center"
          *ngIf="selectedData?.value">
          <div class="download">
            <div class="fs-16 sm-fs-13 info-text mb-2">Pay with QR Code</div>
            <button type="button" class="btn fs-16 sm-fs-12 btn-theme download-btn" appDownloadImage
              [imageUrl]="selectedData?.value">
              Download & Pay
            </button>
          </div>

          <div class="qr">
            <div class="bb_tran_subdiv">
              <img [src]="selectedData?.value" style="height: 150px;width: 200px;" alt="{{ 'noqr' | translate }}"
                class="qrcodeImage" />
            </div>
          </div>
        </div>
        <ng-container *ngIf="depositType != 'Whatsapp'">
          <div class="account-details container-box  ">
            <div class="detail-item">
              <label class="sm-fs-13"> {{
                depositType === "USDT"
                ? "Wallet Address"
                : depositType === "UPI"
                ? "UPI ID"
                : ("accountnumber" | translate)
                }}:</label>

              <div class="description d-flex gap-3 ">
                <span class="sm-fs-11">{{ selectedData?.accountNumber }}</span>
                <button type="button" class="copy-btn" (click)="copyWallet(selectedData?.accountNumber)">
                  <i class="bi bi-copy"></i>
                </button>
              </div>
            </div>
            <div class="detail-item ">
              <label class="sm-fs-13"> {{
                depositType === "USDT"
                ? "Wallet Name"
                : ("accountholdername" | translate)
                }}:</label>
              <div class="description d-flex gap-3 ">
                <span class="sm-fs-11"> {{ selectedData?.accountHolderName }}</span>
                <button type="button" class="copy-btn" (click)="copyWallet(selectedData?.accountHolderName)">
                  <i class="bi bi-copy"></i>
                </button>
              </div>
            </div>
            <div class="detail-item" *ngIf="depositType !== 'USDT'">
              <label class="sm-fs-13"> {{ "bankname" | translate }}:</label>
              <div class="description d-flex gap-3 ">
                <span class="sm-fs-11">{{ selectedData?.bankName }}</span>
                <button type="button" class="copy-btn" (click)="copyWallet(selectedData?.bankName)">
                  <i class="bi bi-copy"></i>
                </button>
              </div>
            </div>
            <div class="detail-item" *ngIf="depositType !== 'USDT' && depositType">
              <label class="sm-fs-13">{{ "IFSC" | translate }}:</label>
              <div class="description d-flex gap-3 ">
                <span class="sm-fs-11"> {{ selectedData?.iFSCCode }}</span>
                <button type="button" class="copy-btn" (click)="copyWallet(selectedData?.iFSCCode)">
                  <i class="bi bi-copy"></i>
                </button>
              </div>
            </div>
            <div class="detail-item"
              *ngIf="depositType !== 'USDT' &&depositType !== 'Whatsapp' && getDepositMaxAmount()">
              <label class="sm-fs-13"> {{ "Max Amount" | translate }}:</label>
              <div class="description d-flex gap-3 ">
                <span class="sm-fs-11"> {{ getDepositMaxAmount() }}</span>
                <!-- <button class="copy-btn" (click)="copyWallet(selectedData?.iFSCCode)">
          <i class="bi bi-copy"></i>
        </button> -->
              </div>
            </div>
          </div>
          <div class="transfer-info container-box">
            <button type="button" class="info-btn  " *ngIf="showTransferTutoriolVideos">
              <a target="_blank" class="sm-fs-13 " [href]="howToTransferTutorials">
                <span>How to Transfer UPI to Bank click here</span>
              </a>
            </button>
            <button type="button" class="issue-btn mt-3 fw-bold sm-fs-13 position-relative" (click)="forWhatsapp()"
              *ngIf="whatsappLinkQD && depositType != 'Whatsapp'">
              FOR PAYMENT RELATED ISSUE CLICK HERE
              <i class="bi bi-whatsapp position-absolute"></i>
            </button>
          </div>
        </ng-container>

        <div class="payment-slip container-box position-relative">
          <div class="overlay d-flex justify-content-center" *ngIf="showUTRLoader">
            <img [src]="siteLoader" width="120px" alt="Loading..." />
          </div>
          <h3 class="sm-fs-15">SEND YOUR PAYMENT SLIP</h3>
          <div class="upload-section">
            <img [src]="imageUrl" *ngIf="imageUrl" class="w-100 mb-2 uploaded-img" />
            <label class="sm-fs-12"> {{ "Payment Receipt" | translate }}</label>
            <div class="upload-btn">
              <input type="file" id="paytm_image" #fileupload (change)="uploadPicture($event, fileupload)"
                accept=".png, .jpg, .jpeg" class="d-none" />
              <button type="button" (click)="fileupload.click()">
                <i class="bi bi-camera-fill"></i>
                {{
                manualPaymentReqestParam.fileName
                ? manualPaymentReqestParam.fileName
                : "Upload a file right here"
                }}
              </button>
              <div class="err-msg sm-fs-11" *ngIf="!manualPaymentReqestParam.fileName"> {{ " Please Upload Your Payment
                Receipt Here" | translate }}</div>
              <div class="err-msg sm-fs-11" *ngIf="!imageUrl && submitted"> {{ "filetype" | translate }}</div>
            </div>
          </div>
          <div class="utr-section">
            <label class="sm-fs-12"> {{
              depositType === "USDT"
              ? "USDT Reference No."
              : ("Unique Transaction Reference" | translate)
              }}</label>
            <input type="text" class="form-control" [appNumericMaxlength]="depositType === 'USDT' ? 10 : 12"
              [placeholder]="placeholderText2" autocomplete="off" formControlName="utrTransactionId" />

            <span class="err-msg sm-fs-11"
              *ngIf="(utrTransactionId?.invalid &&(utrTransactionId?.dirty || utrTransactionId?.touched)) || (utrTransactionId?.invalid && submitted)">
              <span *ngIf="utrTransactionId?.errors?.required">
                *{{ depositType === 'USDT' ? 'USDT reference no. is required' : 'UTR is Required' | translate}}</span>
            </span>
            <span class="err-msg sm-fs-11" *ngIf="utrTransactionId?.errors?.minlength">
              *{{'Enter minimum 6 digit' | translate}}
            </span>
          </div>
          <div class="amount-section">
            <label class="sm-fs-12">{{ "Amount" | translate }}</label>
            <input formControlName="amount" class="form-control" type="number" [appNumericMaxlength]="10"
              [placeholder]="placeholderText" autocomplete="off"
              [min]="depositType === 'USDT' ? MinUsdt : minimumDepositLimit" />
            <span class="err-msg sm-fs-11"
              *ngIf="(amount?.invalid && (amount?.dirty || amount?.touched)) || (amount?.invalid && submitted)">
              <div *ngIf="amount?.errors?.required">
                *{{"Enter Deposit Slip Amount" | translate}}
              </div>
              <div *ngIf="amount?.errors?.min">
                {{ "Minimum amount should be " }}
                {{ depositType === "USDT" ? MinUsdt : minimumDepositLimit }}
              </div>
            </span>
            <div class="text-success" *ngIf="amount?.value >= MinUsdt && depositType === 'USDT'">
              Rate calculation:
              {{ amount?.value }} x {{ usdtMultiply }} =
              {{ usdtMultiply * amount?.value }}
            </div>
            <div class="amount-buttons mt-3">
              <button type="button" class="sm-fs-13" [ngClass]="
        upiForm.controls.amount.value == item ? 'activeAmout' : ''
      " (click)="upiForm.controls.amount.setValue(item)" *ngFor="let item of depositAmounts; let i = index">+{{ item
                }}</button>
            </div>
          </div>
          <button type="submit" class="submit-btn">{{ 'submit' | translate }}</button>
        </div>
        <div class="whatsapp-deposit">
          <div class="quick-deposit mt-3" *ngIf="whatsappLinkQD && depositType != 'Whatsapp'">
            <p class="whatsapp-description mb-0 sm-fs-12">Easy & Fast deposit and withdraw from WhatsApp. We have a
              dedicated
              agent
              assigned
              for you.</p>
            <button type="button" class="deposit-button sm-fs-12" (click)="forWhatsapp()">
              <i class="bi bi-whatsapp"></i>
              Quick Deposit
            </button>
          </div>
        </div>
        <div class="deposit-container container-box" *ngIf="bankThemeCard?.length > 0">
          <div class="transfer-links">
            <ng-container *ngFor="let card of bankThemeCard">
              <div class="link-item">
                <h3 class="sm-fs-13">{{ card.text }}</h3>
              </div>
              <a class="sm-fs-12" target="_blank" [href]="card.link"> {{ card.link }}</a>
            </ng-container>
          </div>
        </div>
        <div class="note-section container-box" *ngIf="DepositNotes && DepositNotes.length > 0">
          <h4>{{ "Note" | translate }} :</h4>
          <ul>
            <li class="sm-fs-11" *ngFor="let item of DepositNotes[0].data">
              {{ item.text }}
            </li>

          </ul>
        </div>
        <div class="transcation container-box" *ngIf="depositRequests && depositRequests.length > 0">
          <table class="table table-responsive">
            <thead>
              <tr>
                <th class="text-center">{{ "Amount" | translate }}</th>
                <th class="text-center">{{ "Status" | translate }}</th>
                <th class="text-center">{{ "Date & Time" | translate }}</th>
                <th class="text-left">{{ "File" | translate }}</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of depositRequests">
                <td>{{ item?.amount }}</td>
                <td [ngClass]="
              item?.status === 'APPROVED' ? 'text-success' : 'liabilityClr'
            ">
                  {{ item?.status }}
                </td>
                <td>{{ item?.uploadDate | date : "short" }}</td>
                <td [attr.data-title]="'file' | translate" class="text-center   imageInTable">
                  <img style="width: 33px; height: 30px" [src]="item?.file" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
    <div class="payment-container mt-3  " *ngIf="depositRequests && depositRequests.length <= 0">
   <span class="info-text">  No Data Found</span>
    </div>
  </ng-container>

</div>
