.main{
  position: fixed;
  width: 100%;
}
.navbar-default {
  position: relative;
}
.navbar-default, .max-width {
  max-width: 1421px;
  margin: 0 auto;
}
nav {
  display: block;
}
@media screen and (max-width: 1024px){

  .headerlogo-container {
    min-height: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    height: auto;
    background-color: #202024;
    border-bottom: solid 2px #ff8d00;
    padding: 0 15px 0 0;
  }
  .not-logged .navbar-header {
    width: 100%;
}
.navbar-header .img {
  width: 100%;
  height: 50px;
}
}
.headerlogo-container {
  grid-template-columns: 1fr auto;
}
.headerlogo-container {
  display: grid;
  grid-gap: 10px;
  align-items: center;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}
.not-logged .navbar-header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
header .logo {
  margin-right: auto;
}
.navbar-header {
  float: none;
  width: auto;
  position: relative;
}
a {
  color: #337ab7;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  position: relative;
  width: 100%;
  opacity: 1;
}
.user-signin-links {
: var(--font_family_global);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 1px;
  height: 30px;
  margin-left: 3px;
  border-radius: 50px;
}
.user-signin-links a.login {
  background-color: transparent !important;
  color: #ffdf02 !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #ffdf02;
}
.user-signin-links a {
  background: transparent !important;
  color: #ffdf02 !important;
  padding: 0px 5px;
  white-space: nowrap;
  font-weight: 400;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 15px;
}
.user-signin-links a img {
  width: 15px !important;
  margin-right: 3px;
}
.user-signin-links a.login {
  background-color: transparent !important;
  color: #ffdf02 !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #ffdf02;
}
.user-signin-links a.signup {
  color: #020c1b !important;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #ffdf02 !important;
}
.user-signin-links a {
  background: transparent !important;
  color: #ffdf02 !important;
  padding: 0px 5px;
  white-space: nowrap;
  font-weight: 400;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 15px;
}
.homeIconWrapper{
  color: #ffdf02;
  border: 1px solid #ffdf02;
  padding: 11px 8px 5px 8px;
  border-radius: 8px;
}
.homeIconWrapper i{
  columns: #ffdf02;
}
