<ng-container *ngIf="isIframe">
  <app-nav-menus [navMenus]="outerNav" class="d-flex d-lg-none"></app-nav-menus>
</ng-container>
<div class="mt-2" *ngIf="isIframe || sportsId == 'all'">
  <app-racetodayscard [isDefault]="false" [sportsId]="'7'"></app-racetodayscard>
  <app-racetodayscard [isDefault]="false" [sportsId]="'4339'"></app-racetodayscard>
</div>
<div class="site-loader vh-40 mt-1" *ngIf="data && data.length == 0 && isLoading">
  <app-skelton-loader [loaderType]="'sportsLoading'"></app-skelton-loader>
</div>
<div class="no-data d-flex justify-content-center align-items-center  mb-2" *ngIf="noDataFound">No Data Found</div>
<div class="landing-page pt-0 mt-0 sportsById-component" *ngIf="data && data.length > 0">
  <!-- <app-default-banner *ngIf="sportsId"></app-default-banner> -->
  <ng-container *ngFor="let event of data; index as i">
    <!-- <div class="oneXTwo d-flex  justify-content-between">
      <span>1</span><span>X</span><span>2</span>
    </div> -->
    <ng-container *ngIf="event.name != 'Virtual Cricket';else virtualCricket">
      <div class="tab-container sportsById-pages-tabs p-0 mt-1 mb-2">
        <div class="tabs  d-flex" (click)="routeToTournament(event)">
          <div class="d-flex">
            <div class="menu sport-name pl-0">
              {{ event.name }}
            </div>
          </div>
          <div class="see-all-menu pointer me-2" *ngIf="sportsId == 'all'">
            <a class="see-all-menu" (click)="routeToTournament(event)"> {{ "seeall" | translate
              }}</a>
          </div>
        </div>
      </div>
      <div class="position-relative">
        <div *ngIf="oneClickBetObj[event.name]"
          class="market-overlay position-absolute bg-theme z-2 d-flex justify-content-center align-items-center sm-fs-14">
          <img [src]="siteLoader" height="100px" alt="Loading..." />
        </div>
        <ng-container *ngFor="let m of event.markets">
          <div class="match-card market-bg mb-1 p-2 border-0">
            <div class="match-info w-100  d-flex align-items-center">
              <span class="status-badge me-2" *ngIf="m.score">
                <app-teams-score [score]="m.score"></app-teams-score>
              </span>
              <span class="status-badge me-2" *ngIf="!m.score && m.inplay;">
                Inplay
              </span>
              <span class="status-badge badge-time-remaining me-2" *ngIf="(!m.score && !((m.marketStartTime | amDifference : today : 'minutes') < 1 &&(m.marketStartTime| amDifference : today : 'minutes') < 0));
               else elseLoading">
                <app-match-start-time [m]="m"></app-match-start-time>
              </span>
              <ng-template #elseLoading>
                <span class="status-badge fs-10 me-2" *ngIf="!m.score && !m.inplay">
                  Loading
                </span>
              </ng-template>

              <div class="match-teams w-100 d-flex pointer justify-content-center" (click)="routeToMarket(m.url)"
                [innerHTML]="m.marketName | marketName : event.id">
              </div>
              <div class="match-icons gap-1 d-flex me-2  align-items-center">
                <span class="liabilityClr fs-14 sm-fs-12" *ngIf="m.marketLiability">
                  {{ m.marketLiability}}
                </span>
                <span class="ms-1" *ngIf="m.whatIf !== null && m.whatIf !== undefined"
                  [ngClass]="m.whatIf !== null && m.whatIf >= 0 ? 'text-success' : 'liabilityClr'">=> {{m.whatIf |
                  roundoff}}
                </span>
                <span class="icon inplay-blinker" *ngIf="
            (m.marketStartTime
              | amDifference : today : 'minutes') < 1 &&
            (m.marketStartTime
              | amDifference : today : 'minutes') < 0
          ">
                </span>
              </div>
            </div>
            <div class="d-flex icons-odds">

              <div class="odds-container position-relative">
                <div
                  class="market-overlay position-absolute z-1  d-flex justify-content-center align-items-center sm-fs-12"
                  *ngIf="m.status !== 'OPEN'" [class.liabilityClr]="m.status == 'SUSPENDED'">
                  {{ m.status }}
                </div>
                <div
                  class="market-overlay position-absolute pointer border-0 virtual-bg text-black d-flex justify-content-center align-items-center sm-fs-14"
                  (click)="routeToMarket(m.url)" *ngIf="m?.description.marketType == 'TOURNAMENT_WINNER'">
                  Tournament Winner Market
                </div>
                <ng-container *ngIf="m.runners.length == 3; else runners2">

                  <ng-container *ngFor="let r of m.runners | orderBy : 'sortPriority'">

                    <app-oddsbutton [cssClass]="'back desktop-odds'" (click)="
                placebet( event.name, m, r,'back')" [price]="r.back[0]?.price == 0 ? ' ' : r.back[0]?.price"
                      [size]="r.back[0]?.size == 0 ? ' ' : r.back[0]?.size"></app-oddsbutton>
                    <app-oddsbutton [cssClass]="'lay desktop-odds'" (click)="
                placebet( event.name, m, r,'lay')" [price]="
                r.lay[0]?.price == 0 ? ' ' : r.lay[0]?.price
              " [size]="
                r.lay[0]?.size == 0 ? ' ' : r.lay[0]?.size
              "></app-oddsbutton>
                  </ng-container>
                </ng-container>
                <ng-template #runners2>

                  <app-oddsbutton [cssClass]="'back desktop-odds'" (click)="
                placebet(
                  event.name,
                  m,
                  m.runners[0],
                  'back'
                )
              " [price]="
                m.runners[0]?.back[0]?.price == 0
                  ? ' '
                  : m.runners[0]?.back[0]?.price
              " [size]="
                m.runners[0]?.back[0]?.size == 0
                  ? ' '
                  : m.runners[0]?.back[0]?.size
              "></app-oddsbutton>

                  <app-oddsbutton [cssClass]="'lay desktop-odds'" (click)="
                placebet(
                  event.name,
                  m,
                  m.runners[0],
                  'lay'
                )
              " [price]="
                m.runners[0]?.lay[0]?.price == 0
                  ? ' '
                  : m.runners[0]?.lay[0]?.price
              " [size]="
                m.runners[0]?.lay[0]?.size == 0
                  ? ' '
                  : m.runners[0]?.lay[0]?.size
              "></app-oddsbutton>


                  <app-oddsbutton [cssClass]="
                'back-opacity desktop-odds'
              "></app-oddsbutton>
                  <app-oddsbutton [cssClass]="
 'lay-opacity desktop-odds'
"></app-oddsbutton>
                  <app-oddsbutton [cssClass]="'back desktop-odds'" (click)="
                placebet(
                  event.name,
                  m,
                  m.runners[1],
                  'back'
                )
              " [price]="
                m.runners[1]?.back[0]?.price == 0
                  ? ' '
                  : m.runners[1]?.back[0]?.price
              " [size]="
                m.runners[1]?.back[0]?.size == 0
                  ? ' '
                  : m.runners[1]?.back[0]?.size
              "></app-oddsbutton>

                  <app-oddsbutton [cssClass]="'lay desktop-odds'" (click)="
                placebet(
                  event.name,
                  m,
                  m.runners[1],
                  'lay'
                )
              " [price]="
                m.runners[1]?.lay[0]?.price == 0
                  ? ' '
                  : m.runners[1]?.lay[0]?.price
              " [size]="
                m.runners[1]?.lay[0]?.size == 0
                  ? ' '
                  : m.runners[1]?.lay[0]?.size
              "></app-oddsbutton>
                </ng-template>
              </div>
            </div>
          </div>
          <div *ngIf="m.betslip">
            <app-partial-betslip [r]="m.betslip" (valueChange)="BetPlacedStatus($event)"
              (whatIfFigure)="calculateWhatIf($event,event.name)"></app-partial-betslip>
          </div>
        </ng-container>
      </div>
    </ng-container>
    <ng-template #virtualCricket>
      <app-virtual-cricket [selectedId]="'4'" [virtual]="event.markets" [scoreData]="scoreData"></app-virtual-cricket>
    </ng-template>
  </ng-container>

  <div class="pagination-container d-flex justify-content-between align-items-center"
    *ngIf="!(nextPage == 0 && marketIds.length < 20 )  &&   sportsId != 'all'">
    <button [disabled]="!isPrev"
      class="btn pointer btn-theme d-flex align-items-center justify-content-center sm-fs-13 mt-2 mb-2 btn-sports-previous"
      (click)="prevCall()">
      <i class="bi bi-arrow-left me-1"></i>{{'previous'|translate}}
    </button>
    <button [disabled]="!isNext"
      class="btn pointer btn-theme d-flex align-items-center justify-content-center  sm-fs-13 mt-2 mb-2"
      (click)="nextCall()">
      {{'next'|translate}} <i class="bi bi-arrow-right ms-1"></i>
    </button>
  </div>
</div>