<div
  class="sports-games scrollable-list d-flex align-items-center"
  [ngClass]="!isMagicwin ? 'bd-sports-games-margin' : ''"
  *ngIf="sportsNavData && sportsNavData.length > 0"
>
  <div
    class="sports-item d-flex align-items-center justify-content-between pointer"
    *ngFor="let item of sportsNavData; let index = index"
    [class]="'sportsNavItem' + (index + 1)"
    (click)="routeToLink(item)"
  >
    <div class="sports-name sm-fs-13 sm-lap-14">
      {{ item.text }}
    </div>
    <div class="sports-img">
      <img
        [ngClass]="
          item.text == 'Horse Racing' || item.text == 'Greyhound'
            ? 'races-img'
            : ''
        "
        [src]="cdnSportsLanding + 'banners/' + item.id + '.png'"
        [alt]="item.text"
      />
    </div>
  </div>
</div>
<div
  class="sports-games scrollable-list d-flex align-items-center"
  [ngClass]="!isMagicwin ? 'bd-sports-games-margin' : ''"
  *ngIf="casinoNavData && casinoNavData.length > 0"
>
  <div
    class="sports-item d-flex align-items-center justify-content-between pointer"
    *ngFor="let item of casinoNavData; let index = index"
    [class]="'casinoNavItem' + (index + 1)"
    (click)="routeToLink(item)"
  >
    <div class="sports-name sm-fs-13 sm-lap-14">
      {{ item.text }}
    </div>
    <div class="sports-img">
      <img
        [src]="cdnSportsLanding + 'banners/' + item.id + '.png'"
        [alt]="item.text"
      />
    </div>
  </div>
</div>
<ng-container *ngIf="utillsService.skeltonLoaderForMobi | async">
  <app-skeleton-loader [loaderType]="'casinoNavData'"></app-skeleton-loader>
</ng-container>
