.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.sports-menu {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  background: var(--tabsBg);
  border-radius: 5px;

  .sport-item {
    flex: 0 0 auto;
    color: var(--tabSportIemClr);
    padding: 10px;
    background: var(--tabsBg);
    border-radius: 5px;
    white-space: nowrap;
    cursor: pointer;
    width: 159px;
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 7px;
    align-items: center;
    border-radius: 4.101px;

    img {
      width: 14.485px;
      height: 14.479px;
      filter: var(--tabFilterImg);
    }

    &:hover {
      cursor: pointer;
    }
    &:first-child {
      margin-left: 1px;
    }
    &:last-child {
      margin-right: 8px;
    }
  }
  .activeMenu {
    background: var(--tabActiveBgClr);
    border-radius: 6.05px;
    color: var(--tabActiveClr) !important;
    img {
      filter: var(--tabActiveFilterImg);
    }
  }
}

.other-site-upcoming-tab {
  .upcoming-tab-items {
    border-radius: 4.101px;
    background: var(--upcomingtabsBg);

    padding: 10px;
    .upcomingActiveTab {
      // background: var(--tabsBg);
      padding: 3px;
      border-radius: 2px;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        bottom: -6px;
        top: 32px;
        left: 0;
        width: 100%;
        height: 4px;
        background: var(--upcomingActiveTabBorderBottom);
      }
    }
    .menu {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      grid-gap: 17px;
      gap: 17px;
      color: var(--sportItemClr);
    }
  }

  .sport-item {
    border-radius: 7px;
    padding: 10px 22px;
    text-wrap: nowrap;
    color: var(--sportItemClr);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 5px;
    flex: 1;
    margin: 5px 2px;
    font-weight: 500;
    opacity: 0.55;
    border: 1px solid var(--sportItemBorderClr);
  }
  .sport-item-active {
    opacity: 1;
    color: var(--sportItemActiveClr);
    background-color: var(--sportItemBgClrActive) !important;
  }
}
@media (max-width: 767px) {
  .sports-menu {
    padding: 0px !important;
    background: unset !important;
    .sport-item {
      width: 122.181px !important;
      height: 32.193px;
      border-radius: 4.101px;
      border: 0.683px solid var(--tabsSmBBClr);
      margin: 6px -9px;
      flex: none !important;
      font-size: 13px;
      &.activeMenu {
        transform: scale(1.04);
        margin-left: 2px;
        margin-right: 2px;
        border: 0.683px solid var(--main-clr);
      }
    }
  }
  .other-site-upcoming-tab {
    .upcoming-tab-items {
      padding: 5px !important;
      .upcomingActiveTab {
        background: var(--upcomingActiveTabBg);
        color: var(--upcomingActiveTabClr);
        padding: 3px;
        border-radius: 2px;
        position: relative;
        font-weight: 600;
        &:after {
          display: none;
        }
      }
    }

    .sport-item {
      border-radius: 5px;
      padding: 7px 25px;
      font-weight: 400;
    }
  }
}

.see-all-menu {
  color: var(--landing-see-all-clr) !important;
}
