<div class="site_footer" id="site_footer-settings" [ngClass]="!isMagicwin ? 'otherFoter' :''">
  <div class="site_footer_inn">
    <ul class="nav-bottom-site site-ui-inn" [ngClass]="changeNavColor ? 'dark-bottom':''">

      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <div class="d-flex justify-content-center align-items-center flex-column " [routerLink]="homeObj.link">
          <img class="sport" [src]="cdnSportsLanding + 'banners/' + homeObj.id + '.png'" [alt]="homeObj.text">
          <a>
            {{homeObj.text}}
          </a>
        </div>
      </li>

      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <div class="d-flex justify-content-center align-items-center flex-column " [routerLink]="casinoObj.link">
          <img class="sport" [src]="cdnSportsLanding + 'banners/' + casinoObj.id + '.png'" [alt]="casinoObj.text">
          <a>
            {{casinoObj.text}}
          </a>
        </div>
      </li>
      <ng-container *ngIf="footerWhatsAppMulti;else elsePart">
        <li class="whatsApp-section" (click)="hideShowSetting($event)">
          <div class="whatsapp-methods" appClickOutside (clickOutside)="openWhatsPopup = false" *ngIf="openWhatsPopup">
            <div class="content" [@bottomToTop]="openWhatsPopup ? 'in' : 'void'">
              <div class="close-icon">
                <!-- <img src="https://iriscdn.b-cdn.net/kheloyar/Xcross.svg" alt=""> -->
                <i class="bi bi-x-lg fs-18"></i>
              </div>
              <ng-container *ngIf="!isLogin">
                <div class="whatsapp" (click)="forWhatsAppId()">
                  <div class="item">
                    <i class="bi bi-whatsapp"></i>
                  </div>
                  WhatsApp for New ID
                </div>
              </ng-container>
              <div class="whatsapp" (click)="forTelegramId()" *ngIf="isLogin && teleLinkAfterLogin">
                <div class="item telegram">
                  <i class="bi bi-telegram"></i>
                </div>
                {{"Telegram for Support"}}
              </div>
              <div class="whatsapp" (click)="forTelegramId()" *ngIf="!isLogin && teleLinkBefore">
                <div class="item telegram">
                  <i class="bi bi-telegram"></i>
                </div>
                {{"Telegram for New ID"}}
              </div>
              <ng-container *ngIf="isLogin">
                <div class="whatsapp" *ngIf="depositWpLink" (click)="forWhatsAppDeposit()">
                  <div class="item">
                    <i class="bi bi-whatsapp"></i>
                  </div>
                  WhatsApp for Deposit
                </div>
                <div class="whatsapp" *ngIf="withDrawWpLink" (click)="forWhatsAppWithDraw()">
                  <div class="item">
                    <i class="bi bi-whatsapp"></i>
                  </div>
                  WhatsApp for Withdraw
                </div>
              </ng-container>
              <div class="whatsapp" (click)="forWhatsAppSupport()">
                <div class="item">
                  <i class="bi bi-headset"></i>
                </div>
                WhatsApp for Support
              </div>
            </div>
          </div>
          <a class="whatsApp circle" target="_blank">
            <i class="bi bi-whatsapp"></i>
          </a>
        </li>
      </ng-container>
      <ng-template #elsePart>
        <li class="whatsApp-section" (click)="OpenWhatsApp()">
          <a class="whatsApp circle" target="_blank">
            <i class="bi bi-whatsapp"></i>
          </a>
        </li>
      </ng-template>
      <!-- <li class="hide-specific" [routerLinkActive]="['active']" routerLink="/sports"><a><i
            class="liveCasinoss"></i><span class="name-style">{{'Sports'|translate}}</span></a>
      </li> -->
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" *ngIf="!isLogin">
        <div class="d-flex justify-content-center align-items-center flex-column " [routerLink]="sportsObj.link">
          <img class="sport" [src]="cdnSportsLanding + 'banners/' + sportsObj.id + '.png'" [alt]="sportsObj.text">
          <a>
            {{sportsObj.text}}
          </a>
        </div>
      </li>
      <li *ngIf="isLogin" (click)="openMyMarkets()">
        <div class="d-flex justify-content-center align-items-center flex-column ">
          <img class="sport" [src]="cdnSportsLanding + 'banners/' + myMarketObj.id + '.png'" [alt]="myMarketObj.text">
          <a>
            {{myMarketObj.text}}
          </a>
        </div>
      </li>
      <li (click)="openMenuItem()">
        <div class="d-flex justify-content-center align-items-center flex-column ">
          <img class="sport" [alt]="menuObj.text" [src]='cdnSportsLanding + "banners/" + menuObj.id + ".png"'
            [alt]="menuObj.text" />
          <a>
            {{menuObj.text}}
          </a>
        </div>
      </li>
      <!-- <li (click)="openMenuItem()"><a>
          <img class="icon-navbar-site" style="max-width: 18px;"
            [src]='display ? "https://iriscdn.b-cdn.net/kheloyar/menuItems/clos.svg" : "https://iriscdn.b-cdn.net/magicwin.games/icon/More22.svg" ' />
          <span class="name-style">{{'Menu'|translate}}</span></a></li> -->
    </ul>
  </div>
</div>
