<div class="preloader-wrapper big active">
  <div class="row">
    <div class="col-12 " style="padding: 5px 15px" *ngIf="result">
      <div class="score-wrapper">
        <table class="table table-sm">
          <tbody>
            <tr>
              <td><span>{{team1}}</span></td>
              <td><span>{{result.home.gameSequence.length > 0 ? result.home.gameSequence[0] : result.home.games}}</span>
              </td>
              <td><span>{{result.home.games}}</span></td>
              <td><span>&nbsp;</span></td>
              <td><span>{{result.home.score}}</span></td>
              <td><span>{{result.home.aces}}</span></td>
              <td><span>{{result.home.doubleFaults}}</span></td>
              <td><span>{{result.home.serviceBreaks}}</span></td>
            </tr>
            <tr>
              <td><span>{{team2}}</span></td>
              <td><span>{{result.away.gameSequence.length > 0 ? result.away.gameSequence[0] : result.away.games}}</span>
              </td>
              <td><span style="color: green;">{{result.away.games}}</span></td>
              <td><span>&nbsp;</span></td>
              <td><span style="color: green;">{{result.away.score}}</span></td>
              <td><span>{{result.away.aces}}</span></td>
              <td><span>{{result.away.doubleFaults}}</span></td>
              <td><span>{{result.away.serviceBreaks}}</span></td>
            </tr>
            <tr class='match-details'>
              <td><span>{{'players' | translate }}</span></td>
              <td><span>1</span></td>
              <td><span>2</span></td>
              <td><span>3</span></td>
              <td><span>{{'points' | translate }}</span></td>
              <td><span>{{'aces' | translate }}</span></td>
              <td><span>{{'doublefaults' | translate }}</span></td>
              <td><span>{{'servicebreaks' | translate }}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- <ng-template #showname>
  <h2 class="card">{{mktName}}</h2>
</ng-template> -->
